%section
  %a#under-banner-link.text-center{href: "/business/overdraft/", title: "Больше возможностей"}
    %span Больше возможностей:
    Откройте расчетный счет и сразу получите
    %strong
      овердрафт!
