%section
  %a#under-banner-link.text-center{href: "/clients/32/", title: "Больше доход с Интернет-Банком"}
    %span Больше возможностей:
    Откройте расчетный счет и сразу получите
    %strong
      овердрафт!
