%section
  %a#under-banner-link.text-center{href: "/clients/32/", title: "Больше доход с Интернет-Банком"}
    %span Больше возможностей:
    Получите доход сразу при открытии
    %strong
      счета
    !
