%section
  %a#under-banner-link.text-center{href: "/files/file/nachislenie-procentov-na-ostatok-business-current/", title: "Больше возможностей"}
    %span Больше возможностей:
    Получите доход сразу при открытии
    %strong
      счета
    !
