%section.padding-50.product-services-block
  .row.large-text-centred
    .columns.small-12.large-centered.large-10
      .row
        .columns.large-3.small-6
          .row
            .columns.small-4.large-12
              %p
                =image_tag "features/0001/01/d68cc2b81fb06b2681a0e49b42d21465bb40bfcd.png"
            .columns.small-8.large-12
              %h4
                До 300 000 рублей
        .columns.large-3.small-6
          .row
            .columns.small-4.large-12 
              %p
                =image_tag "features/0001/01/5595751781e61b2362aca2841653e1042453d7fd.png"
            .columns.small-8.large-12
              %h4
                Низкая ставка по кредиту
        .columns.large-3.small-6
          .row
            .columns.small-4.large-12
              %p
                =image_tag "features/0001/01/e817a41fb610d4897ddb7c400e58c384c57e512c.png"
            .columns.small-8.large-12
              %h4
                Никаких комиссий
        .columns.large-3.small-6
          .row
            .columns.small-4.large-12
              %p
                =image_tag "features/0001/01/70e33c7114d322bf0dff9d49f80ebfba51f92adf.png"
            .columns.small-8.large-12
              %h4
                Нужен только паспорт
