%section.section-bg-gray.padding-70.shadow-inset.product-services-block
  .row
    %ul.small-12.large-12.text-center
      %li
        = image_tag "/images/features/0001/01/d68cc2b81fb06b2681a0e49b42d21465bb40bfcd.png" 
        %p
          %strong
            До 300 000 рублей
      %li
        = image_tag "/images/features/0001/01/5595751781e61b2362aca2841653e1042453d7fd.png" 
        %p
          %strong
            Низкая ставка по кредиту
      %li
        = image_tag "/images/features/0001/01/e817a41fb610d4897ddb7c400e58c384c57e512c.png" 
        %p
          %strong
            Никаких комиссий
      %li
        = image_tag "/images/features/0001/01/70e33c7114d322bf0dff9d49f80ebfba51f92adf.png" 
        %p
          %strong
            Нужен только паспорт
