%section.section-bg-gray.padding-70.shadow-inset-top.product-services-block
  .row.large-text-centred
    .columns.small-12.large-centered.large-12
      .row
        .columns.large-2.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "service/0001/01/01dcd4ddc0e2be68c31c630fa26274b103ee55e6.png"
            .columns.small-10.large-12
              %h4
                Услуги
              %p.small
                Быстрая оплата счетов за&nbsp;всевозможные услуги.
        .columns.large-2.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "service/0001/01/fc54847c16b06bed65b11a13a366c739168b5449.png"
            .columns.small-10.large-12
              %h4
                Мобильный&nbsp;счет
              %p.small
                Легко пополняйте счет мобильного телефона себе или друзьям.
        .columns.large-2.small-12
          .row
            .columns.small-2.large-12      
              %p
                =image_tag "service/0001/01/80b0ed15d403e730675195d42b6412b25b923456.png"
            .columns.small-10.large-12
              %h4
                Переводы
              %p.small
                Делайте переводы другим людям по шаблонам в Интернет-Банке.
                %br
                %a{href:"/internet-bank/"}
                  Подробнее про Интернет-Банк
        .columns.large-2.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "service/0001/01/c0149b4c8ab142b67d6417f30808e85920566823.png"
            .columns.small-10.large-12
              %h4
                Карты
              %p.small
                Переводите деньги между счетами и&nbsp;картами.
                %br
                %a{href:"/debetovye-karty/"}
                  Подробнее про карты
        .columns.large-2.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "service/0001/01/0d098a420932159be6291a5637f6e3bd9e22f9ee.png"
            .columns.small-10.large-12
              %h4
                Валюты
              %p.small
                Переводите средства из&nbsp;одной валюты в&nbsp;другую.
        .columns.large-2.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "service/0001/01/eb12de6ec7c3d747093660d069b837de5174d033.png"
            .columns.small-10.large-12
              %h4
                Банкоматы
              %p.small
                Находите ближайшие банкоматы для пополнения счета, где&nbsp;бы вы&nbsp;ни&nbsp;находились.
                %br
                %a{href:"/recharge/"}
                  Подробнее про пополнение счета
