%section.section-bg-gray.padding-70.shadow-inset.product-services-block

  .row
    .columns.small-12
      %h2.margin-bottom-20
        Пополнить счет, если вы здесь:

  .row
    .columns.small-10.small-centered
      .row.text-center
        .columns.small-3
          .small-5.margin-auto
            %p
              =image_tag "service/0001/01/6e1b02004a4cd0992c09ff4ef06f53cc5599b7e1.png"
        .columns.small-3          
          .small-5.margin-auto
            %p
              =image_tag "service/0001/01/35d3ed95a08ecb39931fd1945d4035bde5de29f8.png"
        .columns.small-3          
          .small-5.margin-auto
            %p
              =image_tag "service/0001/01/7fdd104be92df899c5deedd885f06add882211c6.png"
        .columns.small-3          
          .small-5.margin-auto
            %p
              =image_tag "service/0001/01/63af1802eaefea4ed925d5cf73f3e487a9a19d07.png"

      .row.text-center
        .columns.small-3
          %h4
            1. Перевести зарплату
          %p.small
            Ваша зарплата может автоматически перечисляться на ваш счет в 2ТБанке.
            %a{href: "#"}
              Подробнее
        .columns.small-3
          %h4
            2. Безналичный перевод
          %p.small
            Вы можете просто сделать безналичный перевод денег на свой счет в 2ТБанке.
            %a{href: "#"}
              Подробнее
        .columns.small-3
          %h4
            3. В отделениях банка
          %p.small
            При желании вы всегда можете обратиться к менеджеру 2ТБанка или банка-партнера.
            %a{href: "#"}
              Подробнее
        .columns.small-3
          %h4
            4. Cash-in
          %p.small
            Вы можете положить деньги на свой счет через банкомат банка-партнера с функцией кэш-ин.
            %a{href: "#"}
              Подробнее


