%section.section-bg-gray.padding-70.product-services-block
  .row
    .columns.small-12
      %h2.margin-bottom-20
        Пополнить счет, если вы здесь:
  .row.large-text-centred
    .columns.small-12.large-centered.large-10
      .row
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "service/0001/01/6e1b02004a4cd0992c09ff4ef06f53cc5599b7e1.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                1. Перевести зарплату
              %p.small
                Ваша зарплата может автоматически перечисляться на ваш счет в 2ТБанке.
              %p.small
                %a.dashed.js-scroll-navigate{href:"#salary"}
                  Подробнее
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12 
              %p
                =image_tag "service/0001/01/35d3ed95a08ecb39931fd1945d4035bde5de29f8.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                2. Безналичный перевод
              %p.small
                Вы можете просто сделать безналичный перевод денег на свой счет в 2ТБанке.
              %p.small
                %a.dashed.js-scroll-navigate{href:"#cashless"}
                  Подробнее
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "service/0001/01/7fdd104be92df899c5deedd885f06add882211c6.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                3. В отделениях банка
              %p.small
                При желании вы всегда можете обратиться к менеджеру 2ТБанка или банка-партнера.
              %p.small
                %a.dashed.js-scroll-navigate{href:"#in_bank_offices"}
                  Подробнее
              / %p.small.muted
              /   В этом городе нет офисов для пополнения счета
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "service/0001/01/63af1802eaefea4ed925d5cf73f3e487a9a19d07.png", :style => "width:70px"
            .columns.small-10.large-12
              %h4
                4. Cash-in
              %p.small
                Вы можете положить деньги на свой счет через банкомат банка-партнера с функцией кэш-ин.
              %p.small
                %a.dashed.js-scroll-navigate{href:"#cash_in"}
                  Подробнее
              / %p.small.muted
              /   В этом городе нет терминалов для пополнения счета
