%section.product-feedbacks-block
  .row.feeds-block
    .columns.small-3.small-offset-0.large-offset-1.large-2
      %i.icon.icon-cat-feedback
    .columns.small-9.left.text-center.large-7
      %h3 Мы очень постарались для вас. Нравится?
      .addthis_toolbox.addthis_default_style.addthis_32x32_style
        %span.item
          %a.addthis_button_facebook{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
        %span.item
          %a.addthis_button_twitter{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
        %span.item
          %a.addthis_button_vk{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
        %span.item
          %a.addthis_button_odnoklassniki_ru{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
      %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50c5f1d012151835", type: "text/javascript"}

  .row.contacts-block
    .columns.small-12
      %h3 Свяжитесь с нами любым удобным способом:
    .columns.small-12.large-3
      .row
        .columns.small-5.large-12
          %h6 Например, по телефону:
        .columns.small-7.large-12
          %h2 8-800-100-94-34
    .columns.small-12.large-3
      %a.button.radius.expand{href: "#"}
        Пожалуйста, перезвоните
        %br.show-for-medium-up
        мне сами
    .columns.small-12.large-3
      %a.button.radius.expand{href: "#"}
        Лучше
        %br.show-for-medium-up
        я позвоню с сайта
    .columns.small-12.large-3
      %a.button.radius.expand{href: "#"}
        Пожалуй, чат со специалистом удобнее