#maf_success.reveal-modal.tiny.confirm-modal.text-center{data: {options: "closeOnBackgroundClick: false;"}}
  %h2 Поздравляем!
  %h3 Ваша анкета принята. Сотрудник банка свяжется с вами для уточнения информации.
  .buttons
    %a#maf_final_button.button.medium{href: "#"} Продолжить