#maf_reject.reveal-modal.tiny.confirm-modal.text-center{data: {options: "closeOnBackgroundClick: false;"}}
  %h2 Внимание!
  %h3 К сожалению, в данный момент мы вынуждены отказать Вам в кредите. Пожалуйста, оставьте повторную заявку через месяц.
  .buttons
    %a#maf_final_button.button.medium{href: "#"} Продолжить