#maf_close_form.reveal-modal.tiny.confirm-modal.text-center{data: {options: "closeOnBackgroundClick: false;"}}
  %h2 Закрыть анкету?
  %h3 Уверены в этом? Ваши данные будут потеряны
  .buttons
    %a#maf_close_form_no.button.medium{href: "#"} Нет
    %a#maf_close_form_yes.button.medium{href: "#"} Да