#maf_foreign_relations_modal.reveal-modal.confirm-modal
  %p.medium
    Являетесь ли Вы (или Ваши родственники) иностранным публичным должностным лицом,  должностным лицом публичных международных организаций, лицом, замещающим (занимающим) государственные должности в РФ, должности в ЦБ РФ, федеральной государственной службы, в государственных корпорациях и иных организациях, созданных РФ, на основании федеральных законов?

  %a.close-reveal-modal &#215;