#maf_accept_conditions.reveal-modal.confirm-modal
  %p.small
    Я&nbsp;выражаю согласие Банк&nbsp;&mdash; Т&nbsp;(ОАО), адрес места нахождения: 123610, г. Москва, Краснопресненская набережная, д. 12&nbsp;(далее&nbsp;&mdash; Банк) на&nbsp;обработку следующей информации обо мне:
    %br
      &mdash;&nbsp;фамилия, имя, отчество,
      %br
      &mdash;&nbsp;год, месяц, число и&nbsp;место рождения,
      %br
      &mdash;&nbsp;адрес регистрации,
      %br
      &mdash;&nbsp;адрес фактического места жительства,
      %br
      &mdash;&nbsp;семейное, социальное, имущественное положение (в&nbsp;том числе, информация о&nbsp;супруге и&nbsp;близких родственниках),
      %br
      &mdash;&nbsp;образование, профессия,
      %br
      &mdash;&nbsp;сведения о&nbsp;доходах, сведения о&nbsp;месте работы,
      %br
      &mdash;&nbsp;сведения о&nbsp;наличии у&nbsp;меня задолженности по&nbsp;оплате коммунальных платежей,
      %br
      &mdash;&nbsp;номер документа, удостоверяющего личность, сведения о&nbsp;дате выдачи указанного документа и&nbsp;выдавшем его органе.


    %p.small
      Настоящим я&nbsp;даю Банку свое согласие на&nbsp;осуществление следующих не&nbsp;противоречащих законодательству действий в&nbsp;отношении персональных данных, которые необходимы для достижения указанных в&nbsp;настоящем Заявлении целей: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передача (в&nbsp;т.ч. распространение) , обезличивание, блокирование, уничтожение, трансграничную передачу персональных данных, получение от&nbsp;третьих лиц (работодатель, указанные мной родственники) информации, уточняющей персональные данные. Обработка персональных данных будет осуществляться Банком с&nbsp;применением следующих основных способов (но, не&nbsp;ограничиваясь ими): хранение, запись на&nbsp;электронные носители и&nbsp;их&nbsp;хранение, составление перечней, маркировка. Я&nbsp;не&nbsp;возражаю против поручения Банком обработки моих Персональных данных в&nbsp;целях и&nbsp;способами, указанными в&nbsp;настоящем Согласии, третьим лицам на&nbsp;основании соответствующих договоров. Я&nbsp;даю согласие на&nbsp;предоставление Банком всей имеющейся обо мне информацию в&nbsp;объеме, в&nbsp;порядке и&nbsp;на&nbsp;условиях, определенных Федеральным законом &laquo;О&nbsp;кредитных историях&raquo; &#8470;&nbsp;218-ФЗ от&nbsp;30&nbsp;декабря 2004&nbsp;года, во&nbsp;все бюро кредитных историй, включенные в&nbsp;государственный реестр бюро кредитных историй, а&nbsp;также на&nbsp;получение Банком кредитного отчета из&nbsp;вышеуказанных бюро. Настоящее согласие дается в&nbsp;целях рассмотрения возможности вступления в&nbsp;договорные отношения с&nbsp;Банком, заключения с&nbsp;Банком договоров по&nbsp;оказанию банковских услуг и&nbsp;их&nbsp;дальнейшего исполнения, а&nbsp;также продвижения услуг Банка, в&nbsp;том числе путем прямых контактов со&nbsp;мной с&nbsp;помощью почтовой рассылки и&nbsp;технических средств связи (в&nbsp;том числе для обработки персональных данных с&nbsp;использованием оценочных (скоринговых) методик, предоставления персональных данных в&nbsp;обезличенном виде третьим лицам для их&nbsp;обработки с&nbsp;применением оценочных (скоринговых) методик, в&nbsp;целях использования результатов такой обработки неограниченным кругом лиц для предупреждения возможного мошенничества при предоставлении кредитных (заемных) средств), в&nbsp;целях определения необходимого для меня коммерческого предложения и&nbsp;информирования о&nbsp;нем. Настоящим я&nbsp;подтверждаю, что, давая такое согласие, я&nbsp;действую своей волей и&nbsp;в&nbsp;своем интересе. Настоящее согласие действует со&nbsp;дня его предоставления до&nbsp;окончания срока действия Договора и&nbsp;продлевается сроком на&nbsp;5 (пять) лет с&nbsp;момента окончания срока действия Договора для поддержания клиентских отношений с&nbsp;Банком. В&nbsp;случае отказа Банка в&nbsp;выдаче мне кредита и/или иного коммерческого предложения, моего отказа от&nbsp;получения Кредита и/или иного коммерческого предложения в&nbsp;любой момент в&nbsp;ходе рассмотрения и&nbsp;информирования меня о&nbsp;нем, я&nbsp;даю согласие сроком на&nbsp;3 (три) года на&nbsp;обработку и&nbsp;использование моих персональных данных в&nbsp;целях информирования меня Банком о&nbsp;новых банковских продуктах и&nbsp;услугах, предоставляемых Банком и&nbsp;его партнерами.

  %a.close-reveal-modal &#215;