%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "balance-transfer.e07bd79a20f3.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          К
        р
        %span.b<>
          ед
        %span.smb<>
          и
        т Тр
        %span.bcond<>
          ансф
        ер
      .discription
        %p
          —это возможность получить более привлекательные условия по своим действующим потребительским кредитам или кредитным картам и даже объединить все кредиты в один, заметно снизив при этом ежемесячный платеж.

      .small-12.large-8.large-centered
        %a.button.large.radius.expand{href: "#"}
          Заказать
          %br.hide-for-small
          Кредит
          Трансфер