%section.bank-about-information
  .row
    .columns.small-12.large-3.bank-about-sidebar
      .row
        .logo-block.columns.small-4.large-10
          = image_tag "logo-black.png"

        .columns.small-8.large-12
          %ul.side-nav
            %li.active Информация о Банке
            %li
              %a{href: "/business/o-banke/info/", title: "Раскрытие информации"} 
                Раскрытие информации
            %li
              %a{href: "/business/o-banke/financial-statements/", title: "Финансовая отчетность"} 
                Финансовая отчетность
            %li
              %a{href: "/business/o-banke/requisites/", title: "Реквизиты"} 
                Реквизиты
            %li
              %a{href: "/business/o-banke/registry-rules/", title: "Правила ведения реестра владельцев акций Банка "} 
                Правила ведения реестра владельцев акций Банка 

    .columns.small-12.large-9
      %h1 Информация о банке
      %h3 Миссия банка
      %p.large 
        Обеспечить активных русскоговорящих людей, независимо от местоположения, наиболее необходимыми и надежными
        %i.icon.icon-card-ico
        %strong финансовыми продуктами 
        , включая круглосуточную поддержку и свободный доступ к ним.

      .text-center.mission-yelow
        .top
        .section-bg-yelow
          %p.large 
            %i.icon.icon-ico-clock 
            %strong 24/7 
            в любой 
            %i.icon.icon-ico-point 
            точке мира
        .bottom

      %h2 2TBank.ru — банковский сервис 2тЭффект
      %p
        Он позволяет самостоятельно дистанционно управлять финансами. Мы рады обеспечить своим клиентам доступ к текущим счетам, вкладам и кредитам в режиме: 24/7 в любой точке планеты.
      %p
        2TBank.ru предлагает набор необходимых продуктов, разработанных по принципу «ничего лишнего». Мы делаем все для того, чтобы Вам было удобно и комфортно, а кроме того — выгодно!

      .padding-30
        %h2 Наши принципы
        .row
          .columns.small-12.large-6
            .row
              .columns.small-5.large-12
                =image_tag "/images/features/0001/01/27907641160dd29eca287a90429106ecc3aeda6a.png"
              .columns.small-7.large-12
                %h4 Выпуск карты бесплатно
                %p
                  Мы считаем, что клиенты не должны платить за карту. Первая стандартная карта MasterCard, которую мы выпускаем каждому клиенту, обслуживается бесплатно.
                  %a{href: "/debetovye-karty/"} Подробнее о карте MasterCard
                  \.
          .columns.small-12.large-6
            .row
              .columns.small-5.large-12
                =image_tag "/images/features/0001/01/f224bbd28d5e1d40bed9fa01a1d900282ff8a189.png"
              .columns.small-7.large-12
                %h4 Бесплатное обслуживание и платежи
                %p
                  Мы считаем, что клиенты не должны платить за обслуживание. Мы не берем абонентской платы и бесплатно проводим все платежи и переводы через Интернет-Банк.
                  %a{href: "/internet-bank/"} Подробнее об Интернет-Банке
                  \.
        .row
          .columns.small-12.large-6
            .row
              .columns.small-5.large-12
                =image_tag "/images/features/0001/01/4049eacec6da9ecb7d7bd26289e67dde53062a74.png"
              .columns.small-7.large-12
                %h4 Бесплатные наличные в любой точке мира
                %p
                  Мы считаем, что клиенты не должны платить за доступ к своим деньгам. Мы сделали возможность снимать наличные бесплатно в любом банкомате мира.
                  %a{title: "Снятие наличных", href: "/cash-withdrawal/"} Подробнее о снятии наличных
                  \.
          .columns.small-12.large-6
            .row
              .columns.small-5.large-12
                =image_tag "/images/features/0001/01/e06d1a432b38b742626b9ba165a2d83d0fe8364c.png"
              .columns.small-7.large-12
                %h4 Бесплатное пополнение счета
                %p
                  Мы считаем, что клиенты не должны платить за пополнение своего счета. Ваш счет можно бесплатно пополнить безналичным переводом из любого банка и через 3000 банкоматов и офисов.
                  %a{href: "/recharge/"} Подробнее о точках пополнения
                  \.

      .master-card.text-center
        =image_tag "master-card.png"
        %p
          При открытии любого счета клиент сразу бесплатно получает инструменты удаленного доступа: Интернет-Банк, мобильный банк, дебетовую карту MasterCard.

      .padding-40
        %h2 Операции через Интернет
        %h4 Осуществление банковских операций через Интернет — это удобное управление своими финансами 24 часа/7 дней в неделю.
        %p Все, что для этого нужно — компьютер или любое мобильное устройство, подключенное к сети Интернет. Совершение банковских операций по телефону также позволяет экономить время.

        .row
          .columns.small-12.large-6
            .row
              .columns.small-5.large-12
                =image_tag "transactions_ico1.png"
              .columns.small-7.large-12
                %h4 Ваши правила
                %p.medium
                  Мы не устанавливаем никаких регулярных платежей и не навязываем ограничений или дополнительных специальных условий.
                %p.medium
                  Мы не устанавливаем никаких регулярных платежей и не навязываем ограничений или дополнительных специальных условий.
          .columns.small-12.large-6
            .row
              .columns.small-5.large-12
                =image_tag "transactions_ico2.png"
              .columns.small-7.large-12
                %h4 Дистанционное обслуживание
                %p.medium
                  Мы используем систему дистанционного банковского обслуживания, благодаря которой необходимость поездок в наш офис сведена к минимуму.
                %p.medium
                  Клиенты 2TBank.ru имеют возможность производить все основные операции через Интернет и по телефону.
                .blue-block
                  %i.icon.icon-ico-comp
                  +
                  %i.icon.icon-ico-phone

      %h3 Для кого?
      %h4 Мы работаем как с частными лицами, так и с индивидуальными предпринимателями, отлично взаимодействуем с компаниями малого и среднего бизнеса:
      .row
        .columns.small-12.large-6
          .row
            .columns.small-4.large-12    
              =image_tag "/images/product/0001/01/3cce78cb3b26c6643a76807757e9444fe8afb094.png"
            .columns.small-8.large-12
              %h4 тСчет
              %p.margin-bottom-40 Личный счет, с возможностью овердрафта, с нулевой платой за обслуживание и осуществление платежей в рублях.
              %a.button.small{href: "/schet-dlya-zhizni/", title: "тСчет"} Расскажите подробнее
        .columns.small-12.large-6
          .row
            .columns.small-4.large-12    
              =image_tag "/images/product/0001/01/0b7253237711df8e7fb252f74a8ac0d022565d0e.png"
            .columns.small-8.large-12
              %h4 Счет для бизнеса
              %p.margin-bottom-40 Сберегательный счет, проценты на который начисляются с 1-го дня, а ограничения сроков по снятию средств отсутствуют.
              %a.button.small{href: "/business/schet-dlya-biznesa", title: "Счет для бизнеса"} Расскажите подробнее
      %p.medium.margin-bottom-40
        В ближайшее время будут запущены следующие сервисы:

      %ul.no-bullet
        %li
          %i.icon.icon-bullet-yelow
          Программа взаимного кредитования.
        %li
          %i.icon.icon-bullet-yelow
          Программа коллективного кредитования.
        %li
          %i.icon.icon-bullet-yelow
          Программа коллективных инвестиций.
        %li
          %i.icon.icon-bullet-yelow
          Брокерское обслуживание.
        %li
          %i.icon.icon-bullet-yelow
          Инвестиционные и страховые продукты нового поколения.
        %li
          %i.icon.icon-bullet-yelow
          Программа коллективных покупок.

      .row.hide-for-small
        .columns.small-12.small-centered.sub-line

      %section.product-insured-block
        .row.hide-for-small
          .columns.small-10.small-centered.sub-line

        .row
          .columns.small-3.hide-for-small
            %i.icon.icon-insured
          .columns.small-12.large-9.left
            %h2 Банк входит в Систему страхования вкладов и регулярно осуществляет отчисления в Фонд страхования вкладов с привлекаемых средств.
            %p
              %strong Банк – Т (ОАО)
              является участником государственной Системы страхования вкладов, которая гарантирует каждому вкладчику полный возврат средств до 700 000 рублей (или эквивалента в долларах США / евро).

              %ul.inline-list
                %li
                  %i.icon.icon-ico-pdf
                %li
                  %a{href: "/media/download/straxovanie_vkladov_Bank-T.pdf", target: "_blamk", title: "Свидетельство о страховании вкладов"} Свидетельство о страховании вкладов

      %ul.douments-block
        %li
          %i.icon.icon-documents.left
          Лицензия от 13.09.2010
          %p
            %a{href: "/media/download/183.pdf", target: "_blank"} Лицензия на осуществление банковских операций со средствами в рублях и в иностранной валюте (без права привлечения во вклады денежных средств физических лиц)
          %span Документ Adobe Acrobat
        %li
          %i.icon.icon-documents.left
          Лицензия от 13.09.2010 
          %p
            %a{href: "/media/download/181.pdf", target: "_blank"} Лицензия на привлечение во вклады денежных средств физических лиц в рублях и иностранной валюте от 13.09.2010
          %span Документ Adobe Acrobat
        %li
          %i.icon.icon-documents.left
          %p
            %a{href: "/media/download/178.pdf", target: "_blank"} Свидетельство участника Системы страхования вкладов
          %span Документ Adobe Acrobat

%section.product-feedbacks-block
  = render template: "shared/feeds"
  = render template: "shared/contacts"


