%section.padding-top-30.bank-about-page
  .row
    .columns.small-12.large-3.bank-about-sidebar
      .row
        .logo-block.columns.small-4.large-10
          = image_tag "logo-black.png"

        .columns.small-8.large-12
          %ul.side-nav
            %li
              %a{href: "/business/o-banke/", title: "О банке"} 
                Информация о Банке
            %li.active
              Раскрытие информации
              %ul.hash-nav         
                %li
                  %a.dotted{href: "#shareholders"}Акционеры
                %li
                  %a.dotted{href: "#bank-address"}Адрес банка
                %li
                  %a.dotted{href: "#site-info"}Информация о сайте
                %li
                  %a.dotted{href: "#documents"}Документация
                %li
                  %a.dotted{href: "#affiliated-societies"}Зарегистрированные филиалы
                %li
                  %a.dotted{href: "#requisites"}Реквизиты
                %li
                  %a.dotted{href: "#banking-supervision"}Надзор за деятельностью банка
                %li
                  %a.dotted{href: "#audit"}Сведения об аудиторской организации
                %li
                  %a.dotted{href: "#deposit-insurance"}Участник в системе страхования вкладов

            %li
              %a{href: "/o-banke/financial-statements/", title: "Финансовая отчетность"} 
                Финансовая отчетность
            %li
              %a{href: "/o-banke/requisites/", title: "Реквизиты"} 
                Реквизиты
            %li
              %a{href: "/o-banke/registry-rules/", title: "Правила ведения реестра владельцев акций Банка "} 
                Правила ведения реестра владельцев акций Банка 

    .columns.small-12.large-9.margin-bottom-40
      %h1 Раскрытие информации

      %section.page-section
        %ul.as-table.no-bullet
          %li.row.header-yelow-line
            .columns.small-6
              Определение
            .columns.small-6
              Наименование
          %li.row
            .columns.small-6
              Полное наименование:
            .columns.small-6
              %strong 
                Банк - Т
              (Открытое акционерное общество)
          %li.row
            .columns.small-6
              Сокращенное наименование:
            .columns.small-6
              %strong 
                Банк - Т
              (ОАО)
          %li.row
            .columns.small-6
              Полное на английском языке:
            .columns.small-6
              %strong 
                Bank – T
              (Public limited company)
          %li.row
            .columns.small-6
              Сокращенное наименование на английском языке:
            .columns.small-6
              %strong 
                Bank – T
              (PLC)
          %li.row
            .columns.small-6
              Cтраница
            .columns.small-6
              %a{href: "http://www.cbr.ru/credit/coinfo.asp?id=30000024", target: "_blank"}
                %strong 
                  Банк - Т
                (ОАО) на WEB-сайте Банка России


      %section#shareholders.page-section
        %h2 Акционеры
        %p
          Акционерами Банк - Т (ОАО) являются: семь физических лиц-резидентов РФ, одно физическое лицо – нерезидент РФ, пять юридических лиц-резидентов РФ и одно юридическое лицо-нерезидент РФ, основные направления деятельности которых сосредоточены в инвестиционно-финансовой деятельности, агропромышленной, строительной и транспортных отраслях, а также в сфере производства продуктов питания.
        %p
          В состав аффилированных лиц Банк – Т (ОАО) входят десять физических лиц – резидентов РФ и одно юридической лицо – резидент РФ.
        %p
          В целях учета владельцев акций Банка в Банке действуют Правила ведения реестра владельцев именных ценных бумаг, утвержденные Советом директоров Банка (Протокол № 7 от 18.09.2012 г.). Заверенная в надлежащем порядке копия действующих правил ведения реестра владельцев именных ценных бумаг предоставляется Банком по требованию заинтересованного лица в течение семи дней.


      %section#bank-address.page-section
        %ul.no-bullet.as-table
          %li
            .columns.small-5
              %strong Юридический адрес:
            .columns.small-7
              123610, г. Москва, Краснопресненская набережная, д. 12
          %li
            .columns.small-5
              %strong Фактический адрес:
            .columns.small-7
              123610, г. Москва, Краснопресненская набережная, д. 12
          %li
            .columns.small-5
              Телефон:
            .columns.small-7
              +7 (495) 58-77-888
          %li
            .columns.small-5
              Факс:
            .columns.small-7
              +7 (495) 258-19-73
          %li
            .columns.small-5
              @-почта:
            .columns.small-7
              %a{title: "info@2tbank.ru", href: "mailto:info@2tbank.ru"}
                info@2tbank.ru


      %section#site-info.page-section
        %h2 Информация о сайте
        %p
          Банк - Т (ОАО) считает необходимым максимально точно и своевременно доносить информацию до посетителей сайта об услугах, предоставляемых банком, а также оперативно обновлять информацию, размещенную на сайте.
        %p.muted
          При этом Банк - Т (ОАО) рекомендует перед принятием ответственных решений получать консультации специалистов Банк - Т (ОАО). Порядок обновления информации на сайте банка определён во внутренних документах Банк - Т (ОАО).


      %section#documents.page-section.info-about-documents-section
        %ul.header.inline-list
          %li
            %a.active{href: "#"} Общая документация
          %li
            %a{href: "#"} Лицензии и документы 
        %ul.documents-inline-block-list.row
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/548.pdf", title: "Список лиц, оказывающих существенное (прямое или косвенное) влияние на решения, принимаемые органами управления Банка", target: "_blank"} Список лиц, оказывающих существенное (прямое или косвенное) влияние на решения, принимаемые органами управления Банка
            %p.muted
              Документ Adobe Acrobat,
              %br
              416.4 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/307.pdf", title: "Акционеры", target: "_blank"} Акционеры
            %p.muted
              Документ Adobe Acrobat,
              %br
              68.6 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/308.pdf", title: "Аффилированные лица", target: "_blank"} Аффилированные лица
            %p.muted
              Документ Adobe Acrobat,
              %br
              54.9 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/314.pdf", title: "Руководство", target: "_blank"} Руководство
            %p.muted
              Документ Adobe Acrobat,
              %br
              80.0 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/310.pdf", title: "Информация о Новороссийском филиале", target: "_blank"} Информация о Новороссийском филиале
            %p.muted
              Документ Adobe Acrobat,
              %br
              49.2 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/311.pdf", title: "Информация о Северо-Западном филиале", target: "_blank"} Информация о Северо-Западном филиале
            %p.muted
              Документ Adobe Acrobat,
              %br
              48.4 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/312.pdf", title: "Анкета клиента - кредитной организации", target: "_blank"} Анкета клиента - кредитной организации
            %p.muted
              Документ Adobe Acrobat,
              %br
              121.8 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/313.pdf", title: "Письмо о мерах ПОД ФТ", target: "_blank"} Письмо о мерах ПОД ФТ
            %p.muted
              Документ Adobe Acrobat,
              %br
              54.5 Kb

        %ul.documents-inline-block-list.row.hide
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/185.pdf", title: "Устав Банк - Т", target: "_blank"} Устав Банк - Т
            %p.muted
              Документ Adobe Acrobat,
              %br
              3,293.8 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/179.pdf", title: "Свидетельство о государственной регистрации кредитной организации", target: "_blank"} Свидетельство о государственной регистрации кредитной организации
            %p.muted
              Документ Adobe Acrobat,
              %br
              486.7 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/180.pdf", title: "Свидетельство о постановке на учёт в налоговом органе", target: "_blank"} Свидетельство о постановке на учёт в налоговом органе
            %p.muted
              Документ Adobe Acrobat,
              %br
              279.4 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/183.pdf", title: "Лицензия на осуществление банковских операций со средствами в рублях и в иностранной валюте (без права привлечения во вклады денежных средств физических лиц) от 13.09.2010", target: "_blank"} Лицензия на осуществление банковских операций со средствами в рублях и в иностранной валюте (без права привлечения во вклады денежных средств физических лиц) от 13.09.2010
            %p.muted
              Документ Adobe Acrobat,
              %br
              372.8 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/181.pdf", title: "Лицензия на привлечение во вклады денежных средств физических лиц в рублях и иностранной валюте от 13.09.2010", target: "_blank"} Лицензия на привлечение во вклады денежных средств физических лиц в рублях и иностранной валюте от 13.09.2010
            %p.muted
              Документ Adobe Acrobat,
              %br
              363.3 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/178.pdf", title: "Свидетельство участника Системы страхования вкладов", target: "_blank"} Свидетельство участника Системы страхования вкладов
            %p.muted
              Документ Adobe Acrobat,
              %br
              412.3 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/314.pdf", title: "Лицензия на осуществление брокерской деятельности", target: "_blank"} Лицензия на осуществление брокерской деятельности
            %p.muted
              Документ Adobe Acrobat,
              %br
              416.8 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/licence-deposit.pdf", title: "Лицензия на осуществление депозитарной деятельности", target: "_blank"} Лицензия на осуществление депозитарной деятельности
            %p.muted
              Документ Adobe Acrobat,
              %br
              418.4 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/licence-cennie-bumagi.pdf", title: "Лицензия на осуществление деятельности по управлению ценными бумагами", target: "_blank"} Лицензия на осуществление деятельности по управлению ценными бумагами
            %p.muted
              Документ Adobe Acrobat,
              %br
              418.6 Kb
          %li
            %i.icon.icon-documents
            %p
              %a{href: "/media/download/licence-dealer.pdf", title: "Лицензия на осуществление дилерской деятельности", target: "_blank"} Лицензия на осуществление дилерской деятельности
            %p.muted
              Документ Adobe Acrobat,
              %br
              416.6 Kb


      %section#affiliated-societies.page-section
        %h2 Зарегистрированные филиалы
        %ul.as-table.no-bullet
          %li.row.header-yelow-line
            .columns.small-6.large-4
              Наименование филиала банка
            .columns.small-6.large-4
              Адрес местонахождения
            .columns.small-4.large-4.hide-for-small
              Дата внесения в книгу государственной регистрации
          %li.row.gray-line
            .columns.small-6.large-4
              %strong
                Новороссийский филиал Банк – Т
              %br
              %span.muted
                Открытое акционерное общество
            .columns.small-6.large-4
              353900, г. Новороссийск, ул. Советов, д. 7.
            .clr.show-for-small
            .columns.small-6.show-for-small.sub-first
              Дата внесения в книгу государственной регистрации
            .columns.small-6.large-4
              26.03.2006 г.

          %li.row
            .columns.small-6.large-4
              %strong
                Северо-Западный филиал Банк – Т
              %br
              %span.muted
                Открытое акционерное общество
            .columns.small-6.large-4
              191186, г. Санкт-Петербург, Аптекарский переулок, д. 4, помещение 14Н, лит. А
            .clr.show-for-small
            .columns.small-6.show-for-small.sub-first
              Дата внесения в книгу государственной регистрации
            .columns.small-6.large-4
              14.01.2011 г.




      %section#requisites.page-section
        %h2 Реквизиты
        %p
          625 регистрационный номер
          %br
          ИНН 2315126160
          %br
          КПП 775001001
          %br
          Корр. Счет 30101810700000000436 в Отделении № 4 Московского ГТУ Банка России
          %br
          БИК 044579436
          %br
          Код ОКПО 09309977
          %br
          Код ОКВЭД 65.12
          %br
          ОГРН 1062300007901 (22.06.2006)


      %section#banking-supervision.page-section
        %h2 Территориальное учреждение Банка России, осуществляющее надзор за деятельностью банка
        %p.muted
          Московское главное территориальное учреждение Банка России, осуществляющее надзор за деятельностью банка
        %ul.no-bullet.as-table
          %li.row
            .columns.small-5
              %strong
                Почтовый адрес: 
            .columns.small-7
              115035, г. Москва, ул. Балчуг, д. 2
          %li.row
            .columns.small-5
              %strong
                Телефон: 
            .columns.small-7
              +7 (495) 950-21-90

        %ul.no-bullet.as-table
          %li.row
            .columns.small-5
              Телефон «горячей линии»: 
            .columns.small-7
              +7 (495) 950-09-40
          %li.row
            .columns.small-5
              Телефакс: 
            .columns.small-7
              +7 (495) 230-34-12
          %li.row
            .columns.small-5
              @-почта: 
            .columns.small-7
              %a{title: "ams@mail.cbr.ru", href: "mailto:ams@mail.cbr.ru"} ams@mail.cbr.ru


      %section#audit.page-section
        %h2 Сведения об аудиторской организации
        %ul.no-bullet.as-table
          %li.row
            .columns.small-5
              %strong Наименование: 
            .columns.small-7
              Общество с ограниченной ответственностью «Банкс-эксперт»
          %li.row
            .columns.small-5
              %strong Юридический адрес: 
            .columns.small-7
              107082, Российская Федерация, г. Москва, Спартаковская пл., д.14, стр.1
          %li.row
            .columns.small-5
              %strong Почтовый адрес: 
            .columns.small-7
              107082, Российская Федерация, г. Москва, Спартаковская пл., д.14, стр.1
          %li.row
            .columns.small-5
              %strong Фактический адрес: 
            .columns.small-7
              123592, Российская Федерация, г. Москва, ул. Маршала Катукова, д. 10 (дополнительный офис)
          %li.row
            .columns.small-5
              %strong ОГРН: 
            .columns.small-7
              1027739875635
          %li.row
            .columns.small-5
              %strong Членство в саморегулируемых организациях аудиторов:
            .columns.small-7
              Член СРО аудиторов некоммерческого партнерства "Московская аудиторская палата" ("МоАП")*
              Основной регистрационный номер записи (ОРНЗ) - 11203056696
              Дата записи - 24 июля 2012 г.

        .row.orange-bg
          .columns.small-12
            %p.medium
              * Сведения о "МоАП" (ОГРН 1027739244015) внесены в государственный реестр саморегулируемых аудиторов на основании Приказа Министерства финансов Российской Федерации от 26 ноября 2009 г. № 578. Регистрационный номер записи о внесении сведений в реестр - 03.



      %section#deposit-insurance.page-section
        %h2 Участие в системе страхования вкладов
        %p
          Участник Системы страхования вкладов, свидетельство № 258, дата внесения в реестр 02.12.2004
          %br
          %a{href: "/media/download/446.pdf", target: "_blank"}Свидетельство о страховании вкладов


      %section.page-section
        %h2 Членство на биржах и в саморегулируемых организациях
        %p
          \- Участник торгов на валютном рынке Открытого акционерного общества «Московская Биржа ММВБ-РТС», решение ОАО Московская Биржа от 25.10.2012 г. (Распоряжение № 158-ор)
        %p
          \- Член саморегулируемой организации Национальная фондовая ассоциация, решение Совета Директоров СРО НФА от 21.12.2012 г. 

%section.product-feedbacks-block
  = render template: "shared/feeds"
  = render template: "shared/contacts"