%fieldset#form-main-step
  .row
    .columns.small-12.large-3.input-field
      %input#maf_last_name{name: "maf_last_name", type: "text", placeholder: "Фамилия"}
    .columns.small-12.large-3.input-field
      %input#maf_first_name{name: "maf_first_name", type: "text", placeholder: "Имя"}
    .columns.small-12.large-3.input-field
      %input#maf_second_name{name: "maf_second_name", type: "text", placeholder: "Отчество"}
    .columns.small-12.large-3.input-field
      %input#maf_mobile_phone{name: "maf_mobile_phone", type: "text", placeholder: "+7 (916) 123-45-67"}
  .row
    .columns.small-12.large-12
      .input-field.input-accept
        %label{for: "maf_accept_rules"}
          %input#maf_accept_rules{type: "checkbox", name: "maf_accept_rules", value: "yes"}
          Указывая свои данные в этой анкете, я даю свое согласие на их обработку Банком.
          %a#maf_accept_conditions_link.dashed{href:"#"} Подробнее

  .row
    .columns.small-12.large-2.right.text-right
      %a.button.small.expand{href:"#final"} Отправить