#questionnaire-progressbar.progress-bar-block
  .row
    .columns.small-12
      .nice.round.progress.small-12
        %span.meter{style: "width: 9%"}
          %i.bulet.icon-switcher-bullet
  %ul.row.text-center.progress-steps
    %li.columns.small-3.item.item-1.active
      Основные
      %br
      данные
    %li.columns.small-3.item.item-2
      Персональные
      %br
      данные
    %li.columns.small-3.item.item-3
      Контактная
      %br
      информация
    %li.columns.small-3.item.item-4
      Дополнительная
      %br
      информация