.row.questionnaire-full-buttons-block
  .columns.small-12.large-2
    %a#prev_step_submit.button.small.expand{href: "#"}Назад
  .columns.small-12.large-2.right
    %a#other_step_submit.button.small.expand{href: "#"}Далее