%section.section-bg-yelow.product-questionnaire-block
  .product-questionnaire-infografic-new.text-center
    .row.icons-row
      .columns.small-1.small-offset-1
        %i.icon.icon-document-pencil
      .columns.small-8
        .row
          .columns.small-5
            %i.icon.icon-arrow-dashed
          .columns.small-2
            %i.icon.icon-phone-gray
          .columns.small-5
            %i.icon.icon-arrow-dashed
      .columns.small-1.left
        %i.icon.icon-document-hand

    .row
      .columns.small-3
        %p
          %strong
            Заполняйте анкету.
          %br
          Это буквально 4 минуты!
          %br
          (потребуется паспорт)
      .columns.small-6
        %p
          Менеджер Банка
          %br
          %strong свяжется с вами по телефону.
      .columns.small-3
        %p
          %strong Получите
          %br
          свой договор и карту!

  = render template: "live/blocks/product_questionnaire/deposite"