%form#questionnaire.questionnaire.custom{autocomplete: "off", data: {form: {type: "credit"}}}
  #questionnaire-fixed.quest-nav-fixed.text-center
    %a#teaser_short{href: "#"}Заполните заявку
    и узнайте, насколько мы снизим вашу ставку
  .quest-main-top-corner
  .quest-main-center-bg
    .row
      .quest-main-block.columns.small-12.large-12
        .row
          .columns.small-12.large-12.text-center
            %h1 Заполните заявку и получите кредит

        #questionnaire-progressbar.progress-bar-block
          .row
            .columns.small-12.large-12
              .nice.round.progress.small-12.large-12
                %span.meter{style: "width: 9%"}
                  %i.bulet.icon-switcher-bullet
          %ul.row.text-center.progress-steps
            %li.columns.small-3.large-3.item.item-1.active
              Основные
              %br
              данные
            %li.columns.small-3.large-3.item.item-2
              Персональные
              %br
              данные
            %li.columns.small-3.large-3.item.item-3
              Контактная
              %br
              информация
            %li.columns.small-3.large-3.item.item-4
              Дополнительная
              %br
              информация

        %fieldset#form-main-step
          .row
            .columns.small-12.large-3
              %input#maf_last_name{name: "maf_last_name", type: "text", placeholder: "Фамилия"}
            .columns.small-12.large-3
              %input#maf_first_name{name: "maf_first_name", type: "text", placeholder: "Имя"}
            .columns.small-12.large-3
              %input#maf_second_name{name: "maf_second_name", type: "text", placeholder: "Отчество"}
            .columns.small-12.large-3
              %input#maf_mobile_phone{name: "maf_mobile_phone", type: "text", placeholder: "+7 (916) 123-45-67"}
          .row
            .columns.small-12.large-3
              %input#maf_birth_date{name: "maf_birth_date", type: "text", placeholder: "Дата рождения"}
            .columns.small-12.large-3
              %input#maf_email{name: "maf_email", type: "text", placeholder: "Электронная почта"}
            .columns.small-12.large-4.left
              %ul.inline-fields.inline-list
                %li
                  Пол:
                %li
                  %label{for: "maf_sex_female"}
                    %input#maf_sex_female{type: "radio", name: "maf_sex", value: "Женский"}
                    Ж
                %li
                  %label{for: "maf_sex_female"}
                    %input#maf_sex_male{type: "radio", name: "maf_sex", value: "Мужской", checked: "checked"}
                    М
            .columns.small-12.large-12
              .input-field.input-accept
                %label{for: "maf_accept_rules"}
                  %input#maf_accept_rules{type: "checkbox", name: "maf_accept_rules", value: "yes"}
                  Указывая свои данные в этой анкете, я даю свое согласие на их обработку Банком.
                  %a#maf_accept_conditions_link.dashed{href:"#"} Подробнее

          .row
            .columns.small-12.large-2.right.text-right
              %a#first_step_submit.button.small.expand{href:"#step2"} Далее

            .sendAgain.columns.small-12.large-3.right.text-right{style: "display: none"}
              %a#send_sms_again.button.small.expand{href:"#"}Повторить отправку SMS



  .quest-main-bottom-bg
  #maf_full_form.questionnaire-full-form{style: "display: none;"}
    .row.questionnaire-full-form-wrap
      .small-12.columns.questionnaire-full-form-block

        %a#questionnaire-close-btn.icon-btn-close-red{href: "#maf_close_form"}

        / Step 1
        .row.questionnaire-step-block.step-1{style: "display: none"}
          .columns.small-12
            %h2 Персональные данные
            %p
              Пожалуйста, продолжите заполнение всех полей анкеты. Чтобы сэкономить ваше время при оформлении банковского договора, в отделении Банка или через Call-центр, необходимо вводить информацию точно как в паспорте. Важно точно указать большие и маленькие буквы, сокращения и знаки препинания.
            %p
              На основе введенных вами данных в Банке будет подготовлен договор, который вам останется только подписать! Договор можно будет получить в отделении Банка.

            %fieldset
              .row
                .columns.small-12.large-6.input-field
                  %input{name: "maf_zagran_fio", type: "text", placeholder: "Petrov Petr", tabindex: "1"}
                  %label Фамилия Имя латинскими символами (как в загран. паспорте)
                .columns.small-12.large-6.input-field
                  %input{name: "", type: "text", placeholder: "Петров Петр Петрович", tabindex: "2"}
                  %label Ф.И.О. Если менялись
              .row
                .columns.small-12.large-6.input-field
                  %input{name: "maf_passport_seria", type: "text", placeholder: "9900", tabindex: "3"}
                  %label Серия паспорта
                .columns.small-12.large-6.input-field
                  %input{name: "maf_passport_organisation", type: "text", placeholder: "Центральным РУВД", tabindex: "6"}
                  %label Выдан
              .row
                .columns.small-12.large-6.input-field
                  %input{name: "maf_passport_number", type: "text", placeholder: "123456", tabindex: "4"}
                  %label Номер паспорта
                .columns.small-12.large-6.input-field
                  %input{name: "maf_passport_code", type: "text", placeholder: "123-456", tabindex: "7"}
                  %label Код подразделения
              .row
                .columns.small-12.large-6.input-field
                  %input{name: "maf_passport_issue", type: "text", placeholder: "19.07.2002", tabindex: "5"}
                  %label Дата выдачи
                .columns.small-12.large-6.input-field
                  %input{name: "maf_birth_place", type: "text", placeholder: "г.Москва", tabindex: "8"}
                  %label Место рождения (как в паспорте)
              .row
                .columns.small-12.large-6.input-field
                  .row
                    .columns.small-8
                      %small
                        Принадлежите ли Вы (или Ваши родственники) к лицам, определенным в соответствии со 
                        %a#maf_foreign_relations_link.dashed{href: "#"}ст. 7.3. 115-ФЗ
                        ?
                    .columns.small-4.text-right
                      %ul.inline-fields.inline-list
                        %li
                          %label{for: "maf_foreign_relations_yes"}
                            %input#maf_foreign_relations_yes{type: "radio", name: "maf_foreign_relations_flag", value: "yes"}
                            Да
                        %li
                          %label{for: "maf_foreign_relations_no"}
                            %input#maf_foreign_relations_no{type: "radio", name: "maf_foreign_relations_flag", value: "no", checked: "checked"}
                            Нет

                #maf_foreign_relations_field.columns.small-12.large-6.input-field{style: "display: none"}
                  %textarea#maf_foreign_relations{placeholder: "Дополнительные сведения", name: "maf_foreign_relations", tabindex: "9"}

        / Step 2
        .row.questionnaire-step-block.step-2{style: "display: none"}
          .columns.small-12
            %h2 Контактная информация
            %fieldset
              .row
                .columns.small-12.large-6.reg-fieldset
                  %p Адрес прописки:
                  .row
                    .input-field.columns.small-12.large-6
                      %input#maf_reg_index{name:"maf_reg_index", type: "text", placeholder: "123456", tabindex: "1"}
                      %label Индекс
                    .input-field.input-accept.columns.small-12.large-6
                      %label{for: "maf_reg_index_forgot"}
                        %input#maf_reg_index_forgot{name:"maf_reg_index_forgot", type: "checkbox"}
                        Не помню 
                  .input-field
                    %input#maf_reg_region{name:"maf_reg_region", type: "text", placeholder: "Москва", tabindex: "2"}
                    %label Регион, область, край
                  .input-field
                    %input#maf_reg_city{name:"maf_reg_city", type: "text", placeholder: "Зеленоград", tabindex: "3"}
                    %label город, район
                  .input-field
                    %input#maf_reg_town{name:"maf_reg_town", type: "text", placeholder: "Терехово", tabindex: "4"}
                    %label Населенный пункт
                  .input-field
                    %input#maf_reg_street{name:"maf_reg_street", type: "text", placeholder: "Юных Ленинцев", tabindex: "5"}
                    %label Улица
                  .row
                    .input-field.columns.small-12.large-6
                      %input#maf_reg_house{name:"maf_reg_house", type: "text", placeholder: "33", tabindex: "6"}
                      %label Дом/корпус/строение
                    .input-field.columns.small-12.large-6
                      %input#maf_reg_flat{name:"maf_reg_flat", type: "text", placeholder: "123", tabindex: "7"}
                      %label Квартира
                  .input-field
                    %input#maf_register_date{name:"maf_register_date", type: "text", placeholder: "09.05.2000", tabindex: "8"}
                    %label Дата регистрации

                .columns.small-12.large-6.loc-fieldset
                  %p Адрес проживания:
                  .row
                    .input-field.input-accept.columns.small-12
                      %label{for: "maf_same_address"}
                        %input#maf_same_address{type: "checkbox", name: "maf_same_address"}
                        Совпадает с адресом прописки
                  .row
                    .input-field.columns.small-12.large-6
                      %input#maf_loc_index{name:"maf_loc_index", type: "text", placeholder: "123456", tabindex: "9"}
                      %label Индекс
                    .input-field.input-accept.columns.small-12.large-6
                      %label{for: "maf_loc_index_forgot"}
                        %input#maf_loc_index_forgot{name:"maf_loc_index_forgot", type: "checkbox"}
                        Не помню 
                  .input-field
                    %input#maf_loc_region{name:"maf_loc_region", type: "text", placeholder: "Москва", tabindex: "10"}
                    %label Регион, область, край
                  .input-field
                    %input#maf_loc_city{name:"maf_loc_city", type: "text", placeholder: "Зеленоград", tabindex: "11"}
                    %label город, район
                  .input-field
                    %input#maf_loc_town{name:"maf_loc_town", type: "text", placeholder: "Терехово", tabindex: "12"}
                    %label Населенный пункт
                  .input-field
                    %input#maf_loc_street{name:"maf_loc_street", type: "text", placeholder: "Юных Ленинцев", tabindex: "13"}
                    %label Улица
                  .row
                    .input-field.columns.small-12.large-6
                      %input#maf_loc_house{name:"maf_loc_house", type: "text", placeholder: "33", tabindex: "14"}
                      %label Дом/корпус/строение
                    .input-field.columns.small-12.large-6
                      %input#maf_loc_flat{name:"maf_loc_flat", type: "text", placeholder: "123", tabindex: "15"}
                      %label Квартира

              %p Контакты для связи со мной:
              .row
                .columns.small-12.large-6.input-field
                  %input#maf_connect_mobile{name:"maf_connect_mobile", type: "text", placeholder: "+7 (916) 123-45-67", tabindex: "16"}
                  %label Основной телефон для связи

              .row
                .columns.small-12.large-12
                  .input-field.input-accept
                    %label{for: "maf_connect_phone_home"}
                      %input#maf_connect_phone_home{type: "checkbox", name: "maf_connect_phone_home", value: "yes"}
                      Есть домашний телефон
                #maf_connect_phone_name_field.columns.small-12.large-6.input-field
                  %input#maf_connect_phone_name{name:"maf_connect_phone_name", type: "text", placeholder: "Фамилия Имя Отчество", tabindex: "17"}
                  %label ФИО контактного лица (знакомый, родственник)
                .columns.small-12.large-6.input-field.left
                  %input#maf_connect_phone{name:"maf_connect_phone", type: "text", placeholder: "+7 (495) 123-45-67", tabindex: "18"}
                  %label#maf_connect_phone_title Телефон контактного лица


        / Step 3
        .row.questionnaire-step-block.step-3{style: "display: none;"}
          .columns.small-12
            .row
              .columns.small-12.large-6
                %h2 Статус и сфера деятельности
                .input-field
                  %select#maf_education{name: "maf_education"}
                    %option{value: ""} Выберите из списка
                    %option{value: "Начальное / среднее", key: "school"} Начальное / среднее
                    %option{value: "Неполное высшее", key: "patly_university"} Неполное высшее
                    %option{value: "Высшее", key: "university"} Высшее
                    %option{value: "2-ое высшее", key: "two_university"} 2-ое высшее
                    %option{value: "Ученая степень", key: "science_degree"} Ученая степень
                  %label Образование
                .input-field
                  %select#maf_family_status{name: "maf_family_status"}
                    %option{value: ""} Выберите из списка
                    %option{value: "Холост / не замужем", key: "free"} Холост / не замужем
                    %option{value: "Гражданский брак", key: "civil_union"} Гражданский брак
                    %option{value: "Женат / замужем", key: "married"} Женат / замужем
                    %option{value: "Разведен / разведена", key: "divorced"} Разведен / разведена
                    %option{value: "Вдовец / вдова", key: "widow"} Вдовец / вдова
                  %label Семейное положение
                .input-field
                  %input#maf_children_count{type: "text", name: "maf_children_count", placeholder: "2", maxlength: "3"}
                  %label Количество детей
                .input-field
                  %select#maf_work{name: "maf_work"}
                    %option{value: "", idle: "false"} Выберите из списка
                    %option{value: "Индивидуальный предприниматель", key: "ip", idle: "false"} Индивидуальный предприниматель
                    %option{value: "Руководящий работник", key: "top_manager", idle: "false"} Руководящий работник
                    %option{value: "Руководитель среднего звена", key: "manager", idle: "false"} Руководитель среднего звена
                    %option{value: "Не руководящий работник", key: "employee", idle: "false"} Не руководящий работник
                    %option{value: "Пенсионер", key: "pensioner", idle: "true"} Пенсионер
                    %option{value: "Студент", key: "student", idle: "true"} Студент
                    %option{value: "Домохозяйка", key: "household", idle: "true"} Домохозяйка
                    %option{value: "Временно не работаю", key: "unemployed", idle: "true"} Временно не работаю
                  %label Должность / вид занятости
                .input-field
                  %input#maf_work_title{type: "text",name: "maf_work_title", placeholder: "Майкрософт"}
                  %label Название организации
                .input-field
                  %select#maf_work_expirience{name: "maf_work_expirience"}
                    %option{value: ""} Выберите из списка
                    %option{value: "Менее 3-х месяцев", key: "under_3m"} Менее 3-х месяцев
                    %option{value: "От 3 месяцев до 1 года", key: "3m_1y"} От 3 месяцев до 1 года
                    %option{value: "От 1 до 3 лет", key: "1y_3y"} От 1 до 3 лет
                    %option{value: "От 3 до 5 лет", key: "3y_5y"} От 3 до 5 лет
                    %option{value: "От 5 до 10 лет", key: "5y_10y"} От 5 до 10 лет
                    %option{value: "Более 10 лет", key: "above_10y"} Более 10 лет
                  %label Стаж на последнем месте работы
                .row
                  .columns.small-12.large-6.input-field
                    %input#maf_work_phone{type: "text", name: "maf_work_phone", placeholder: "+7 (495) 123-45-67"}
                    %label Рабочий телефон
                    
                  .columns.small-12.large-6.input-field
                    %input#maf_work_phone_add{type: "text", name: "maf_work_phone_add", placeholder: "75"}
                    %label Добавочный номер
                      

              .columns.small-12.large-6.work-fieldset
                %h2 Адрес организации
                .row
                  .input-field.columns.small-12.large-6
                    %input#maf_work_index{name:"maf_work_index", type: "text", placeholder: "123456", tabindex: "1"}
                    %label Индекс
                  .input-field.input-accept.columns.small-12.large-6
                    %label{for: "maf_work_index_forgot"}
                      %input#maf_work_index_forgot{name:"maf_work_index_forgot", type: "checkbox", name: "maf_work_index_forgot"}
                      Не помню 
                .input-field
                  %input#maf_work_region{name:"maf_work_region", type: "text", placeholder: "Москва", tabindex: "1"}
                  %label Регион, область, край
                .input-field
                  %input#maf_work_city{name:"maf_work_city", type: "text", placeholder: "Зеленоград", tabindex: "1"}
                  %label город, район
                .input-field
                  %input#maf_work_town{name:"maf_work_town", type: "text", placeholder: "Терехово", tabindex: "1"}
                  %label Населенный пункт
                .input-field
                  %input#maf_work_street{name:"maf_work_street", type: "text", placeholder: "Юных Ленинцев", tabindex: "1"}
                  %label Улица
                .row
                  .input-field.columns.small-12.large-6
                    %input#maf_work_house{name:"maf_work_house", type: "text", placeholder: "33", tabindex: "1"}
                    %label Дом/корпус/строение
                  .input-field.columns.small-12.large-6
                    %input#maf_work_flat{name:"maf_work_flat", type: "text", placeholder: "123", tabindex: "1"}
                    %label Квартира

          .columns.small-12
            %h2 Информация о кредите
            .row
              .input-field.columns.small-12.large-6
                %input#maf_credit_sum{type: "text",name: "maf_credit_sum", placeholder: "300000", maxlength: "8"}
                %label Желаемая сумма кредита
              .input-field.columns.small-12.large-6
                %input#maf_monthly_income{type: "text",name: "maf_monthly_income", placeholder: "600000", maxlength: "8"}
                %label Ежемесячный доход с учётом дополнительных источников
            .row
              .input-field.columns.small-12.large-6.left
                %input#maf_monthly_spending{type: "text",name: "maf_monthly_spending", placeholder: "40000", maxlength: "8"}
                %label Ежемесячные расходы

          .columns.small-12
            %h2 Дополнительная информация
            .row.questionnaire-delivery-type-change-block.section-bg-gray.padding-70.no-shadow
              .columns.small-12
                %h2.text-center Выбор способа получения карты
                .row
                  .columns.small-4.text-right.small-offset-2.inline-fields
                    %label{for: "maf_way_to_get_courier"}
                      %input#maf_way_to_get_courier{type: "radio", name: "maf_way_to_get", value: "courier", data:{block: ".questionnaire-delivery-courier-block"}}
                      Курьером 
                  .columns.small-4.left.text-left.inline-fields
                    %label{for: "maf_way_to_get_office"}
                      %input#maf_way_to_get_office{type: "radio", name: "maf_way_to_get", value: "office", checked: "checked", data:{block: ".questionnaire-delivery-type-change"}}
                      В офисе

                .row.questionnaire-delivery-courier-block{style: "display: none"}
                  .columns.small-3.inline-fields
                    %label{for: "maf_delivery_living"}
                      %input#maf_delivery_living{type: "radio", name: "maf_delivery_type", value: "living", checked: "checked"}
                      На адрес проживания
                  .columns.small-3.inline-fields
                    %label{for: "maf_delivery_register"}
                      %input#maf_delivery_register{type: "radio", name: "maf_delivery_type", value: "register",}
                      На адрес прописки
                  .columns.small-5.input-field.left
                    %input#maf_delivery_address{type: "text", name: "maf_delivery_address", tabindex: "1"}
                    %label адрес доставки

                .row.questionnaire-delivery-type-change
                  %ul.columns.small-12.text-center
                    %li
                      %a.dashed.active{href: "#", data:{index: "0"}}Москва 
                    %li
                      %a.dashed{href: "#", data:{index: "1"}}Санкт-Петербург 
                    %li
                      %a.dashed{href: "#", data:{index: "2"}}Краснодар 
                    %li
                      %a.dashed{href: "#", data:{index: "3"}}Новороссийск
                  .columns.small-11.small-offset-1.left.large-9.large-offset-3.questionnaire-delivery-type-block
                    .item.active
                      .inline-fields
                        %label{for: "maf_city_office_957"}
                          %input#maf_city_office_957{type: "radio", name: "maf_city_office", value: "119334, Москва, Ленинский проспект, 30", checked: "checked"}
                          119334, Москва, Ленинский проспект, 30
                      .inline-fields
                        %label{for: "maf_city_office_957"}
                          %input#maf_city_office_957{type: "radio", name: "maf_city_office", value: "123610, Москва, Краснопресненская набережная, 12"}
                          123610, Москва, Краснопресненская набережная, 12
                    .item
                      .inline-fields
                        %label{for: "maf_city_office_973"}
                          %input#maf_city_office_973{type: "radio", name: "maf_city_office", value: "191186, Санкт-Петербург, Аптекарский пер., 4, помещение 14Н, лит. А"}
                          191186, Санкт-Петербург, Аптекарский пер., 4, помещение 14Н, лит. А
                    .item
                      .inline-fields
                        %label{for: "maf_city_office_988"}
                          %input#maf_city_office_988{type: "radio", name: "maf_city_office", value: "350000, Краснодар, ул. Красноармейская/Гоголя, 43/68"}
                          350000, Краснодар, ул. Красноармейская/Гоголя, 43/68
                    .item
                      .inline-fields
                        %label{for: "maf_city_office_989"}
                          %input#maf_city_office_989{type: "radio", name: "maf_city_office", value: "353900, Новороссийск, ул. Советов, 7"}
                          353900, Новороссийск, ул. Советов, 7


            .row
              .columns.small-12.large-5
                .input-field
                  %input#maf_codeword{name: "maf_codeword", type: "text", placeholder: "Пример: Байкал", tabindex: "4"}
                  %label Кодовое слово для идентификации 
                .input-field
                  %input#maf_check_code{name: "maf_check_code", type: "text", placeholder: "12345", tabindex: "7"}
                  %label
                    Код, присланный по sms
                    %span#maf_check_code_error.right.error{style: "display: none;"} Код введен неверно

              .columns.small-12.large-7.input-field
                %ul.inline-fields.inline-list
                  %li
                    %strong SMS-информирование
                  %li
                    %label{for: "maf_is_sms_yes"}
                      %input#maf_is_sms_yes{type: "radio", name: "maf_is_sms", value: "yes", checked: "checked"}
                      Да 
                  %li
                    %label{for: "maf_is_sms_no"}
                      %input#maf_is_sms_no{type: "radio", name: "maf_is_sms", value: "no"}
                      Нет



        .row.questionnaire-full-buttons-block
          .columns.small-12.large-2
            %a#prev_step_submit.button.small.expand{href: "#"}Назад
          .columns.small-12.large-2.right
            %a#other_step_submit.button.small.expand{href: "#"}Далее

/ Modals
#maf_close_form.reveal-modal.tiny.confirm-modal.text-center{data: {options: "closeOnBackgroundClick: false;"}}
  %h2 Закрыть анкету?
  %h3 Уверены в этом? Ваши данные будут потеряны
  .buttons
    %a#maf_close_form_no.button.medium{href: "#"} Нет
    %a#maf_close_form_yes.button.medium{href: "#"} Да

#maf_success.reveal-modal.tiny.confirm-modal.text-center{data: {options: "closeOnBackgroundClick: false;"}}
  %h2 Поздравляем!
  %h3 Ваша анкета принята. Сотрудник банка свяжется с вами для уточнения информации.
  .buttons
    %a#maf_final_button{href: "#"} Продолжить

#maf_reject.reveal-modal.tiny.confirm-modal.text-center{data: {options: "closeOnBackgroundClick: false;"}}
  %h2 Внимание!
  %h3 К сожалению, в данный момент мы вынуждены отказать Вам в кредите. Пожалуйста, оставьте повторную заявку через месяц.
  .buttons
    %a#maf_final_button{href: "#"} Продолжить
