%form#questionnaire.questionnaire.custom{autocomplete: "off"}
  #questionnaire-fixed.quest-nav-fixed.text-center
    %a#teaser_short{href: "#"}Заполните заявку
    и узнайте, насколько мы снизим вашу ставку
  .quest-main-top-corner
  .quest-main-center-bg
    .row
      .quest-main-block.columns.small-12
        .row
          .columns.small-12.text-center
            %h1 Заполните заявку и узнайте, насколько мы снизим вашу ставку

        .progress-bar-block
          .row
            .columns.small-12
              .nice.round.progress.small-12
                %span.meter{style: "width: 9%"}
                  %i.bulet.icon-switcher-bullet
          %ul.row.text-center.progress-steps
            %li.columns.small-3.item.active
              Основные
              %br
              данные
            %li.columns.small-3.item
              Персональные
              %br
              данные
            %li.columns.small-3.item
              Контактная
              %br
              информация
            %li.columns.small-3.item
              Дополнительная
              %br
              информация

        %fieldset
          .row
            .columns.small-12.large-3
              %input#maf_last_name{name: "maf_last_name", type: "text", placeholder: "Фамилия"}
            .columns.small-12.large-3
              %input#maf_last_name{name: "maf_last_name", type: "text", placeholder: "Имя"}
            .columns.small-12.large-3
              %input#maf_last_name{name: "maf_last_name", type: "text", placeholder: "Отчество"}
            .columns.small-12.large-3
              %input#maf_last_name{name: "maf_last_name", type: "text", placeholder: "+7 (916) 123-45-67"}
          .row
            .columns.small-12.large-3
              %input#maf_last_name{name: "maf_last_name", type: "text", placeholder: "Дата рождения"}
            .columns.small-12.large-3
              %input#maf_last_name{name: "maf_last_name", type: "text", placeholder: "Электронная почта"}
            .columns.small-12.large-3.left
              %ul.inline-fields.inline-list
                %li
                  Пол:
                %li
                  %label{for: "maf_sex_female"}
                    %input#maf_sex_female{type: "radio", name: "maf_sex", value: "Женский"}
                    Ж
                %li
                  %label{for: "maf_sex_female"}
                    %input#maf_sex_male{type: "radio", name: "maf_sex", value: "Мужской"}
                    М
            .columns.small-12.large-12
              .input-field
                %label{for: "maf_accept_rules"}
                  %input#maf_accept_rules{type: "checkbox", name: "maf_accept_rules", value: "yes"}
                  Указывая свои данные в этой анкете, я даю свое согласие на их обработку Банком.
                  %a#maf_accept_conditions_link.dashed{href:"#"} Подробнее

          .row
            .columns.small-12.large-2.right.text-right
              %a#first_step_submit.button.small.expand{href:"#"} Далее



  .quest-main-bottom-bg