%form#questionnaire.questionnaire.custom{autocomplete: "off", data: {form: {type: "deposite"}}}
  #questionnaire-fixed.quest-nav-fixed.text-center
    %a#teaser_short{href: "#"}Заполните заявку
    и узнайте, насколько мы снизим вашу ставку
  .quest-main-top-corner
  .quest-main-center-bg
    .row
      .quest-main-block.columns.small-12
        .row
          .columns.small-12.text-center
            %h1 Заполните заявку и узнайте, насколько мы снизим вашу ставку

        .progress-bar-block
          .row
            .columns.small-12
              .nice.round.progress.small-12
                %span.meter{style: "width: 9%"}
                  %i.bulet.icon-switcher-bullet
          %ul.row.text-center.progress-steps
            %li.columns.small-3.item.item-1.active
              Основные
              %br
              данные
            %li.columns.small-3.item.item-2
              Персональные
              %br
              данные
            %li.columns.small-3.item.item-3
              Контактная
              %br
              информация
            %li.columns.small-3.item.item-4
              Дополнительная
              %br
              информация

        %fieldset#form-main-step
          .row
            .columns.small-12.large-3
              %input#maf_last_name{name: "maf_last_name", type: "text", placeholder: "Фамилия"}
            .columns.small-12.large-3
              %input#maf_first_name{name: "maf_first_name", type: "text", placeholder: "Имя"}
            .columns.small-12.large-3
              %input#maf_second_name{name: "maf_second_name", type: "text", placeholder: "Отчество"}
            .columns.small-12.large-3
              %input#maf_mobile_phone{name: "maf_mobile_phone", type: "text", placeholder: "+7 (916) 123-45-67"}
          .row
            .columns.small-12.large-3
              %input#maf_birth_date{name: "maf_birth_date", type: "text", placeholder: "Дата рождения"}
            .columns.small-12.large-3
              %input#maf_email{name: "maf_email", type: "text", placeholder: "Электронная почта"}
            .columns.small-12.large-4.left
              %ul.inline-fields.inline-list
                %li
                  Пол:
                %li
                  %label{for: "maf_sex_female"}
                    %input#maf_sex_female{type: "radio", name: "maf_sex", value: "Женский"}
                    Ж
                %li
                  %label{for: "maf_sex_female"}
                    %input#maf_sex_male{type: "radio", name: "maf_sex", value: "Мужской"}
                    М
            .columns.small-12.large-12
              .input-field.input-accept
                %label{for: "maf_accept_rules"}
                  %input#maf_accept_rules{type: "checkbox", name: "maf_accept_rules", value: "yes"}
                  Указывая свои данные в этой анкете, я даю свое согласие на их обработку Банком.
                  %a#maf_accept_conditions_link.dashed{href:"#"} Подробнее

          .row
            .columns.small-12.large-2.right.text-right
              %a#first_step_submit.button.small.expand{href:"#"} Далее



  .quest-main-bottom-bg
  #maf_full_form.questionnaire-full-form
    .row.questionnaire-full-form-wrap
      .small-12.columns.questionnaire-full-form-block

        %a#questionnaire-close-btn.icon-btn-close-red{href: "#maf_close_form"}

        / Step 1
        .row.questionnaire-step-block.step-1
          .columns.small-12
            %h2 Персональные данные
            %p
              Пожалуйста, продолжите заполнение всех полей анкеты. Чтобы сэкономить ваше время при оформлении банковского договора, в отделении Банка или через Call-центр, необходимо вводить информацию точно как в паспорте. Важно точно указать большие и маленькие буквы, сокращения и знаки препинания.
            %p
              На основе введенных вами данных в Банке будет подготовлен договор, который вам останется только подписать! Договор можно будет получить в отделении Банка.

            %fieldset
              .row
                .columns.small-12.large-6.input-field
                  %input{type: "text", placeholder: "Petrov Petr", tabindex: "1"}
                  %label Фамилия Имя латинскими символами (как в загран. паспорте)
                .columns.small-12.large-6.input-field
                  %input{type: "text", placeholder: "Петров Петр Петрович", tabindex: "2"}
                  %label Ф.И.О. Если менялись
              .row
                .columns.small-12.large-6.input-field
                  %input{type: "text", placeholder: "9900", tabindex: "3"}
                  %label Серия паспорта
                .columns.small-12.large-6.input-field
                  %input{type: "text", placeholder: "Центральным РУВД", tabindex: "6"}
                  %label Выдан
              .row
                .columns.small-12.large-6.input-field
                  %input{type: "text", placeholder: "123456", tabindex: "4"}
                  %label Номер паспорта
                .columns.small-12.large-6.input-field
                  %input{type: "text", placeholder: "123-456", tabindex: "7"}
                  %label Код подразделения
              .row
                .columns.small-12.large-6.input-field
                  %input{type: "text", placeholder: "19.07.2002", tabindex: "5"}
                  %label Дата выдачи
                .columns.small-12.large-6.input-field
                  %input{type: "text", placeholder: "г.Москва", tabindex: "8"}
                  %label Место рождения (как в паспорте)
              .row
                .columns.small-12.large-6.input-field
                  .row
                    .columns.small-8
                      %small
                        Принадлежите ли Вы (или Ваши родственники) к лицам, определенным в соответствии со 
                        %a#maf_foreign_relations_link.dashed{href: "#"}ст. 7.3. 115-ФЗ
                        ?
                    .columns.small-4.text-right
                      %ul.inline-fields.inline-list
                        %li
                          %label{for: "maf_foreign_relations_yes"}
                            %input#maf_foreign_relations_yes{type: "radio", name: "maf_foreign_relations_flag", value: "yes"}
                            Да
                        %li
                          %label{for: "maf_foreign_relations_no"}
                            %input#maf_foreign_relations_no{type: "radio", name: "maf_foreign_relations_flag", value: "no"}
                            Нет

                .columns.small-12.large-6.input-field
                  %textarea#maf_foreign_relations{placeholder: "Дополнительные сведения", name: "maf_foreign_relations", tabindex: "9"}

        / Step 2
        .row.questionnaire-step-block.step-2{style: "display: none"}
          .columns.small-12
            %h2 Контактная информация
            %fieldset
              .row
                .columns.small-12.large-6
                  %p Адрес прописки:
                  .row
                    .input-field.columns.small-12.large-6
                      %input#maf_reg_index{type: "text", placeholder: "123456", tabindex: "1"}
                      %label Индекс
                    .input-field.input-accept.columns.small-12.large-6
                      %label{for: "maf_reg_index_forgot"}
                        %input#maf_reg_index_forgot{type: "checkbox", name: "maf_reg_index_forgot"}
                        Не помню 
                  .input-field
                    %input{type: "text", placeholder: "Москва", tabindex: "1"}
                    %label Регион, область, край
                  .input-field
                    %input{type: "text", placeholder: "Зеленоград", tabindex: "1"}
                    %label город, район
                  .input-field
                    %input{type: "text", placeholder: "Терехово", tabindex: "1"}
                    %label Населенный пункт
                  .input-field
                    %input{type: "text", placeholder: "Юных Ленинцев", tabindex: "1"}
                    %label Улица
                  .row
                    .input-field.columns.small-12.large-6
                      %input{type: "text", placeholder: "33", tabindex: "1"}
                      %label Дом/корпус/строение
                    .input-field.columns.small-12.large-6
                      %input{type: "text", placeholder: "123", tabindex: "1"}
                      %label Квартира
                  .input-field
                    %input{type: "text", placeholder: "09.05.2000", tabindex: "1"}
                    %label Дата регистрации

                .columns.small-12.large-6
                  %p Адрес проживания:
                  .row
                    .input-field.columns.small-12.large-6
                      %input#maf_reg_index{type: "text", placeholder: "123456", tabindex: "1"}
                      %label Индекс
                    .input-field.input-accept.columns.small-12.large-6
                      %label{for: "maf_loc_index_forgot"}
                        %input#maf_loc_index_forgot{type: "checkbox", name: "maf_loc_index_forgot"}
                        Не помню 
                  .input-field
                    %input{type: "text", placeholder: "Москва", tabindex: "1"}
                    %label Регион, область, край
                  .input-field
                    %input{type: "text", placeholder: "Зеленоград", tabindex: "1"}
                    %label город, район
                  .input-field
                    %input{type: "text", placeholder: "Терехово", tabindex: "1"}
                    %label Населенный пункт
                  .input-field
                    %input{type: "text", placeholder: "Юных Ленинцев", tabindex: "1"}
                    %label Улица
                  .row
                    .input-field.columns.small-12.large-6
                      %input{type: "text", placeholder: "33", tabindex: "1"}
                      %label Дом/корпус/строение
                    .input-field.columns.small-12.large-6
                      %input{type: "text", placeholder: "123", tabindex: "1"}
                      %label Квартира

              %p Контакты для связи со мной:
              .row
                .columns.small-12.large-6.input-field
                  %input{type: "text", placeholder: "+7 (916) 123-45-67", tabindex: "1"}
                  %label Основной телефон для связи

                .columns.small-12.large-6.input-field
                  %input{type: "text", placeholder: "+7 (495) 123-45-67", tabindex: "1"}
                  %label Домашний телефон


        / Step 3
        .row.questionnaire-step-block.step-3{style: "display: none"}
          .columns.small-12
            %h2 Дополнительная информация
            .row.questionnaire-delivery-type-change-block.section-bg-gray.padding-70.no-shadow
              .columns.small-12
                %h2.text-center Выбор способа получения карты
                .row
                  .columns.small-4.text-right.small-offset-2.inline-fields
                    %label{for: "maf_way_to_get_courier"}
                      %input#maf_way_to_get_courier{type: "radio", name: "maf_way_to_get", value: "courier", data:{block: ".questionnaire-delivery-courier-block"}}
                      Курьером 
                  .columns.small-4.left.text-left.inline-fields
                    %label{for: "maf_way_to_get_office"}
                      %input#maf_way_to_get_office{type: "radio", name: "maf_way_to_get", value: "office", checked: "checked", data:{block: ".questionnaire-delivery-type-change"}}
                      В офисе

                .row.questionnaire-delivery-courier-block{style: "display: none"}
                  .columns.small-3.inline-fields
                    %label{for: "maf_delivery_living"}
                      %input#maf_delivery_living{type: "radio", name: "maf_delivery_type", value: "living", checked: "checked"}
                      На адрес проживания
                  .columns.small-3.inline-fields
                    %label{for: "maf_delivery_register"}
                      %input#maf_delivery_register{type: "radio", name: "maf_delivery_type", value: "register",}
                      На адрес прописки
                  .columns.small-5.input-field.left
                    %input#maf_delivery_address{type: "text", name: "maf_delivery_address", tabindex: "1"}
                    %label адрес доставки

                .row.questionnaire-delivery-type-change
                  %ul.columns.small-12.text-center
                    %li
                      %a.dashed.active{href: "#", data:{index: "0"}}Москва 
                    %li
                      %a.dashed{href: "#", data:{index: "1"}}Санкт-Петербург 
                    %li
                      %a.dashed{href: "#", data:{index: "2"}}Краснодар 
                    %li
                      %a.dashed{href: "#", data:{index: "3"}}Новороссийск
                  .columns.small-11.small-offset-1.left.large-9.large-offset-3.questionnaire-delivery-type-block
                    .item.active
                      .inline-fields
                        %label{for: "maf_city_office_957"}
                          %input#maf_city_office_957{type: "radio", name: "maf_city_office", value: "119334, Москва, Ленинский проспект, 30", checked: "checked"}
                          119334, Москва, Ленинский проспект, 30
                      .inline-fields
                        %label{for: "maf_city_office_957"}
                          %input#maf_city_office_957{type: "radio", name: "maf_city_office", value: "123610, Москва, Краснопресненская набережная, 12"}
                          123610, Москва, Краснопресненская набережная, 12
                    .item
                      .inline-fields
                        %label{for: "maf_city_office_973"}
                          %input#maf_city_office_973{type: "radio", name: "maf_city_office", value: "191186, Санкт-Петербург, Аптекарский пер., 4, помещение 14Н, лит. А"}
                          191186, Санкт-Петербург, Аптекарский пер., 4, помещение 14Н, лит. А
                    .item
                      .inline-fields
                        %label{for: "maf_city_office_988"}
                          %input#maf_city_office_988{type: "radio", name: "maf_city_office", value: "350000, Краснодар, ул. Красноармейская/Гоголя, 43/68"}
                          350000, Краснодар, ул. Красноармейская/Гоголя, 43/68
                    .item
                      .inline-fields
                        %label{for: "maf_city_office_989"}
                          %input#maf_city_office_989{type: "radio", name: "maf_city_office", value: "353900, Новороссийск, ул. Советов, 7"}
                          353900, Новороссийск, ул. Советов, 7


            .row
              .columns.small-12.large-5
                .input-field
                  %input{type: "text", placeholder: "Пример: Байкал", tabindex: "4"}
                  %label Кодовое слово для идентификации 
                .input-field
                  %input{type: "text", placeholder: "12345", tabindex: "7"}
                  %label Код, присланный по sms
                .input-field
                  %input{type: "text", tabindex: "7"}
                  %label Промо-код

              .columns.small-12.large-7.input-field
                %ul.inline-fields.inline-list
                  %li
                    %strong SMS-информирование
                  %li
                    %label{for: "maf_is_sms_yes"}
                      %input#maf_is_sms_yes{type: "radio", name: "maf_is_sms", value: "yes", checked: "checked"}
                      Да 
                  %li
                    %label{for: "maf_is_sms_no"}
                      %input#maf_is_sms_no{type: "radio", name: "maf_is_sms", value: "no"}
                      Нет

                %ul.inline-fields.inline-list
                  %li
                    %strong Валюта счета
                  %li
                    %label{for: "maf_currency_rur"}
                      %input#maf_currency_rur{type: "checkbox", name: "maf_currency_rur", value: "yes", checked: "checked"}
                      Рубли 
                  %li
                    %label{for: "maf_currency_usd"}
                      %input#maf_currency_usd{type: "checkbox", name: "maf_currency_usd", value: "yes"}
                      Доллары 
                  %li
                    %label{for: "maf_currency_eur"}
                      %input#maf_currency_eur{type: "checkbox", name: "maf_currency_eur", value: "yes"}
                      Евро

                %ul.inline-fields.inline-list.inline-select
                  %li.title
                    Удобное время для звонка:
                  %li
                    %select#maf_call_time{name: "maf_call_time"}
                      %option{value: "С 10:00 до 13:00"}С 10:00 до 13:00
                      %option{value: "С 13:00 до 16:00"}С 13:00 до 16:00
                      %option{value: "С 16:00 до 19:00"}С 16:00 до 19:00
                      %option{value: "С 19:00 до 21:00"}С 19:00 до 21:00



        .row.questionnaire-full-buttons-block
          .columns.small-12.large-2
            %a#prev_step_submit.button.small.expand{href: "#"}Назад
          .columns.small-12.large-2
            %a#other_step_submit.button.small.expand{href: "#"}Далее
