%section.section-bg-yelow.product-questionnaire-block
  .row
    .columns.small-12
      %h1.text-center
        Как стать клиентом Банка

      %ul.product-questionnaire-infografic
        %li
          %i.icon.icon-what-watch
          %i.icon.icon-small.icon-what-watch-small
          %p
            Заполняйте анкету на сайте. Это буквально 10 (десять!) минут.
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow
        %li
          %i.icon.icon-what-phone
          %i.icon.icon-small.icon-what-phone-small
          %p
            Менеджер Банка свяжется с вами по телефону.
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow
        %li
          %i.icon.icon-what-document
          %i.icon.icon-small.icon-what-document-small
          %p
            А представитель Банка бесплатно доставит вам договор и карту.

  = render template: "live/blocks/product_questionnaire/deposite"
