%section.section-bg-yelow.product-questionnaire-block
  .row
    .columns.small-12
      %h1.text-center
        Как получить продукт

      %ul.product-questionnaire-infografic
        %li
          %i.icon.icon-what-watch
          %i.icon.icon-small.icon-what-watch-small
          %p
            Заполните короткую анкету.
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow
        %li
          %i.icon.icon-what-phone
          %i.icon.icon-small.icon-what-phone-small
          %p
            С вами свяжется наш специалист и подробно проконсультирует по всем вопросам.
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow
        %li
          %i.icon.icon-what-document
          %i.icon.icon-small.icon-what-document-small
          %p
            Заключите договор в любом офисе банка.
  #product-questionnaire-block
  = render template: "live/blocks/product_questionnaire/anket_type/pifanket", locals: {teaser: "для подготовки договора", anket_title: "Заполните заявку и получите дополнительную информацию по параметрам продукта"}
