%section.section-bg-yelow.product-questionnaire-block
  .row
    .columns.small-12
      %h1.text-center
        Как открыть вклад

      %ul.product-questionnaire-infografic
        %li
          %i.icon.icon-what-watch
          %i.icon.icon-small.icon-what-phone-small
          %p
            Посетите 
            %a{href: "/contacts/"} офис
            Банка с паспортом.
        
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow
        %li
          %i.icon.icon-what-watch
          %i.icon.icon-small.icon-what-phone-small
          %p
            Заполните онлайн-заявку.
        
        %li.arrow.show-for-medium-up
          %i.icon.icon-what-arrow
        %li
          %i.icon.icon-what-phone
          %i.icon.icon-small.icon-what-document-small
          %p
            Позвоните в контакт центр или закажите 
            %a{href: "#modal"}обратный звонок
            \.

  = render template: "live/blocks/product_questionnaire/anket_type/deposite", locals: {teaser: "и откройте вклад прямо сейчас", anket_title: "Заполните анкету и откройте вклад прямо сейчас"}
