%section.padding-top-30.bank-about-requisites
  .row
    .columns.small-12.large-3.bank-about-sidebar
      .row
        .logo-block.columns.small-4.large-12
          = image_tag "logo.png"

        .columns.small-8.large-12
          %ul.side-nav
            %li
              %a{href: "/o-banke/", title: "О банке"} 
                Информация о Банке
            %li
              %a{href: "/o-banke/info/", title: "Раскрытие информации"} 
                Раскрытие информации
            %li
              %a{href: "/o-banke/financial-statements/", title: "Финансовая отчетность"} 
                Финансовая отчетность
            %li.active
              Реквизиты
            %li
              %a{href: "/o-banke/registry-rules/", title: "Правила ведения реестра владельцев акций Банка "} 
                Правила ведения реестра владельцев акций Банка 

    .columns.small-12.large-9

      %h1 Реквизиты

      .page-block
        %h2 Реквизиты головного офиса Банк - Т (ОАО)
        %ul.no-bullet.as-table
          %li.row
            .columns.small-4
              Юридический адрес:
            .columns.small-8
              123610, г. Москва, Краснопресненская набережная, д. 12
          %li.row
            .columns.small-4
              Фактический адрес:
            .columns.small-8
              123610, г. Москва, Краснопресненская набережная, д. 12
          %li.row
            .columns.small-4
              Телефон:
            .columns.small-8
              +7 (495) 58-77-888
          %li.row
            .columns.small-4
              Факс:
            .columns.small-8
              +7 (495) 258-19-73
          %li.row
            .columns.small-4
              E-mail:
            .columns.small-8
              info@2tbank.ru

        %ul.no-bullet.as-table.list-orange
          %li.row
            .columns.small-4
              Регистрационный номер:
            .columns.small-8
              625
          %li.row
            .columns.small-4
              ИНН:
            .columns.small-8
              2315126160
          %li.row
            .columns.small-4
              КПП:
            .columns.small-8
              775001001
          %li.row
            .columns.small-4
              Корр. Счет:
            .columns.small-8
              30101810700000000436 в Отделении № 4 Московского ГТУ Банк России
          %li.row
            .columns.small-4
              БИК:
            .columns.small-8
              044579436
          %li.row
            .columns.small-4
              Код ОКПО:
            .columns.small-8
              09309977
          %li.row
            .columns.small-4
              Код ОКВЭД:
            .columns.small-8
              65.12
          %li.row
            .columns.small-4
              ОГРН:
            .columns.small-8
              1062300007901 (22.06.2006)
          %li.row
            .columns.small-4
              SWIFT:
            .columns.small-8
              BNKTRUMM

        %ul.douments-block
          %li
            %i.icon.icon-documents.left
            %p
              %a{href: "/media/download/443.pdf", target: "_blank"} Реквизиты Банка
            %span Документ Adobe Acrobat
          %li
            %i.icon.icon-documents.left
            %p
              %a{href: "/media/download/444.pdf", target: "_blank"} Реквизиты Банка для перевода иностранной валюты
            %span Документ Adobe Acrobat

      .page-block
        %h2 Реквизиты Новороссийского филиала Банк – Т (ОАО)
        %ul.no-bullet.as-table.list-orange
          %li.row
            .columns.small-4
              ИНН: 
            .columns.small-8
              2315126160

          %li.row
            .columns.small-4
              КПП: 
            .columns.small-8
              231543001

          %li.row
            .columns.small-4
              ОГРН: 
            .columns.small-8
              1062300007901

          %li.row
            .columns.small-4
              БИК: 
            .columns.small-8
              040395704

          %li.row
            .columns.small-4
              Корр. Счет: 
            .columns.small-8
              30101810500000000704 в РКЦ г.Новороссийска

        %ul.douments-block
          %li
            %i.icon.icon-documents.left
            %p
              %a{href: "/media/download/442.pdf", target: "_blank"} Реквизиты Новороссийского филиала
            %span Документ Adobe Acrobat

      .page-block
        %h2 Реквизиты Северо-Западного филиала Банк – Т (ОАО)
        %ul.no-bullet.as-table.list-orange
          %li.row
            .columns.small-4    
              ИНН:
            .columns.small-8
              2315126160

          %li.row
            .columns.small-4    
              КПП:
            .columns.small-8
              783543001

          %li.row
            .columns.small-4    
              ОГРН:
            .columns.small-8
              1062300007901

          %li.row
            .columns.small-4    
              БИК:
            .columns.small-8
              044030744

          %li.row
            .columns.small-4    
              Корр. Счет:
            .columns.small-8
              30101810600000000744 в ГРКЦ ГУ Банк России по г. Санкт-Петербургу

        %ul.douments-block
          %li
            %i.icon.icon-documents.left
            %p
              %a{href: "/media/download/445.pdf", target: "_blank"} Реквизиты Северо-Западного филиала
            %span Документ Adobe Acrobat


%section.product-feedbacks-block
  = render template: "shared/feeds"
  = render template: "shared/contacts"









