%section.product-documents-block
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list
        %li
          %a{href: "/files/file/kbo-current/"}
            %i.icon.icon-documents
            %p
              Единые условия КБО ФЛ
        %li
          %a{href: "/media/download/502.pdf"}
            %i.icon.icon-documents
            %p
              Тарифный план «Для Жизни»
        %li
          %a{href: "/media/download/bank_card_regulations.pdf"}
            %i.icon.icon-documents
            %p
              Правила выпуска, обслуживания и пользования банковскими картами
        %li
          %a{href: "/media/download/547.pdf"}
            %i.icon.icon-documents
            %p
              Условия предоставления кредита в форме овердрафта к расчетной карте

      %p
        %a{href:"/clients/"}
          Полный список документов для физических лиц
