%section.product-documents-block.padding-top-30
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list
        %li
          %a{href: "/files/file/kbo-current/", title: "Единые условия КБО ФЛ", target: "_blank"}
            %i.icon.icon-documents
            %p
              Единые условия КБО ФЛ
        %li
          %a{href: "/files/file/uslovia-dohodniy-schet-current/", title: "Условия «Доходный счет+»", target: "_blank"}
            %i.icon.icon-documents
            %p
              Условия тВклада
        %li
          %a{href: "/files/file/stavki-dohodniy-schet-current/", title: "Ставки привлечения по вкладу", target: "_blank"}
            %i.icon.icon-documents
            %p
              Ставки привлечения по вкладу

      %p
        %a{href:"/clients/", title: "Полный список документов для физических лиц"}
          Полный список документов для физических лиц
