%section.product-documents-block.padding-top-30
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list
        %li
          %a{href: "/media/download/510.pdf", title: "Тарифы аренды сейфовых ячеек", target: "_blank"}
            %i.icon.icon-documents
            %p
              Тарифы аренды сейфовых ячеек
        %li
          %a{href: "/media/download/511.pdf", title: "Договор аренды индивидуального банковского сейфа", target: "_blank"}
            %i.icon.icon-documents
            %p
              Договор аренды индивидуального банковского сейфа
        %li
          %a{href: "/media/download/512.pdf", title: "Правила пользования индивидуальным банковским сейфом (ячейкой)", target: "_blank"}
            %i.icon.icon-documents
            %p
              Правила пользования индивидуальным банковским сейфом (ячейкой)

      %p
        %a{href:"/clients/", title: "Полный список документов для физических лиц"}
          Полный список документов для физических лиц
