%section.product-documents-block
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list
        %li
          %a{href: "/files/file/kbo-current/", title:"Единые условия КБО ФЛ", target: "_blank"}
            %i.icon.icon-documents
            %p
              Единые условия КБО ФЛ
        %li
          %a{href: "/media/download/502.pdf", title:"Тарифный план «Для Жизни»", target: "_blank"}
            %i.icon.icon-documents
            %p
              Тарифный план «Для Жизни»

      %p
        %a{href:"/clients/", title: "Полный список документов для физических лиц"}
          Полный список документов для физических лиц
