%section.product-documents-block.padding-top-30
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list
        %li
          %a{href: "/media/download/494.pdf", title: "Единые условия КБО ФЛ", target: "_blank"}
            %i.icon.icon-documents
            %p
              Единые условия КБО ФЛ
        %li
          %a{href: "/media/download/534.pdf", title: "Условия тВклада", target: "_blank"}
            %i.icon.icon-documents
            %p
              Условия тВклада
        %li
          %a{href: "/media/download/535.pdf", title: "Ставки привлечения «тСчет»", target: "_blank"}
            %i.icon.icon-documents
            %p
              Ставки привлечения «тВклад»

      %p
        %a{href:"/clients/", title: "Полный список документов для физических лиц"}
          Полный список документов для физических лиц
