%section.product-documents-block
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list
        %li
          %a{href: "/media/download/494.pdf", title:"Единые условия КБО ФЛ", target: "_blank"}
            %i.icon.icon-documents
            %p
              Единые условия КБО ФЛ
        %li
          %a{href: "/media/download/502.pdf", title:"Тарифный план «Для Жизни»", target: "_blank"}
            %i.icon.icon-documents
            %p
              Тарифный план «Для Жизни»
        %li
          %a{href: "/media/download/522.pdf", title:"Условия депозита для физических лиц «Вклад на срок»", target: "_blank"}
            %i.icon.icon-documents
            %p
              Условия депозита для физических лиц «Вклад на срок»
        %li
          %a{href: "/files/file/stavki-privlechenia-current/", title:"Ставки привлечения «Вклад на срок»", target: "_blank"}
            %i.icon.icon-documents
            %p
              Ставки привлечения «Вклад на срок»
