%section
  %a#under-banner-link.text-center{href: "/clients/32/", title: "Больше доход с Интернет-Банком"}
    %span Больше доход с Интернет-Банком:
    С 1 октября каждый частный Клиент Банка может получить дополнительный доход! 