%section.padding-top-30
  .row
    .columns.small-12.large-3.bank-about-sidebar
      .row
        .logo-block.columns.small-4.large-12
          = image_tag "logo.png"

        .columns.small-8.large-12
          %ul.side-nav.news-side-nav
            %li
              %a{title: "Новости", href: "/press-centre/news/"} Новости
            %li.active
              %a{title: "Пресса о нас", href: "/press-centre/press/"} Пресса о нас
              %ul.hash-nav
                %li
                  %a{title: "2013", href: "/press-centre/press/filter/2013/"} 2013
                %li
                  %a{title: "2012", href: "/press-centre/press/filter/2012/"} 2012
                %li
                  %a{title: "2011", href: "/press-centre/press/filter/2011/"} 2011

          %p
            %a.no-underline{href: "news.rss"}
              %i.icon.icon-rss
            &nbsp;&nbsp;
            %a.rss-link-small{href: "/press-centre/rss/"} Подписаться

    .columns.small-12.large-9
      %h1 Пресса о нас
      .row
        .columns.small-12.large-12.news-item-full
          %p.date
            28 июня 2013
          %h2.title
            Малому бизнесу подставили плечо: банки меняют принцип работы с начинающими коммерсантами
          %p
            Малому бизнесу подставили плечо: банки меняют принцип работы с начинающими коммерсантами
            Поддержка малого и среднего бизнеса — вот уже несколько лет один из главных лейтмотивов работы государственных структур. И если административные барьеры с переменным успехом удается победить, то финансовый вопрос для начинающих предпринимателей до сих пор стоит очень остро: кредиты дорогие, условия невыгодные, а зачастую банки и вовсе отказываются работать с начинающими коммерсантами. «ФедералПресс» попытался разобраться, как молодому бизнесу удачно выбрать банк-партнер и как сэкономить стартовые капиталы. Подробности — в нашем материале.
          %p
            Для малых предприятий на старте бизнеса расходы даже в несколько тысяч рублей вполне могут оказаться существенными, или их, по крайней мере, придется принимать во внимание. Кроме того, многие банки требуют плату даже за открытие счета — любое движение клиента хоть сколько-нибудь да стоит. Крупные банки не скрывают: обслуживание малого бизнеса для них лишь способ диверсификации портфеля, ключевыми клиентами остаются корпорации — отсюда подходы и принципы работы мейджоров в сегменте малого и среднего бизнеса. Отчасти меняют ситуацию только банки новой волны — такие, например, как «2Т Банк» или «Связной».
          %p
            В «2Т Банке» счета компаниям открывают бесплатно. Без дополнительной платы можно стать и корпоративным клиентом «Связного», но, что еще важно, — и «2Т Банк», и «Связной» бесплатно предоставляют доступ к обслуживанию через Интернет.
          %p
            По сути эти кредитные организации формируют новые механизмы оказания банковских услуг в корпоративном секторе — на основе онлайновых сервисов. Безопасность операций обеспечивают специальные ключи — «токены», они подключаются к компьютеру и открывают доступ к управлению счетами через банковский сайт. Естественно, в большинстве банков и подключение к интернет-услугам, и предоставление ключа тоже тарифицируются: тот же ключ может стоить и 2000 рублей, и больше. У новых банков иначе: в «Связном» за токен придется заплатить лишь 900 рублей, а в «2Т Банке» его выдадут бесплатно.
          %p
            Что касается стоимости обслуживания, то в «2Т Банке» тарифных планов всего два — без абонентской платы с платежами за отдельные транзакции (20 рублей каждая) или с абонентской платой (2000 рублей в месяц), но все операции по счету, проведенные через Интернет, бесплатны. У «Связного» тарифы организованы сложнее, их пять, но «бесплатный» вариант (естественно, с комиссией за операции) тоже предлагается. Еще один интернет-банк — «Банк24.ру» — давно пользуется популярностью среди продвинутых предпринимателей и тоже открывает счета бесплатно, но вот обслуживает их уже за другие деньги. Тарифный план «Безлимитный» (с неограниченным числом электронных платежей) обойдется здесь в 7000 рублей за месяц.
          %p
            Еще одна традиционная проблема для представителей малого и среднего бизнеса заключается в том, что банки, как правило, не работают с бизнесом, которому меньше 6 месяцев. Исключения составляют лишь микрофинансовые организации — под большой процент. В «2Т Банке», однако, молодая компания может воспользоваться овердрафтом на покрытие кассовых разрывов. Сумма такого кредита сравнительно невелика (50000 рублей), но зато «2Т Банк» дает льготный период, и вернуть деньги можно без процентов. Помимо всего прочего, и «2Т Банк», и «Связной» имеют выгодные депозитные предложения для бизнеса с весьма высокими процентными ставками. То есть если на счетах компании есть денежные остатки, которые не будут востребованы в определенной перспективе, их можно перевести на депозит и получать доход. Срок депозита устанавливается с точностью до дня, а открывается в Интернет-банке.
          %p
            По сути «Связной» и «2Т Банк» во многом первопроходчики. Им выпало менять саму систему взаимоотношений между банками и малым бизнесом — внедрять обслуживание МСБ не по остаточному принципу, а в качестве целевого клиентского сегмента, и не за астрономические деньги, а с пониманием реальной платежеспособности небольших компаний и индивидуальных предпринимателей.
          %p.author
            %a{href: "", title: "Елена Пьяниченко: «2ТБанк для бизнеса — это функция быстрого старта»", target: "_blank"}
              =image_tag "filer_public/2013/06/20/logo313333.png"
          

      .row.padding-40
        .columns.small-12
          %h2 Остальные
          %ul.no-billet.news-list
            %li
              %p.date
                29 июля 2013
              %h3
                %a{href: "/press-centre/press/155/"}
                  2ТБанк устанавливает новые рублевые ставки по «Вкладу на срок»

              %p.muted.dscr
                %em
                  Корректируются условия размещения средств на 4, 5, 6, 9 и 12 месяцев

              %p.author
                %a{href: "", title: "Елена Пьяниченко: «2ТБанк для бизнеса — это функция быстрого старта»", target: "_blank"}
                  =image_tag "filer_public/2013/06/20/logo313333.png"

            %li
              %p.date
                29 июля 2013
              %h3
                %a{href: "/press-centre/press/155/"}
                  Интернет-сервис 2ТБанка для юридических лиц вошел в число лучших

              %p.muted.dscr
                %em
                  \...по оценке известного аналитического агентства Markswebb Rank & Report

              %p.author
                %a{href: "", title: "Елена Пьяниченко: «2ТБанк для бизнеса — это функция быстрого старта»", target: "_blank"}
                  =image_tag "filer_public/2013/06/20/logo313333.png"
