%section.product-documents-block
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list
        %li
          %a{href: "/media/download/rules-kbo-20130601.pdf", title:"Правила комплексного банковского обслуживания для юридических лиц", target: "_blank"}
            %i.icon.icon-documents
            %p
              Правила комплексного банковского обслуживания для юридических лиц
        %li
          %a{href: "/business/documents-and-rates/76/", title:"Перечень документов", target: "_blank"}
            %i.icon.icon-documents
            %p
              Перечень документов
        %li
          %a{href: "/media/download/562.pdf", title:"Тарифы", target: "_blank"}
            %i.icon.icon-documents
            %p
              Тарифы
        %li
          %a{href: "/media/download/memo-internet-acquiring-business.pdf", title:"Памятка по Интернет-эквайрингу", target: "_blank"}
            %i.icon.icon-documents
            %p
              Памятка по Интернет-эквайрингу

      %p
        %a{href:"/business/documents-and-rates/", title: "Полный список документов для физических лиц"}
          Полный список документов для юридических лиц
