%section.product-documents-block
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list
        %li
          %a{href: "/media/download/rules-kbo-20130601.pdf", title:"Правила комплексного банковского обслуживания для юридических лиц", target: "_blank"}
            %i.icon.icon-documents
            %p
              Правила комплексного банковского обслуживания для юридических лиц
        %li
          %a{href: "https://2tbank.ru/media/download/rko-20130601.pdf", title:"Условия открытия и обслуживания расчетных счетов", target: "_blank"}
            %i.icon.icon-documents
            %p
              Условия открытия и обслуживания расчетных счетов
        %li
          %a{href: "https://2tbank.ru/media/filer_public/2013/03/31/internet_corp_regulations.pdf", title:"Условия предоставления банковских услуг с использованием системы «Интернет-Банк»", target: "_blank"}
            %i.icon.icon-documents
            %p
              Условия предоставления банковских услуг с использованием системы «Интернет-Банк»
        %li
          %a{href: "https://2tbank.ru/media/download/562.pdf", title:"Тарифы", target: "_blank"}
            %i.icon.icon-documents
            %p
              Тарифы

      %p
        %a{href:"/business/documents-and-rates/", title: "Полный список документов для физических лиц"}
          Полный список документов для юридических лиц
