%section.product-documents-block
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list.columns-5
        %li
          %a{href: "/media/download/rules-kbo-20130601.pdf", title:"Правила комплексного банковского обслуживания для юридических лиц", target: "_blank"}
            %i.icon.icon-documents
            %p
              Правила комплексного банковского обслуживания для юридических лиц
        %li
          %a{href: "/media/download/deposits-from-01042013.pdf", title:"УУсловия размещения денежных средств в депозиты", target: "_blank"}
            %i.icon.icon-documents
            %p
              Условия размещения денежных средств в депозиты
        %li
          %a{href: "/media/download/557.pdf", title:"Условия депозита «Вклад на срок»", target: "_blank"}
            %i.icon.icon-documents
            %p
              Условия депозита «Вклад на срок»
        %li
          %a{href: "/media/download/554.pdf", title:"Ставки привлечения по депозиту «Вклад на срок»", target: "_blank"}
            %i.icon.icon-documents
            %p
              Ставки привлечения по депозиту «Вклад на срок»
        %li
          %a{href: "/media/download/instruction-vklad-na-srok-ib.pdf", title:"Инструкция по размещению средств через «Интернет-Банк»", target: "_blank"}
            %i.icon.icon-documents
            %p
              Инструкция по размещению средств через «Интернет-Банк»

      %p
        %a{href:"/business/documents-and-rates/", title: "Полный список документов для физических лиц"}
          Полный список документов для юридических лиц
