.row.contacts-block
  .columns.small-12
    %h2 Свяжитесь с нами любым удобным способом:
  .columns.small-12.large-3
    .row
      .columns.small-5.large-12
        %h6 Например, по телефону:
      .columns.small-7.large-12
        %h2 8-800-100-94-34
  .columns.small-12.large-3
    %a.button.radius.expand{href: "#"}
      Пожалуйста, перезвоните
      %br.show-for-medium-up
      мне сами
  .columns.small-12.large-3
    %a.button.radius.expand{href: "#"}
      Лучше
      %br.show-for-medium-up
      я позвоню с сайта
  .columns.small-12.large-3
    %a.button.radius.expand{href: "#"}
      Пожалуй, чат со специалистом удобнее