%footer#footer.section-bg-dark-gray.shadow-inset-top
  .row
    .columns.small-6.large-3
      %ul
        %li
          %h5 О Банке:
        %li
          %a{href: "/o-banke/"}
            Основная информация
        %li
          %a{href: "/o-banke/info/"}
            Раскрытие информации
        %li
          %a{href: "/o-banke/financial-statements/"}
            Финансовая отчётность
        %li
          %a{href: "/o-banke/requisites/"}
            Реквизиты
        %li
          %a{href: "#"}
            Справка
        %li
          %a{href: "/press-centre/"}
            Пресс-центр

    .columns.small-6.large-3
      %ul
        %li
          %h5 Для жизни:
        %li
          %a{href: "/schet-dlya-zhizni/"}
            тСчет
        %li
          %a{href: "/debetovye-karty/"}
            Карты
        %li
          %a{href: "/credit-account/"}
            Кредитная карта
        %li
          %a{href: "/credit-transfer/"}
            Кредит Трансфер
        %li
          %a{href: "/tvklad/"}
            тВклад
        %li
          %a{href: "/vklad-na-srok/"}
            Вклад на срок
        %li
          %a{href: "/safebox/"}
            Сейфовые ячейки
        %li
          %a{href: "/mortgage/"}
            Ипотека
        %li
          %a{href: "/new-moscow/"}
            Доли в фонде недвижимости
        %li
          %a{href: "/mobile/"}
            Мобильный банк
        %li
          %a{href: "/recharge/"}
            Пополнение счета
        %li
          %a{href: "/cash-withdrawal/"}
            Снятие наличных

    .columns.small-6.large-3
      %ul
        %li
          %h5 Для бизнеса:
        %li
          %a{href: "/business/schet-dlya-biznesa/"}
            Расчетный счет
        %li
          %a{href: "/business/encashment-card/"}
            Карта для инкассации
        %li
          %a{href: "/business/business-card/"}
            Бизнес-карта
        %li
          %a{href: "/business/acquiring/"}
            Торговый эквайринг
        %li
          %a{href: "/business/internet-acquiring/"}
            Интернет-эквайринг
        %li
          %a{href: "/business/salary/"}
            Зарплатный проект
        %li
          %a{href: "/business/dohodniy-schet-dlya-biznesa/"}
            Доходный счет
        %li
          %a{href: "/business/vklad-na-srok/"}
            Вклад на срок
        %li
          %a{href: "/business/overdraft/"}
            Овердрафт
        %li
          %a{href: "/business/sms/"}
            SMS-информирование
        %li
          %a{href: "/business/documents-and-rates/"}
            Документы и тарифы

    .columns.small-6.large-3
      %ul
        %li
          %h5 Для связи:
        %li
          %a{href: "/contacts/"}    
            Контакты
        %li
          %a{href: "/internet-bank/"}
            Интернет-Банк

  .row
    .columns.small-2.large-1.text-center
      %a#link-scroll-top{href: "#"}
        %i.icon.icon-arrow-top-black
        %p Наверх
    .columns.small-10.small-offset-0.large-3.large-offset-8
      %small
        2TBank.ru и 2Т Банк являются торговыми марками Банк – Т (ОАО).
        %br.show-for-medium-up
        Лицензия Банка России №625
