%header.product-banner-block
  .row
    .columns.small-12.large-7.text-right
      = image_tag "balance-transfer.e07bd79a20f3.png"
    .columns.small-12.large-5
      %h1
        Кредит Трансфер
      %p
        —это возможность получить более привлекательные условия по своим действующим потребительским кредитам или кредитным картам и даже объединить все кредиты в один, заметно снизив при этом ежемесячный платеж.

      .small-12.large-8.large-centered
        %a.button.large.radius{href: "#"}
          Заказать
          %br
          Кредит
          Трансфер


%section
  .row.text-center
    .small-4.large-2.columns
      Обслуживание всех кредитов одним платежом
    .small-4.large-2.columns
      Уменьшение обязательного ежемесячного взноса
    .small-4.large-2.columns
      Бесплатное снятие наличных
    .small-4.large-2.columns
      Нужен только паспорт
    .small-4.large-2.columns
      Без скрытых комиссий и дополнительных расходов