.Img
  #map.google-map{style: "position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0); height: 242px;"}
  .searchBlock
    %p
      Введите название улицы, рядом с&nbsp;которой вы ищете офис:
    .textfield
      %input#searchAdress.example.search-input{type:"text"}
    .btn.text-right
      %span
        %input#searchOnMap.button.small{type: "submit", value:"Найти"}
  %a#map-box-resize.btn1{href: "#", title: "Развернуть/Свернуть"}
.sub-border-bottom.columns.small-11.small-centered

:javascript
  var mapConfig = {
    geoIpCityId: 697,
    currentCity: {
      id: 957,
      title: 'Москве',
      lat: 55.755773,
      lng: 37.617761
    }
  }

%script{src: "https://maps-api-ssl.google.com/maps/api/js?sensor=false&language=ru", type: "text/javascript"}