.contain-to-grid.fixed
  %nav.top-bar{data:{options: "is_hover: false; custom_back_text: true; back_text: назад;"}}
    %ul.title-area
      %li.name
        %h1
          %a{href:"#"}
            2TBank
      %li.toggle-topbar.menu-icon
        %a{href:"#"}
          %span
            Меню
    %section.top-bar-section
      %ul
        %li.top-bar-main-menu
          %i.icon.icon-switcher.left
          %ul.left
            %li.active
              %a{href: '/'} для жизни 
            %li
              %a{href: '/business/'} для бизнеса
        %li
          %a.strong{href: '/tvklad/'}
            тВклад

        %li.has-dropdown
          %a{href: '#'} все продукты
          %ul.dropdown
            %li
              %a{href: '/schet-dlya-zhizni/'} тСчет
            %li
              %a{href: '/debetovye-karty/'} Карта
            %li
              %a{href: '/credit-account/'} Кредитная карта
            %li
              %a{href: '/credit-transfer/'} Кредит Трансфер
            %li
              %a{href: '/tvklad/'} тВклад
            %li
              %a{href: '/vklad-na-srok/'} Вклад на срок
            %li
              %a{href: '/safebox/'} Сейфовые ячейки
            %li
              %a{href: '/mortage/'} Ипотека
            %li
              %a{href: '/new-moscow/'} Доли в фонде недвижимости

        %li.has-dropdown
          %a{href: '#', data:{options: "is_hover:false"}} все сервисы
          %ul.dropdown
            %li
              %a{href: '/mobile/'} Мобильный банк
            %li
              %a{href: '#'} Интернет-Банк
            %li
              %a{href: '#'} Пополнение счета
            %li
              %a{href: '#'} Снятие наличных

        %li
          %a.bank-link.strong{href: '#'}
            %i.icon.icon-lock
            Интернет-Банк

        %li.top-bar-menu-sub
          %ul
            %li
              %a{href: '/press-centre/'} Новости
            %li
              %a{href: '/contacts/'} Контакты

            %li
              %a{href: '/o-banke/'} О Банке
