.contain-to-grid.fixed
  %nav.top-bar{data:{options: "is_hover: false"}}
    %ul.title-area
      %li.name
        %h1
          %a{href:"#"}
            2TBank
      %li.toggle-topbar.menu-icon
        %a{href:"#"}
          %span
            Меню
    %section.top-bar-section
      %ul
        %li.top-bar-main-menu
          %i.icon.icon-switcher.left
          %ul.left
            %li.active
              %a{href: '#'} для жизни 
            %li
              %a{href: '#'} для бизнеса
        %li
          %a.strong{href: '#'}
            тВклад

        %li.has-dropdown
          %a{href: '#'} все продукты
          %ul.dropdown
            %li
              %a{href: '/schet-dlya-zhizni/'} тСчет
            %li
              %a{href: '/debetovye-karty/'} Карта
            %li
              %a{href: '#'} Кредитная карта
            %li
              %a{href: '/credit-transfer/'} Кредит Трансфер
            %li
              %a{href: '#'} тВклад
            %li
              %a{href: '#'} Вклад на срок
            %li
              %a{href: '#'} Сейфовые ячейки
            %li
              %a{href: '#'} Ипотека
            %li
              %a{href: '#'} Доли в фонде недвижимости

        %li.has-dropdown
          %a{href: '#', data:{options: "is_hover:false"}} все сервисы
          %ul.dropdown
            %li
              %a{href: '#'} Мобильный банк
            %li
              %a{href: '#'} Интернет-Банк
            %li
              %a{href: '#'} Пополнение счета
            %li
              %a{href: '#'} Снятие наличных

        %li
          %a.bank-link.strong{href: '#'}
            %i.icon.icon-lock
            Интернет-Банк

        %li.top-bar-menu-sub
          %ul
            %li
              %a{href: '#'} Новости
            %li
              %a{href: '#'} Контакты

            %li
              %a{href: '#'} О Банке
