%section.section-bg-gray.shadow-inset.product-features-block
  .row
    .columns.small-4.text-center.hide-for-small
      %i.icon.icon-img-internet-bank
    .columns.small-4.text-center.hide-for-small
      %i.icon.icon-img-mobile-bank
    .columns.small-12.large-4.text-center.phone-block
      %p Контакт-центр
      %p.phone 8-800-100-94-34

  .row
    .columns.small-12.large-4.text-center
      %h5 Больше свободы
      %p
        %a{href: "/internet-bank/"} Интернет-Банк 
        — это современный сервис, позволяющий контролировать и управлять своими средствами в режиме 24/7 с компьютера, имеющего выход в Интернет.
    .columns.small-12.large-4.text-center
      %h5 Больше мобильности
      %p
        Контролируй свои счета, оплачивай ЖКХ, счета за Интернет и мобильную связь и другие услуги, переводи деньги с мобильного телефона 24/7 из любой точки земного шара.
        %br
        %a{href: "/mobile/"}Подробнее о мобильном сервисе
    .columns.small-12.large-4.text-center
      %h5 Всегда на связи
      %p
        Появился вопрос? — звоните в любое время из любого места. Мы всегда быстро ответим по телефону, через браузер или в чате.


