%section.section-bg-gray.shadow-inset.product-features-block
  .row
    .columns.small-4.text-center.hide-for-small
      %i.icon.icon-img-internet-bank
    .columns.small-4.text-center.hide-for-small
      %i.icon.icon-img-mobile-bank
    .columns.small-12.large-4.text-center.phone-block
      %p Контактный центр
      %p.phone 8-800-100-94-34

  .row
    .columns.small-12.large-4.text-center
      %h2 Больше свободы
      %p 
        Вы легко можете управлять доходным счетом через 
        %a{href: "/internet-bank/"} Интернет-Банк
        — онлайн отделение банка, которое открыто 24/7 везде, где есть Интернет. Контролируйте ваши средства и легко проводите любые операции с вашими средствами в удобное вам время и без очередей.
    .columns.small-12.large-4.text-center
      %h2 Больше мобильности
      %p
        Контролируйте и пополняйте ваши счета и вклады через смартфон из любой точки земного шара.
        %br
        %a{href: "/mobile/"} Подробнее о мобильном сервисе
    .columns.small-12.large-4.text-center
      %h2 Больше времени
      %p
        Появились вопросы? — звоните в любое время из любого места. На любые вопросы о доходном счете и других сервисах мы всегда быстро ответим по телефону, через браузер или в чате.