%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/acquiring.png"
    .columns.small-12.large-5
      %h1
        Торговый эквайринг
      .discription
        %h2
          Больше комфорта для ваших клиентов — больше возможностей для вашего бизнеса.
        .small-12.large-11.large-centered
          %a#form_teaser_button.button.large.radius.expand{href: "#"}
            Подключить эквайринг