%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/business-card.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          Би
        з
        %span.b<>
          нес
        \-
        %span.smb<>
          кар
        та
      .discription
        %h2
          — корпоративная карта системы MasterCard для оплаты товаров и услуг для вашего бизнеса и получения наличных в банкоматах.
        %p
          Бизнес-карта выпускается бесплатно, без платы за годовое обслуживание.
        .small-12.large-7.large-centered
          %a#form_teaser_button.button.large.radius.expand{href: "#questionnaire"}
            Получить карту