%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/dohodniy-schet-dlya-biznesa.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          До
        ходн
        %span.b<>
          ый
        \ счет
        %span.smb<>
          \ для
        %span.bcond<>
          \ бизне
        с
        %span.b<>
          а
      .discription
        %h2
          — удобный способ ежедневно получать дополнительный доход на остаток средств.
        %h2
          Размещайте свободные средства на Доходный счет с режимом «до востребования» под 8,5% годовых в рублях.
        %p
          Начисление процентов с первого дня размещения.
        .small-12.large-7.large-centered
          %a#form_teaser_button.button.large.radius.expand{href: "#"}
            Открыть счет