%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/encashment-card.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          К
        арт
        %span.b<>
          а
        \ ин
        %span.smb<>
          кас
        %span.bcond<>
          сац
        и
        %span.b<>
          и
      .discription
        %h2
          Осуществляйте инкассацию через банкоматы с функцией Cash-In, без необходимости посещать офис банка.
        %p
          Карта инкассации выпускается бесплатно, без платы за годовое обслуживание.
        .small-12.large-7.large-centered
          %a#form_teaser_button.button.large.radius.expand{href: "#"}
            Получить карту