%header.main-page-banner
  .row.logo-block-row
    .logo-block-absolute
      = image_tag "logo.png"
  %ul{data: {orbit: "", options: "animation: fade; navigation_arrows: false; slide_number: false; timer_speed: 6000; resume_on_mouseout: false;"}}
    %li#banner-slide-5
      .row
        #banner-image-5.banner-slide-image.columns.small-12
          .row
            .columns.large-5.large-offset-7.small-12.small-offset-0.banner-slide-content
              %h1 Комплекс по управлению финансами предприятия
              %p
                Удобный интернет-банк плюс выгодные условия обслуживания и привлекательные сервисы для бизнеса, выбрать и подключить которые можно в режиме онлайн, не выходя из собственного офиса

    %li#banner-slide-6
      .row
        #banner-image-6.banner-slide-image.columns.small-12
          .row
            .columns.large-5.large-offset-7.small-12.small-offset-0.banner-slide-content
              %h1 Безопасность и простота пополнения расчетного счета
              %p
                Вносите торговую выручку через банкоматы с помощью
                %a{href: "/business/encashment-card/"} карты инкассации.
                %a{href: "/business/encashment-card/"}
                  %i.icon.icon-bullet15


    %li#banner-slide-8
      #banner-image-8
        .row
          .banner-slide-image.columns.small-12
            .row
              .columns.large-5.large-offset-7.small-12.small-offset-0.banner-slide-content
                %h1 Современный способ оплаты для ваших покупателей
                %p
                  %a{href:"/business/acquiring/"}Принимайте к оплате пластиковые карты
                  в своих торговых точках и интернет-магазинах.
                  %a{href: "/business/acquiring/"}
                    %i.icon.icon-bullet15

