%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/internet-acquiring.png"
    .columns.small-12.large-5
      %h1
        Интернет-эквайринг
      .discription
        %h2
          Позволит вашему бизнесу расти быстрее, привлекая клиентов, предпочитающих приобретать товары и услуги в Сети, оплачивая их по карте
        .small-12.large-11.large-centered
          %a#form_teaser_button.button.large.radius.expand{href: "#"}
            Подключить эквайринг