%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/business-overdraft.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          О
        в
        %span.b<>
          е
        %span.smb<>
          р
        драфт
      .discription
        %h2
          Сразу после открытия Счета для бизнеса вы можете получить овердрафт. Без длительных проверок при предоставлении минимального комплекта документов.
        .small-12.large-10.large-centered
          %a#form_teaser_button.button.large.radius.expand{href: "#"}
            Получить Овердрафт