%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/salary.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          Зар
        п
        %span.b<>
          ла
        тный пр
        %span.smb<>
          ое
        к
        %span.bcond<>
          т
      .discription
        %h2
          — современный, выгодный и удобный способ выплаты заработной платы вам и вашим сотрудникам.
        %p
          Выгодно: комиссия за перечисление заработной платы и иных социальных выплат на счета сотрудников — 0 рублей!
        .small-12.large-7.large-centered
          %a#form_teaser_button.button.large.radius.expand{href: "#"}
            Подключить