%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/schet-dlya-biznesa.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          С
        че
        %span.b<>
          т
        \ дл
        %span.smb<>
          я
        %span.bcond<>
          \ биз
        неса
      .discription
        %h2
          — это расчетный счет для вашей организации, который мы откроем быстро и бесплатно, без посещения офиса банка!
        %p
          Управляйте счетом с помощью бесплатной системы Интернет-Банк и получите доступ ко всем нашим продуктам и сервисам.

        .small-12.large-7.large-centered
          %a#form_teaser_button.button.large.radius.expand{href: "#"}
            Открыть счет