%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/sms.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          S
        M
        %span.bcond<>
          S
        \-
        %span.smb<>
          и
        нформ
        %span.bcond<>
          ирова
        ние
      .discription
        %h2
          — простой и надежный способ контролировать ваши средства на счетах.
        %p
          2ТБанк с помощью SMS-сообщений мгновенно известит вас об операциях по вашему счету, карте инкассации или бизнес-карте.
