%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/business-vklad-na-srok.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          В
        %span.b<>
          к
        %span.cond<>
          л
        %span.smb<>
          ад
        %span.cond<>
          \ н
        %span.smb<>
          а
        %span.smb<>
          \ с
        р
        %span.b<>
          о
        к
      .discription
        %h2
          — это идеальное решение для сохранения и преумножения денежных средств.
        %h2
          Выберите оптимальный депозит для своего бизнеса!
        .small-12.large-7.large-centered
          %a#form_teaser_button.button.large.radius.expand{href: "#"}
            Открыть вклад