= render template: "business/blocks/product_banner/index"
= render template: "business/blocks/under_banner/index"

%section.section-bg-blue-business.product-questionnaire-block.shadow-inset
  .row
    .columns.small-12
      %h1.text-center
        Тестирование отчетности Бухсофт-онлайн

  = render template: "business/blocks/product_questionnaire/anket_type/buhsoft"

%section.section-bg-blue-business.shadow-inset.margin-top-230
  .row
    .columns.small-12
      %h1.text-center
        Специальное предложение для начинающих предпринимателей
