%section.bank-about-information
  .row
    .columns.small-12.large-3.bank-about-sidebar
      .row
        .logo-block.columns.small-5.large-10
          = image_tag "logo-black.png"

        .columns.small-6.large-12
          .accordion-nav.auto{data: {section: "accordion"}}
            %section
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Счет для бизнеса
              .content{data:{section:{content:""}}}
                .side-nav
                  .hash-nav
                    %li
                      %a{href: "/business/documents-and-rates/4/", title: "Документы для открытия счета"}
                        Документы для открытия счета
                    %li
                      %a{href: "/business/documents-and-rates/5/", title: "Расчетно-кассовое обслуживание"} 
                        Расчетно-кассовое обслуживание
            %section
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Кредиты
              .content{data:{section:{content:""}}}
                .side-nav
                  .hash-nav
                    %li
                      %a{href: "/business/documents-and-rates/58/", title: "Овердрафт"}
                        Овердрафт
            %section
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Депозиты
              .content{data:{section:{content:""}}}
                .side-nav
                  .hash-nav
                    %li
                      %a{href: "/business/documents-and-rates/62/", title: "Доходный счет"}
                        Доходный счет
                    %li
                      %a{href: "/business/documents-and-rates/63/", title: "Вклад на срок"}
                        Вклад на срок
            %section
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Интернет-банк
              .content{data:{section:{content:""}}}
                .side-nav
                  .hash-nav
                    %li
                      %a{href: "/business/documents-and-rates/65/", title: "Документы"}
                        Документы
                    %li
                      %a{href: "/business/documents-and-rates/69/", title: "Сертификат (USB-ключ)"}
                        Сертификат (USB-ключ)
                    %li
                      %a{href: "/business/documents-and-rates/89/", title: "Полезная информация"}
                        Полезная информация
            %section
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Корпоративные карты
              .content{data:{section:{content:""}}}
                .side-nav
                  .hash-nav
                    %li
                      %a{href: "/business/documents-and-rates/71/", title: "Бизнес-Карта"}
                        Бизнес-Карта
                    %li
                      %a{href: "/business/documents-and-rates/72/", title: "Карта для инкассации"}
                        Карта для инкассации
            %section
              %p.title
                %a{href:"/business/documents-and-rates/83/"}
                  Зарплатный проект
            %section
              %p.title{data:{section:{title: ""}}}
                %a{href:""}
                  Эквайринг
              .content{data:{section:{content:""}}}
                .side-nav
                  .hash-nav
                    %li
                      %a{href: "/business/documents-and-rates/75/", title: "Торговый эквайринг"}
                        Торговый эквайринг
                    %li
                      %a{href: "/business/documents-and-rates/76/", title: "Интернет-эквайринг"}
                        Интернет-эквайринг
            %section
              %p.title
                %a{href:"/business/documents-and-rates/85/"}
                  Накопительный счет

    .columns.small-12.large-6
      %h1 Документы и тарифы
      %p.muted
        В данном разделе в меню слева представлены документы, касающиеся конкретных продуктов/сервисов для юридических лиц. Выберите интересующую вас группу и необходимый продукт/сервис.
      %p.muted
        В меню справа вы можете ознакомиться с действующими Правилами и Тарифами комплексного банковского обслуживания юридических лиц, а также с ранее действующими версиями этих документов.

    .columns.small-12.large-3.padding-top-20
      .accordion-nav.auto{data: {section: "accordion"}}
        %section
          %p.title
            %a{href:"/business/documents-and-rates/87/"}
              Правила КБО
        %section
          %p.title
            %a{href:"/business/documents-and-rates/88/"}
              Тарифы
        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#"}
              Архивные документы
          .content{data:{section:{content:""}}}
            .side-nav
              .hash-nav
                %li
                  %a{href: "/business/documents-and-rates/91/", title: "Правила КБО"}
                    Правила КБО
                %li
                  %a{href: "/business/documents-and-rates/92/", title: "Тарифы"} 
                    Тарифы

%section.padding-70
  = render template: "shared/contacts"
