%section.product-information-block
  .row
    .columns.small-12

      .section-container.auto{data: {section: ""}}

        %section.active
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Основная информация
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td.padding-25
                    Ставка по кредиту
                  %td.padding-25
                    %strong
                      От 18,9% годовых
                      %sup 1
                %tr
                  %td.padding-25
                    Выпуск и годовое обслуживание карты MasterCard Standard
                  %td.padding-25
                    %strong
                      БЕСПЛАТНО
                %tr
                  %td.padding-25
                    Выдача наличных
                  %td.padding-25
                    %strong
                      БЕСПЛАТНО
                      %sup 2
                %tr
                  %td.padding-25
                    Погашение кредита
                  %td.padding-25
                    %strong
                      Ежемесячный платеж — от 1,6%
                      %sup 3
                %tr
                  %td.padding-25
                    Необходимые документы для оформления
                  %td.padding-25
                    %strong
                      Только паспорт гражданина РФ
                %tr
                  %td.padding-25{colspan: "2"}
                    %small
                      1 — размер процентной ставки определяется Банком индивидуально для каждого заемщика на основании оценки кредитоспособности.
                      %br
                      2 — в банкоматах и пунктах выдачи наличных Банка бесплатно; в банкоматах и пунктах выдачи наличных сторонних банков первые три операции снятия наличных денежных средств с карты в каждом календарном месяце бесплатно.
                      %br
                      3 — при условии процентной ставки 18,9% годовых.



        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Общие требования к заемщику
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td.padding-25
                    Гражданство
                  %td.padding-25
                    %strong
                      РФ
                %tr
                  %td.padding-25
                    Возраст
                  %td.padding-25
                    %strong
                      Не менее 23 лет и не более 60 лет
                %tr
                  %td.padding-25
                    Адрес проживания и работы
                  %td.padding-25
                    %strong
                      Москва, Санкт-Петербург, Краснодар, Новороссийск
                %tr
                  %td.padding-25
                    Адрес регистрации
                  %td.padding-25
                    %strong
                      РФ
                %tr
                  %td.padding-25
                    Наличие постоянной работы
                  %td.padding-25
                    %strong
                      Обязательно
                %tr
                  %td.padding-25
                    Наличие положительной кредитной истории в других банках
                  %td.padding-25
                    %strong
                      Обязательно

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Как погашать кредит
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td.padding-25{colspan: "2"}
                    Погашение кредита происходит при зачислении средств на карточный счет клиента
                %tr
                  %td.padding-25
                    В кассах и банкоматах с функцией приема наличных 2ТБанка
                  %td.padding-25
                    %strong
                      БЕСПЛАТНО
                %tr
                  %td.padding-25
                    В кассах и банкоматах с функцией приема наличных «Мастер-Банка»
                  %td.padding-25
                    %strong
                      БЕСПЛАТНО
                %tr
                  %td.padding-25
                    Безналичный перевод через Интернет-банк 2ТБанка с другого счета клиента в 2ТБанке
                  %td.padding-25
                    %strong
                      БЕСПЛАТНО
                %tr
                  %td.padding-25
                    Безналичный перевод из другой кредитной организации
                  %td.padding-25
                    %strong
                      По тарифам банка-отправителя
