%section.product-information-block
  .row
    .columns.small-12

      .section-container.auto{data: {section: ""}}

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Основная информация
          .content{data:{section:{content:""}}}
            %table{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td
                    Ставка по кредиту
                  %td
                    От 18,9% годовых
                    %sup 1
                %tr
                  %td
                    Выпуск и годовое обслуживание карты MasterCard Standard
                  %td
                    БЕСПЛАТНО
                %tr
                  %td
                    Выдача наличных
                  %td
                    БЕСПЛАТНО
                    %sup 2
                %tr
                  %td
                    Погашение кредита
                  %td
                    Ежемесячный платеж — от 1,6%
                    %sup 3
                %tr
                  %td
                    Необходимые документы для оформления
                  %td
                    Только паспорт гражданина РФ

            %div
              %small
                1 — размер процентной ставки определяется Банком индивидуально для каждого заемщика на основании оценки кредитоспособности.
                %br
                2 — в банкоматах и пунктах выдачи наличных Банка бесплатно; в банкоматах и пунктах выдачи наличных сторонних банков первые три операции снятия наличных денежных средств с карты в каждом календарном месяце бесплатно.
                %br
                3 — при условии процентной ставки 18,9% годовых.



        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Общие требования к заемщику
          .content{data:{section:{content:""}}}
            %table{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td
                    Гражданство
                  %td
                    РФ
                %tr
                  %td
                    Возраст
                  %td
                    Не менее 23 лет и не более 60 лет
                %tr
                  %td
                    Адрес проживания и работы
                  %td
                    Москва, Санкт-Петербург, Краснодар, Новороссийск
                %tr
                  %td
                    Адрес регистрации
                  %td
                    РФ
                %tr
                  %td
                    Наличие постоянной работы
                  %td
                    Обязательно
                %tr
                  %td
                    Наличие положительной кредитной истории в других банках
                  %td
                    Обязательно

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Как погашать кредит
          .content{data:{section:{content:""}}}
            %table{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td{colspan: "2"}
                    Погашение кредита происходит при зачислении средств на карточный счет клиента
                %tr
                  %td
                    В кассах и банкоматах с функцией приема наличных 2ТБанка
                  %td
                    БЕСПЛАТНО
                %tr
                  %td
                    В кассах и банкоматах с функцией приема наличных «Мастер-Банка»
                  %td
                    БЕСПЛАТНО
                %tr
                  %td
                    Безналичный перевод через Интернет-банк 2ТБанка с другого счета клиента в 2ТБанке
                  %td
                    БЕСПЛАТНО
                %tr
                  %td
                    Безналичный перевод из другой кредитной организации
                  %td
                    По тарифам банка-отправителя
