%section.product-information-block
  .row
    .columns.small-12

      .section-container.auto{data: {section: ""}}

        %section.active
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Основная информация
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td.padding-25
                    Кредитный лимит
                  %td.padding-25
                    До 300 000 рублей
                %tr
                  %td.padding-25
                    Ставка по кредиту
                  %td.padding-25
                    От 18,9%, размер процентной ставки определяется индивидуально для каждого заемщика
                %tr
                  %td.padding-25
                    Выпуск и годовое обслуживание карты MasterCard Standard
                  %td.padding-25
                    БЕСПЛАТНО
                %tr
                  %td.padding-25
                    Выдача наличных
                  %td.padding-25
                    БЕСПЛАТНО *
                %tr
                  %td.padding-25
                    Погашение кредита
                  %td.padding-25
                    В размере начисленных процентов за прошедший расчетный период, 
                    %a{href: "/media/download/547.pdf", target:"_blank"}
                      подробнее
                %tr
                  %td.padding-25
                    Необходимые документы для оформления
                  %td.padding-25
                    Только паспорт гражданина РФ

                %tr
                  %td.padding-25
                    Доставка курьером
                  %td.padding-25
                    по Москве, Санкт-Петербургу, Краснодару, Новороссийску
                %tr
                  %td.padding-25{colspan:"2"}
                    %small
                      * — в банкоматах и пунктах выдачи наличных Банка бесплатно; в банкоматах и пунктах выдачи наличных сторонних банков первые три операции снятия наличных денежных средств с карты в каждом календарном месяце бесплатно

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Общие требования к заемщику
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td.padding-25
                    Гражданство
                  %td.padding-25
                    РФ
                %tr
                  %td.padding-25
                    Возраст
                  %td.padding-25
                    Не менее 23 лет и не более 60 лет
                %tr
                  %td.padding-25
                    Адрес проживания и работы
                  %td.padding-25
                    Москва, Санкт-Петербург, Краснодар, Новороссийск
                %tr
                  %td.padding-25
                    Адрес регистрации
                  %td.padding-25
                    РФ
                %tr
                  %td.padding-25
                    Наличие постоянной работы
                  %td.padding-25
                    Обязательно

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Как погашать кредит
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td.padding-25{colspan: "2"}
                    Погашение кредита происходит при зачислении средств на карточный счет клиента
                %tr
                  %td.padding-25
                    В кассах и банкоматах с функцией приема наличных 2ТБанка
                  %td.padding-25
                    БЕСПЛАТНО
                %tr
                  %td.padding-25
                    В кассах и банкоматах с функцией приема наличных «Мастер-Банка»
                  %td.padding-25
                    БЕСПЛАТНО
                %tr
                  %td.padding-25
                    Безналичный перевод через Интернет-банк 2ТБанка с другого счета клиента в 2ТБанке
                  %td.padding-25
                    БЕСПЛАТНО
                %tr
                  %td.padding-25
                    Безналичный перевод из другой кредитной организации
                  %td.padding-25
                    По тарифам банка-отправителя
