%section.product-information-block
  .row
    .columns.small-12

      .section-container.auto{data: {section: ""}}

        %section.active
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Процентные ставки
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td
                  %td
                    Процентная ставка
                    %br
                    (годовых в рублях)
                  %td
                    Процентная ставка
                    %br
                    (годовых в USD)
                  %td
                    Процентная ставка
                    %br
                    (годовых в EUR)
                %tr
                  %td.text-left
                    тВклад
                  %td
                    %strong
                      8.25 %
                  %td
                    %strong
                      3.30 %
                  %td
                    %strong
                      3.00 %

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Ставки по премиальным счетам
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td
                  %td
                    Процентная ставка
                    %br
                    (годовых в рублях)
                  %td
                    Процентная ставка
                    %br
                    (годовых в USD)
                  %td
                    Процентная ставка
                    %br
                    (годовых в EUR)
                %tr
                  %td.text-left
                    Премиальный - 60
                    %br
                    %strong.tiny
                      31-90
                  %td
                    %strong
                      9.00 %
                  %td
                    %strong
                      3.40 %
                  %td
                    %strong
                      3.10 %
                %tr
                  %td.text-left
                    Премиальный - 180
                    %br
                    %strong.tiny
                      91-270
                  %td
                    %strong
                      9.75 %
                  %td
                    %strong
                      3.45 %
                  %td
                    %strong
                      3.15 %
                %tr
                  %td.text-left
                    Премиальный - 360
                    %br
                    %strong.tiny
                      271+
                  %td
                    %strong
                      10.50 %
                  %td
                    %strong
                      3.50 %
                  %td
                    %strong
                      3.20 %

      %p
        %a{href: "/clients/44/", target: "_blank"}
          %strong Подробнее
