%section.product-information-block
  .row
    .columns.small-12

      .section-container.auto{data: {section: ""}}

        %section.active
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                О фонде
          .content{data:{section:{content:""}}}
            %table{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td.small-6
                    %strong
                      Инвестиционная цель
                    %br
                    Потенциальная доходность, превышающая доход по банковским депозитам при умеренных рыночных рисках
                  %td
                    %strong
                      Состав активов
                    %br
                    Квартиры и таунхаусы на территории Новой Москвы
                %tr
                  %td
                    %strong
                      Стратегия фонда
                    %br
                    Инвестиции в жилищное строительство, наиболее надежный и активно растущий сектор экономики
                  %td
                    %strong
                      Горизонты инвестирования
                    %br
                    от 3 месяцев до 3 лет
                %tr
                  %td
                    %strong
                      Факторы доходности
                    %br
                    Сильная управленческая команда. Собственная система мониторинга и контроля рисков. Перспективная инвестиционная стратегия. Рост цен на жилье в Новой Москве. Увеличение стоимости конкретных объектов по мере их строительной готовности.
                  %td
                    %strong
                      Подробнее о фонде
                    %br
                    Закрытый паевой инвестиционный фонд недвижимости «Новая Москва»
                    %br
                    Управляющая компания: Еврофинансы
                    %br
                    Сайт управляющей компании
                    %br
                    Аудитор: 2К Аудит
                    %br
                    Статистика фонда (по состоянию на 31.05.2013 ):
                    %br
                    Пай: 21 498.95 руб.
                    %br
                    СЧА: 346 071 218.00 руб.



        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Статистика стоимости чистых
                %br
                активов
          .content{data:{section:{content:""}}}
            %table{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td.small-6
                    %row
                      .columns.small-6.text-center
                        %strong
                          Отчётная дата
                      .columns.small-6.text-center.padding-0
                        %strong
                          Стоимость чистых активов
                      .columns.small-12
                        %table.black-border{style: "width: 100%", cellpadding: "1", cellspacing: "0"}
                          %tbody.text-center
                            %tr
                              %td.small-6
                                31.05.2013
                              %td.small-6
                                346 071 218,00 руб.
                            %tr
                              %td
                                30.04.2013
                              %td
                                213 682 306,84 руб.
                            %tr
                              %td
                                29.03.2013
                              %td
                                214 637 239,82 руб.
                            %tr
                              %td
                                28.02.2013
                              %td
                                215 882 578,40 руб.
                            %tr
                              %td
                                31.01.2013
                              %td
                                216 059 711,70 руб.
                            %tr
                              %td
                                29.12.2012
                              %td
                                214 763 779,70 руб.
                            %tr
                              %td
                                30.11.2012
                              %td
                                196 450 024,70 руб.
                            %tr
                              %td
                                31.10.2012
                              %td
                                196 835 129,68 руб.
                            %tr
                              %td
                                28.09.2012
                              %td
                                163 520 840,13 руб.
                            %tr
                              %td
                                31.08.2012
                              %td
                                163 740 250,46 руб.
                            %tr
                              %td
                                31.07.2012
                              %td
                                163 960 494,45 руб.
                            %tr
                              %td
                                29.06.2012
                              %td
                                164 058 439,03 руб.
                            %tr.border-none
                              %td
                                31.05.2012
                              %td
                                164 191 515,05 руб.
                  %td.small-1
                  %td.small-5.vertical-align-top
                    %strong
                      Млн. руб.
                    %br
                    =image_tag "features/0001/01/graf-new1-moscow-pif.cb19cc5837c6.png"

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Документы фонда
          .content{data:{section:{content:""}}}
            %table{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody
                %tr
                  %td
                    %strong
                      %a{href: "#"}
                        Общая информация
                %tr
                  %td
                    %strong
                      %a{href: "#"}
                        Документы
                %tr
                  %td
                    %strong
                      %a{href: "#"}
                        Раскрытие информации
                %tr
                  %td
                    %strong
                      %a{href: "#"}
                        О компании Еврофинансы
                    
                


















