%section.product-information-block
  .row
    .columns.small-12

      .section-container.auto{data: {section: ""}}

        %section.active
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span.table-header
                Тарифы и документы
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td.tr-header{:colspan => 1}
                    Размер, мм (высота, ширина, глубина)
                  %td.tr-header{:colspan => 4}
                    Стоимость аренды (включая НДС), рублей за срок аренды
                %tr
                  %td
                  %td
                    1 день*
                  %td
                    1 месяц
                    %br
                    (30 дней)
                  %td
                    3 месяца
                    %br
                    (90 дней)
                  %td
                    6 месяца
                    %br
                    (180 дней)
                  %td
                    12 месяца
                    %br
                    (360 дней)
                %tr
                  %td
                    105 × 93 × 350
                  %td
                    %strong
                      50
                  %td
                    %strong
                      1500
                  %td
                    %strong
                      2700
                  %td
                    %strong
                      4500
                  %td
                    %strong
                      5400
                %tr
                  %td
                    105 × 243 × 350
                  %td
                    %strong
                      80
                  %td
                    %strong
                      2400
                  %td
                    %strong
                      5400
                  %td
                    %strong
                      7200
                  %td
                    %strong
                      9000
                %tr
                  %td
                    625 × 260 × 350
                  %td
                    %strong
                      140
                  %td
                    %strong
                      4200
                  %td
                    %strong
                      9000
                  %td
                    %strong
                      16200
                  %td
                    %strong
                      27000
                %tr
                  %td.text-left{:colspan => 5}
                    %p
                      %a{href: "/clients/36/", target: "_blank"}
                        %strong Полезные документы
                %tr
                  %td.text-left{:colspan => 5}
                    %p.small
                      * — Залоговая стоимость ключа индивидуального банковского сейфа — 2000 рублей.

      
