%section.product-information-block.block-3
  
  .row.small-centered.columns.text-center

    .columns.small-4
      =image_tag "features/0001/01/img-internet-bank.1eb6fb785940.png"

    .columns.small-4
      =image_tag "features/0001/01/img-mobile-bank.1808bae0b3b0.png"

    .columns.small-4.phone-block-3
      %p.small
        %strong Контакт-центр
        %br
        %span 8-800-100-94-34

  .row.small-centered.columns.text-center

    .columns.small-4
      %strong Больше свободы
      %p.small
        %a{href: "#"} Интернет-Банк 
        — это современный сервис, позволяющий контролировать и управлять своими средствами в режиме 24/7 с компьютера, имеющего выход в Интернет.

    .columns.small-4
      %strong Больше мобильности
      %p.small
        Контролируй свои счета, оплачивай ЖКХ, счета за Интернет и мобильную связь и другие услуги, переводи деньги с мобильного телефона 24/7 из любой точки земного шара.
        %a{href: "#"} Подробнее о мобильном сервисе

    .columns.small-4
      %strong Всегда на связи
      %p.small
        Появился вопрос? — звоните в любое время из любого места. Мы всегда быстро ответим по телефону, через браузер или в чате.




%section.product-information-block
  
  .row.small-centered.columns.text-center

    .columns.small-5.small-offset-1.padding-40
      %p
        Бесплатная персонифицированная карта MasterCard Standard выпускается в течение 5 дней с момента открытия тСчета. Мы 
        %i бесплатно 
        доставим ее вам домой или в офис вместе с договором.
      %p
        Мы сделали возможным снятие наличных 
        %i бесплатно
        в банкомате 
        %i любого 
        банка в любой точке мира.
        %a{href: "#"}Подробнее про карту.

    .columns.small-5.left
      =image_tag "features/0001/01/fadf071ec516780935f4a02efa7e00c8d1da5a16.png"


%section.padding-40

  .row
    .columns.small-10.small-centered
      .row.text-center
        .columns.small-3
          %p
            =image_tag "features/0001/01/0df7e11eadf9cdcfae81dd96146b98ab753c1c86.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/9bb71505a8711518513b2e9f9fee545d90739c23.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/04a8382228b82c0b5a521eaf0a91c70817e3e58d.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/25f5c27478119066442b304a2b1e5b4b4b673123.png"

      .row.text-center
        .columns.small-3
          %h4
            Раз и навсегда
          %p.small
            Срок службы счета неограничен. Однажды открыв счет, вы в последствии всегда можете на него рассчитывать без лишних волнений и утомительных поездок в банк.
        .columns.small-3
          %h4
            Больше безопасности
          %p.small
            Счет в банке — безопасный способ хранения денег. Вы не сможете забыть его дома, или потерять на улице. Управлять всеми счетами через 
            %a{href: "#"}Интернет-Банк
            можно круглосуточно.
        .columns.small-3
          %h4
            Больше гибкости
          %p.small
            Вы можете конвертировать средства между рублями, долларами и евро и переводить их на нужную карту 24/7 в любой точке мира.
        .columns.small-3
          %h4
            Больше дохода
          %p.small
            Мы предлагаем нашим клиентам повышенную ставку дохода в рублях и валюте. Плюс — возможность настраивать параметры и управлять вкладами как вам удобно.