%section
  .row
    .columns.small-10.small-centered
      .row.padding-40
        .columns.large-5.small-12.right.text-center
          =image_tag "filer_public/2013/03/30/25d874620eb5d078da4c51d2b762319c3cf79ee5.png", :class => "hide-for-small"
        .columns.large-7.small-12.text-center.padding-40
          %p
            Бесплатная персонифицированная карта MasterCard Standard выпускается в течение 5 дней с момента открытия тСчета. Мы 
            %i бесплатно 
            доставим ее вам домой или в офис вместе с договором.
          %p
            Мы сделали возможным снятие наличных 
            %i бесплатно
            в банкомате 
            %i любого 
            банка в любой точке мира.
          %p
            %a{href: "/debetovye-karty/"}Подробнее про карту.

%section.padding-40
  .row
    .columns.small-12.text-center
      %h2.margin-bottom-20
  .row.large-text-centred
    .columns.small-12.large-centered.large-11
      .row
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "features/0001/01/0df7e11eadf9cdcfae81dd96146b98ab753c1c86.png"
            .columns.small-10.large-12.padding-side-20
              %h4
                Раз и навсегда
              %p.small
                Срок службы счета неограничен. Однажды открыв счет, вы&nbsp;в&nbsp;последствии всегда можете на&nbsp;него рассчитывать без лишних волнений и&nbsp;утомительных поездок в&nbsp;банк.
        .columns.large-3.small-12.left
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "features/0001/01/9bb71505a8711518513b2e9f9fee545d90739c23.png"
            .columns.small-10.large-12.padding-side-20
              %h4
                Больше безопасности
              %p.small
                Счет в&nbsp;банке&nbsp;— безопасный способ хранения денег. Вы&nbsp;не&nbsp;сможете забыть его дома, или потерять на&nbsp;улице. Управлять всеми счетами через
                %a{href:"/internet-bank/"}
                  Интернет-Банк
                можно круглосуточно.
        .columns.large-3.small-12.left
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "features/0001/01/04a8382228b82c0b5a521eaf0a91c70817e3e58d.png"
            .columns.small-10.large-12.padding-side-20
              %h4
                Больше гибкости
              %p.small
                Вы&nbsp;можете конвертировать средства между рублями, долларами и&nbsp;евро и&nbsp;переводить их&nbsp;на&nbsp;нужную карту 24/7&nbsp;в любой точке мира.
        .columns.large-3.small-12.left
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "features/0001/01/25f5c27478119066442b304a2b1e5b4b4b673123.png"
            .columns.small-10.large-12.padding-side-20
              %h4
                Больше дохода
              %p.small
                Мы&nbsp;предлагаем нашим клиентам повышенную ставку дохода в&nbsp;рублях и&nbsp;валюте. Плюс&nbsp;— возможность настраивать параметры и&nbsp;управлять вкладами как вам удобно.