%section.bank-about-information
  .row
    .columns.small-10.large-10.text-center.large-offset-1
      %h1
        К сожалению, страница не найдена.
      %p
        Мы сделали для вас новый сайт и, вероятно, запрашиваемая ссылка устарела.

      %h2
        Вы можете перейти на&nbsp;
        %a{href:"/"}<>
          главную страницу
        \ или на интересующую вас страницу с помощью меню.

      = image_tag "ffade6375f48745d5189600a95f0f346cd96ec1a.png"