= render template: "live/blocks/product_banner/cash_withdrawal"

= render template: "live/blocks/product_services/cash_withdrawal"

%section
  .row
    .columns.small-10.small-centered
      .row.padding-top-70
        .columns.small-12.large-3.text-center{id:"free"}
          =image_tag "service/0001/01/1934bc6f275dc450f486b492a93a634d93dfed63.png"
          .padding-top-30.show-for-small
        .columns.small-12.large-9
          %h2
            Снимайте наличные бесплатно по всему миру
          %p
            Целых три раза каждый месяц вы можете снимать деньги через любые банкоматы в мире без каких-либо комиссий! Учтите, что скорее всего банкомат не выдаст вам более 100 тысяч рублей в день — чаще всего в банкоматах установлен такой лимит.
      .row.padding-top-70
        .columns.small-12.large-3.text-center{id:"in_bank_offices"}
          =image_tag "service/0001/01/9365848c01a131510fb30dc9ef8e19f7e4382d6e.png"
          .padding-top-30.show-for-small
        .columns.small-12.large-9
          %h2
            Получайте наличные в отделении банка
          %p
            Снимать средства со счета вы можете также с помощью менеджеров 2ТБанка и банков-партнеров. Этой услугой стоит воспользоваться, если вы снимаете большую сумму. Это может быть безопаснее и часто быстрее, чем множество раз вытаскивать купюры из банкомата. При получении наличных в отделении банка или банка-партнера могут действовать особые условия.
          %p
            %a{href: "#map-type"}
              Посмотреть на карте
          .section-accordion.auto{data: {section: "accordion"}}
            %section.active
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Что такое кэш-ин?
              .content{data:{section:{content:""}}}
                Кэш-ин – это простой способ положить наличные на свой счет через банкомат. Вы просто вставляете стопку купюр в банкомат, оборудованный функцией приема денег и они мгновенно появляются на счете вашей карты, а через 24 часа вы можете управлять ими через интернет-банк или мобильный сервис в вашем смартфоне.
            %section
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Сколько наличных я могу положить за раз через кэш-ин?
              .content{data:{section:{content:""}}}
                Банкоматы с функцией кэш-ин могут обработать до 100 купюр за один раз. Банкомат не принимает купюры номиналом 5000 рублей.
            %section
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Сколько наличных я могу положить за раз через кэш-ин?
              .content{data:{section:{content:""}}}
                Банкоматы с функцией кэш-ин могут обработать до 100 купюр за один раз. Банкомат не принимает купюры номиналом 5000 рублей.

%section.padding-top-70

%section.section-bg-gray.padding-70.product-services-block
  .row
    .columns.small-10.small-centered
      .row.text-center
        %p
          =image_tag "features/0001/01/cash-in.9bccf22b3092.png"
      .row.text-center
        %h2
          %a{href: "/recharge/"}
            Как пополнить счет

= render template: "live/blocks/product_feedbacks/credit_transfer"
