= render template: "live/blocks/product_banner/credit_landing"
= render template: "live/blocks/product_questionnaire/credit_landing"

%footer.footer-section-short.padding-top-200
  .row.padding-top-20.margin-bottom-40
    .columns.small-3.large-3
      %p.small
        Мы в социальных сетях
      %div
        .addthis_toolbox.addthis_default_style.addthis_24x24_style
          %span.item
            %a.addthis_button_facebook{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
          %span.item
            %a.addthis_button_twitter{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
          %span.item
            %a.addthis_button_google_follow{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
          %span.item
            %a.addthis_button_youtube{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
          %span.item
            %a.addthis_button_vk{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
          %span.item
            %a.addthis_button_odnoklassniki_ru{style: "cursor:pointer", :"addthis:url" => "http://2tbank.ru/"}
        %script{src: "http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50c5f1d012151835", type: "text/javascript"}

      -#
        %a.no-underline{href: "", target: "_blank", title: "VKontakte"}
          %i.icon.icon-social-vk-small
        %a.no-underline{href: "", target: "_blank", title: "YouTube"}
          %i.icon.icon-social-yt-small
        %a.no-underline{href: "", target: "_blank", title: "Facebook"}
          %i.icon.icon-social-fb-small
        %a.no-underline{href: "", target: "_blank", title: "Google+"}
          %i.icon.icon-social-gp-small
        %a.no-underline{href: "https://www.addthis.com/bookmark.php?v=300&winname=addthis&pub=ra-50c5f1d012151835&source=tbx32-300&lng=ru&s=odnoklassniki_ru&url=http%3A%2F%2F2tbank.ru%2F&title=%D0%9A%D0%B0%D1%80%D1%82%D0%B0%20%7C%202TBank&ate=AT-ra-50c5f1d012151835/-/-/52179eac7f39de86/2&frommenu=1&uid=52179eacb7f27108&ct=1&pre=https%3A%2F%2F2tbank.ru%2F&tt=0&captcha_provider=nucaptcha", target: "_blank", title: "Odnoklassniki"}
          %i.icon.icon-social-ok-small
        %a.no-underline{href: "", target: "_blank", title: "Twitter"}
          %i.icon.icon-social-tw-small

    .columns.small-3.large-3
      %p Кредитная карта
      %p.small
        %a.no-underline{href: ""} Условия
      %p.small
        %a.no-underline{href: ""} Как погашать
      %p.small
        %a.no-underline{href: ""} Требования к заемщику
      %p.small
        %a.no-underline{href: ""} Документы
    .columns.small-3.large-3.contacts-block-short
      %h2 Горячая линия
      %h2 8-800-100-94-34
      %p.small
        (звонок по России бесплатный)
    .columns.small-3.large-3
      %p.small
        2TBank.ru и 2Т Банк являются торговыми марками Банк – Т (ОАО). 
        %br
        Лицензия Банка России №625
