= render template: "live/blocks/product_banner/internet_bank/"

= render template: "live/blocks/product_services/internet_bank"

%section.padding-40
  .row.large-text-centred
    .columns.small-12.large-centered.large-11
      .row
        .columns.large-4.small-12.padding-side-20
          .row
            .columns.small-2.large-12
              %p
                =image_tag "features/0001/01/08d0e120a06edaf7f8f69b10a4f5c36df08e4b93.png", :style => "width:160px"
            .columns.small-10.large-12.padding-side-20
              %h4
                Все бесплатно
              %p.small
                Это самая приятная часть работы с&nbsp;Интернет-Банком&nbsp;— вы&nbsp;можете пользоваться им&nbsp;совершенно бесплатно в&nbsp;любое время суток из&nbsp;любой страны. Подключайте новые услуги и&nbsp;продукты, которые вам необходимы.
        .columns.large-4.small-12.padding-side-20
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "features/0001/01/9b6fc27a0d92ad8a94a3408b50178206fc2c10ca.png", :style => "width:160px"
            .columns.small-10.large-12.padding-side-20
              %h4
                Любые платежи
              %p.small
                С&nbsp;помощью Интернет-Банка вы&nbsp;можете легко оплатить любые услуги онлайн: ЖКХ, интернет, мобильную связь, телевидение, авиа и&nbsp;ж/д билеты и&nbsp;это только начало списка. Пусть очереди и&nbsp;скопление бумажных чеков останутся в&nbsp;прошлом, а&nbsp;ваше время&nbsp;— при вас.
        .columns.large-4.small-12.padding-side-20
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "features/0001/01/d0c515cfb8fb16939fa1846129e073452d144a20.png", :style => "width:160px"
            .columns.small-10.large-12.padding-side-20
              %h4
                Настройте систему под себя
              %p.small
                Например, вы&nbsp;можете настроить систему так, что&nbsp;%, выплачиваемые по&nbsp;вкладу, будут мгновенно перечисляться на&nbsp;оплату выбранных услуг: от&nbsp;ЖКХ и&nbsp;платы за&nbsp;аренду квартиры до&nbsp;балетного класса младшей сестры. Представьте, сколько времени вы&nbsp;сэкономите.

%section.padding-40
  .row.large-text-centred
    .columns.small-12.large-centered.large-11
      .row
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12
              %p
                =image_tag "features/0001/01/8d6ac5871aeed65d0b0043179a895f668a4565b3.png", :style => "width:160px"
            .columns.small-10.large-12
              %h4
                Больше мобильности
              %p.small
                2TБанк работает везде, где есть Интернет. Это делает вас абсолютно свободными. Все вопросы теперь решаются онлайн.
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "features/0001/01/82d71812d580509b89ab59f5457050a849b2d0ac.png", :style => "width:160px"
            .columns.small-10.large-12
              %h4
                Больше времени
              %p.small
                Круглосуточный доступ без выходных, легкие инструменты управления средствами и&nbsp;удобные сервисы. Все это призвано освободить ваше время для своих дел.
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "features/0001/01/57d815b072bf667ed11bb1ac6e31da0df2534050.png", :style => "width:160px"
            .columns.small-10.large-12
              %h4
                Больше безопасности
              %p.small
                Ваши счета всегда в&nbsp;безопасности. Вы&nbsp;подтверждаете все операции в&nbsp;Интернет-Банке одноразовыми паролями, которые приходят на&nbsp;ваш мобильный.
        .columns.large-3.small-12
          .row
            .columns.small-2.large-12          
              %p
                =image_tag "features/0001/01/6298ef61f82768e562fe2cd6a385a22d95f4128a.png", :style => "width:160px"
            .columns.small-10.large-12
              %h4
                Всегда на связи
              %p.small
                Звоните и&nbsp;задавайте любые вопросы. Мы&nbsp;всегда быстро ответим по&nbsp;телефону, через браузер или в&nbsp;чате.

%section
  .row
    .columns.small-10.small-centered
      .row
        .columns.large-5.padding-top-30.hide-for-small
          =image_tag "features/0001/01/d3f62afc0fa52043322bb53ac76ae78b9337fd9c.png"
        .columns.large-7.small-12.text-center.padding-top-50
          %h2
            Еще больше мобильности
          %p
            Для большего удобства вы можете использовать для работы со счетами Мобильный сервис — доступ к счетам и операциям через мобильный телефон с помощью мобильного приложения для смартфонов на платформах iOS и Android.
          %p
            С помощью Мобильного сервиса можно управлять своими деньгами из любой точки планеты 24/7. 
          %p
            %a{href: "/mobile/"}
              Подробнее про Мобильный сервис

= render template: "live/blocks/product_questionnaire/mobile"

%section.padding-top-200

%section.padding-40
  .row
    .columns.small-12.text-center
      %h1.margin-bottom-20
        Наши принципы

  .row
    .columns.small-12.small-centered
      .row.text-center
        .columns.small-3
          %p
            =image_tag "features/0001/01/27907641160dd29eca287a90429106ecc3aeda6a.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/f224bbd28d5e1d40bed9fa01a1d900282ff8a189.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/4049eacec6da9ecb7d7bd26289e67dde53062a74.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/e06d1a432b38b742626b9ba165a2d83d0fe8364c.png"

      .row.text-center
        .columns.small-3
          %h4
            Выпуск карты бесплатно
          %p.small
            Мы считаем, что клиенты не должны платить за карту. Первая стандартная карта MasterCard, которую мы выпускаем каждому клиенту, обслуживается бесплатно. 
            %a{href: "/debetovye-karty/"}
              Подробнее о карте MasterCard.
        .columns.small-3
          %h4
            Бесплатное обслуживание и платежи
          %p.small
            Мы считаем, что клиенты не должны платить за обслуживание. Мы не берем абонентской платы и бесплатно проводим все платежи и переводы через Интернет-Банк.
            %a{href:"/internet-bank/"}
              Подробнее об Интернет-Банке.
        .columns.small-3
          %h4
            Бесплатные наличные в любой точке мира
          %p.small
            Мы считаем, что клиенты не должны платить за доступ к своим деньгам. Мы сделали возможность снимать наличные бесплатно в любом банкомате мира.
            %a{href: "/cash-withdrawal/"}
              Подробнее о снятии наличных
        .columns.small-3
          %h4
            Бесплатное пополнение счета
          %p.small
            Мы считаем, что клиенты не должны платить за пополнение своего счета. Ваш счет можно бесплатно пополнить безналичным переводом из любого банка и через 3000 банкоматов и офисов.
            %a#scroll-to-table{href: "/recharge/"} 
              Подробнее о точках пополнения.

= render template: "live/blocks/product_feedbacks/credit_transfer"
