= render template: "live/blocks/product_banner/mortgage"

= render template: "live/blocks/under_banner/index"
%section.padding-40
  .row
    .columns.small-10.small-centered
      .row.text-center
        .columns.small-3
          %p
            =image_tag "features/0001/01/mortage-icon-1.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/mortage-icon-2.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/mortage-icon-3.png"
        .columns.small-3          
          %p
            =image_tag "features/0001/01/3989263c44a30df361bad939e817f49f2a6081a5.png"

      .row.text-center
        .columns.small-3
          %p.small
            Процентная ставка — от 9,9% годовых
        .columns.small-3
          %p.small
            Первоначальный взнос — от 10% от стоимости недвижимости
        .columns.small-3
          %p.small
            Срок до 15 лет
        .columns.small-3
          %p.small
            Ознакомься с предложениями по недвижимости
            %a#scroll-to-table{href: "http://town-t.ru"} партнеров 2ТБанка

%section
  .row
    .columns.small-10.small-centered
      .row.padding-40
        .columns.small-7.text-center.padding-90
          %p
            Рассмотрение документов и весь процесс предоставления кредита мы проведем максимально оперативно и без комиссии. Досрочное погашение кредита по договору также осуществляется без комиссии.
        .columns.small-5
          =image_tag "features/0001/01/ffe609a57f39f7ccb8243d1139e5284ca09481c5.png"

= render template: "live/blocks/product_information/mortgage"

= render template: "live/blocks/product_feedbacks/credit_transfer"
