= render template: "live/blocks/product_banner/mortgage"

%section.padding-40
  .row.large-text-centred
    .columns.small-12.large-centered.large-10
      .row
        .columns.large-3.small-6
          .row
            .columns.small-5.large-12
              %p
                =image_tag "features/0001/01/mortage-icon-1.png"
            .columns.small-7.large-12
              %p.small
                Процентная ставка&nbsp;— от&nbsp;
                %strong
                  9,9% годовых
        .columns.large-3.small-6
          .row
            .columns.small-5.large-12 
              %p
                =image_tag "features/0001/01/mortage-icon-2.png"
            .columns.small-7.large-12
              %p.small
                Первоначальный взнос&nbsp;— от&nbsp;
                %strong
                  10%
                от&nbsp;стоимости недвижимости
        .columns.large-3.small-6
          .row
            .columns.small-5.large-12
              %p
                =image_tag "features/0001/01/mortage-icon-3.png"
            .columns.small-7.large-12
              %p.small
                Срок до&nbsp;
                %strong
                  15&nbsp;лет
        .columns.large-3.small-6
          .row
            .columns.small-5.large-12
              %p
                =image_tag "features/0001/01/3989263c44a30df361bad939e817f49f2a6081a5.png"
            .columns.small-7.large-12
              %p.small
                Ознакомься с&nbsp;предложениями по&nbsp;недвижимости
                %a{href:"http://town-t.ru"}
                  партнеров 2ТБанка

%section
  .row
    .columns.small-10.small-centered.padding-40
      %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
        %tbody.text-center
          .tr
            %td.small-8.large-6
              %p
                Рассмотрение документов и весь процесс предоставления кредита мы проведем максимально оперативно и без комиссии. Досрочное погашение кредита по договору также осуществляется без комиссии.
            %td.small-4.large-6
              =image_tag "features/0001/01/ffe609a57f39f7ccb8243d1139e5284ca09481c5.png"

= render template: "live/blocks/product_information/mortgage"

= render template: "live/blocks/product_feedbacks/credit_transfer"
