= render template: "live/blocks/product_banner/new_moscow"

%section.padding-40
  .row.large-text-centred
    .columns.small-10.large-centered.small-centered.large-10
      .row
        .columns.large-4.small-12
          .row
            .columns.small-3.large-12
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/06/26/9f800c4f9be48717cc498d61f77015f9289ce066png__160x160_q85_crop_upscale.png__64x64_q85_crop_upscale.png"
            .columns.small-9.large-12.padding-side-20
              %h4
                Выгодно и доступно
              %p.small
                Вы можете получить повышенный доход от вложений в строительство московского жилья, обладая свободным капиталом всего от 10 000 рублей
        .columns.large-4.small-12
          .row
            .columns.small-3.large-12 
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/06/26/9f800c4f9be48717cc498d61f77015f9289ce066png__160x160_q85_crop_upscale.png__64x64_q85_crop_upscale.png"
            .columns.small-9.large-12.padding-side-20
              %h4
                Гибкие сроки
              %p.small
                3, 6, 9, 12, 18, 24, 36 мес.&nbsp;— как удобно вам
        .columns.large-4.small-12
          .row
            .columns.small-3.large-12
              %p
                =image_tag "filer_public_thumbnails/filer_public/2013/06/26/9f800c4f9be48717cc498d61f77015f9289ce066png__160x160_q85_crop_upscale.png__64x64_q85_crop_upscale.png"
            .columns.small-9.large-12.padding-side-20
              %h4
                Без потерь, без риска
              %p.small
                Гарантированный обратный выкуп паев 2ТБанком при досрочном расторжении договора - по цене приобретения

= render template: "live/blocks/product_information/new_moscow"

= render template: "live/blocks/product_questionnaire/new_moscow"

%section.padding-top-200

= render template: "live/blocks/product_feedbacks/credit_transfer"
