= render template: "live/blocks/product_banner/recharge"

= render template: "live/blocks/product_services/recharge"

%section.section-bg-blue.shadow-inset-top.padding-40
  .row
    .columns.small-12.map.mainPage.map-contacts
      .format-choice-block
        %header
          %ul.text-center#map-type
            %li
              %a#all-offices{href:"#"} Все офисы
            %li
              \/
            %li
              %a#bank-offices{href:"#"} Только офисы банка
            %li
              \/
            %li
              %a#cash-ins{href:"#"} Кеш-ины
      .sub-border-top.columns.small-11.small-centered.margin-bottom-30
      = render template: "shared/map"

%section
  .row
    .columns.small-10.small-centered
      .row.padding-top-70
        .columns.small-12.large-3.text-center{id:"salary"}
          =image_tag "service/0001/01/6e1b02004a4cd0992c09ff4ef06f53cc5599b7e1.png"
          .padding-top-30.show-for-small
        .columns.small-12.large-9
          %h2
            Перечислите зарплату на счет в 2ТБанке
          %p
            Ваша зарплата может автоматически перечисляться на ваш счет в 2ТБанке. Для этого просто обратитесь в бухгалтерию на работе с запросом организовать этот несложный процесс.
          %p
            %a{href: "/clients/56/"}
              Инструкция по переводу зарплаты на ваш счет в 2ТБанке
      .row.padding-top-70
        .columns.small-12.large-3.text-center{id:"cashless"}
          =image_tag "service/0001/01/35d3ed95a08ecb39931fd1945d4035bde5de29f8.png"
          .padding-top-30.show-for-small
        .columns.small-12.large-9
          %h2
            Сделайте безналичный перевод
          %p
            Вы можете просто сделать безналичный перевод денег на свой счет в 2ТБанке.
          %p
            %a{href: "/clients/55/"}
              Инструкция по Безналичному переводу
      .row.padding-top-70
        .columns.small-12.large-3.text-center{id:"in_bank_offices"}
          =image_tag "service/0001/01/7fdd104be92df899c5deedd885f06add882211c6.png"
          .padding-top-30.show-for-small
        .columns.small-12.large-9
          %h2
            Пополните счет в отделении банка
          %p
            При желании вы всегда можете обратиться к менеджеру 2ТБанка или банка-партнера. Это особенно удобно для пополнения счета на большие суммы. Это безопаснее и зачастую быстрее, чем множество раз отправлять купюры в кэш-ин банкомат.
          %p
            %a{href: "#map"}
              Посмотреть на карте
      .row.padding-top-70
        .columns.small-12.large-3.text-center{id:"cash_in"}
          =image_tag "service/0001/01/63af1802eaefea4ed925d5cf73f3e487a9a19d07.png"
          .padding-top-30.show-for-small
        .columns.small-12.large-9
          %h2
            Пополните счет через кэш-ин банкомат
          %p
            Вы можете положить деньги на свой счет через банкомат банка-партнера с функцией кэш-ин.
          %p
            %a{href: "#map"}
              Посмотреть на карте
          .section-accordion.auto{data: {section: "accordion"}}
            %section.active
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Что такое кэш-ин?
              .content{data:{section:{content:""}}}
                Кэш-ин – это простой способ положить наличные на свой счет через банкомат. Вы просто вставляете стопку купюр в банкомат, оборудованный функцией приема денег и они мгновенно появляются на счете вашей карты, а через 24 часа вы можете управлять ими через интернет-банк или мобильный сервис в вашем смартфоне.
            %section
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Сколько наличных я могу положить за раз через кэш-ин?
              .content{data:{section:{content:""}}}
                Банкоматы с функцией кэш-ин могут обработать до 100 купюр за один раз. Банкомат не принимает купюры номиналом 5000 рублей.
            %section
              %p.title{data:{section:{title: ""}}}
                %a{href:"#"}
                  Сколько наличных я могу положить за раз через кэш-ин?
              .content{data:{section:{content:""}}}
                Банкоматы с функцией кэш-ин могут обработать до 100 купюр за один раз. Банкомат не принимает купюры номиналом 5000 рублей.

%section.padding-top-70

%section.section-bg-gray.padding-70.product-services-block
  .row
    .columns.small-10.small-centered
      .row.text-center
        %p
          =image_tag "features/0001/01/cash-out.f84e5014b80f.png"
      .row.text-center
        %h2
          %a{href: "/cash-withdrawal/"}
            Как снять наличные

= render template: "live/blocks/product_feedbacks/credit_transfer"
