%header.product-banner-block.section-bg-blue.credit-landing
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-12.large-6
      .row
        .columns.small-6.small-offset-6.contacts-block-short
          %h2 Горячая линия
          %h2 8-800-100-94-34
          %p.small
            (звонок по России бесплатный)

        .columns.small-12
          %h1
            %span.bcond<>
              К
            р
            %span.b<>
              е
            %span.smb<>
              д
            итная карта 2ТБанка
          %ul.no-bullet.yelow-check-list
            %li
              Сумма кредита до 300 000 рублей
            %li
              0% годовых на все покупки по карте до 55 дней
            %li
              Погашение по всей России без комиссии
            %li
              Без справок и визита в банк
            %li
              Бесплатный интернет-банк

    .columns.small-6.small-offset-6.large-offset-0.large-6.text-right.img-block
      = image_tag "banners/credit-account.png"
