%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/credit-account.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          К
        р
        %span.b<>
          е
        %span.smb<>
          д
        итная карта 2ТБанка
      .discription
        %h2
          — это кредит с прогнозируемой стоимостью.
        %p
          Карта с установленным на нее кредитным лимитом позволяет вам продолжать осуществлять платежи и покупки при недостатке собственных средств.

        .small-12.large-8.large-centered
          %a#form_teaser_button.button.large.radius.expand.js-scroll-navigate{href: "#product-questionnaire-block"}
            Получить
            %br.hide-for-small
            кредитную карту
