%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/debit-card.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          К
        а
        %span.b<>
          р
        %span.smb<>
          т
        а
      %h2
        Карта MasterCard оформляется вместе с открытием
        \ 
        %a{href: "/schet-dlya-zhizni/"}><
          Счета для жизни
        \.
      .discription
        %p
          Согласно нашим принципам мы выпускаем первую стандартную карту бесплатно и без комиссии за обслуживание.
        %p
          Мы сделали возможным снимать наличные бесплатно в банкомате любого банка

      / .small-12.large-8.large-centered
      /   %a#form_teaser_button.button.large.radius.expand{href: "#"}
      /     Заказать
      /     %br.hide-for-small
      /     Кредит
      /     Трансфер