%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/dohodny-schet.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          Д
        о
        %span.b<>
          х
        %span.smb<>
          о
        дный сч
        %span.bcond<>
          ет+
      %h2
        — это выгодный вклад без ограничений срока, суммы и валюты, с повышающейся ставкой.
      .discription
        %p
          тВклад позволяет вам получать доход на остаток средств на счете и при этом свободно распоряжаться своими средствами.
        %p
          Ваш доход рассчитывается каждый день на основе текущего остатка на счете и ставки 10,5% годовых в рублях и после 30 дней начинает увеличиваться.