%header.main-page-banner
  .row.logo-block-row
    .logo-block-absolute
      = image_tag "logo.png"
  %ul{data: {orbit: "", options: "animation: fade; navigation_arrows: false; slide_number: false; timer: false;"}}
    %li#banner-slide-1
      .row
        #banner-image-1.banner-slide-image.columns.small-12
          .row
            .columns.small-5.small-offset-7.banner-slide-content
              %h1 Платформа по самостоятельному управлению финансами
              %p
                Которая обеспечивает своим клиентам
                %a{href: "/schet-dlya-zhizni/"}доступ к текущим счетам, вкладам и кредитам
                в режиме 24/7 в любой точке мира 
                %a{href: "/schet-dlya-zhizni/"}
                  %i.icon.icon-bullet15

              %ul.btn-links-block.inline-list
                %li
                  %a{href:""}
                    %i.icon.icon-ban_ico4
                    %span
                      В любой
                      %br
                      точке мира
                %li
                  %a{href:""}
                    %i.icon.icon-ban_ico2
                    %span
                      Круглосуточное
                      %br
                      обслуживание


          
    %li#banner-slide-2
      .row
        #banner-image-2.banner-slide-image.columns.small-12
          .row
            .columns.small-5.small-offset-7.banner-slide-content
              %h1 Управление и контроль 24/7 онлайн
              %p
                %a{href: "/internet-bank/"}Выписки, платежи и переводы
                в удобное вам время в любой точке мира
                %a{href: "/internet-bank/"}
                  %i.icon.icon-bullet15

              %ul.btn-links-block.inline-list
                %li
                  %a{href:""}
                    %i.icon.icon-ban_ico1
                    %span
                      Платежи
                      %br
                      и переводы
                %li
                  %a{href:""}
                    %i.icon.icon-ban_ico2
                    %span
                      Круглосуточное
                      %br
                      обслуживание



    %li#banner-slide-3
      .row
        #banner-image-3.banner-slide-image.columns.small-12
          .row
            .columns.small-5.small-offset-7.banner-slide-content
              %h1 Снятие наличных бесплатно!
              %p
                %a{href:"/debetovye-karty/"}Снимайте наличные в любом банкомате
                мира без какой-либо комиссии
                %a{href: "/debetovye-karty/"}
                  %i.icon.icon-bullet15

              %ul.btn-links-block.inline-list
                %li
                  %a{href:""}
                    %i.icon.icon-ban_ico4
                    %span
                      В любой
                      %br
                      точке мира
                %li
                  %a{href:""}
                    %i.icon.icon-ban_ico5
                    %span
                      Бесплатное
                      %br
                      обслуживание

