%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/internet-bank.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          И
        н
        %span.b<>
          т
        %span.bcond<>
          е
        рнет-Банк
      .discription
        %p
          — это современный сервис, позволяющий управлять своими средствами в режиме 24/7 с компьютера, имеющего выход в Интернет.
        %p
          С помощью Интернет-Банка вы можете контролировать свои средства, проводить банковские операции, открывать нужные вам банковские продукты в удобное вам время.