%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/mobile-bank.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          М
        о
        %span.b<>
          б
        %span.bcond<>
          и
        льный
        %br
        сервис
      %h2
        Плати с мобильного — выигрывай время
      .discription
        %p
          С Мобильным сервисом Банк всегда с вами там, где вам удобно. Получите полную свободу в управлении своими финансами.
        %p
          Контролируйте свои счета, оплачивайте любые услуги и переводите деньги с мобильного телефона 24/7 из любой точки мира.