%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/mobile-bank.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          М
        о
        %span.b<>
          б
        %span.bcond<>
          и
        льный
        %br
        сервис
      %h2
        Плати с мобильного — выигрывай время
      .discription
        %p
          С Мобильным сервисом Банк всегда с вами там, где вам удобно. Получите полную свободу в управлении своими финансами.
        %p
          Контролируйте свои счета, оплачивайте любые услуги и переводите деньги с мобильного телефона 24/7 из любой точки мира.
        %ul.inline-list
          %li
            %a{href: "https://itunes.apple.com/ru/app/bank-2t/id517210131", target: "_blank"}
              %i.icon.icon-app-store
          %li
            %a{href: "https://play.google.com/store/apps/details?id=ru.ftc.faktura.bankt&feature=search_result#?t=W251bGwsMSwyLDEsInJ1LmZ0Yy5mYWt0dXJhLmJhbmt0Il0.", target: "_blank"}
              %i.icon.icon-google-play