%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/mortgage.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          И
        %span.b<>
          п
        %span.bcond<>
          о
        теч
        %span.b<>
          ны
        й
        %br
        %span.bcond<>
          к
        %span.b<>
          ре
        дит
      %h2
        Ипотечный кредит до 10 000 000 рублей от 2ТБанка — это реальный шанс приобрести собственное жилье и получить больше удовольствия от жизни.