%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/plate_salary.png"
    .columns.small-12.large-5
      %h2
        Доли в инвестиционном
        %br
        фонде недвижимости
        %br
        «НОВАЯ МОСКВА».
      .discription
        %p
          Выгодная альтернатива срочному депозиту.
        %a.button.radius.expand.font-size-2{href: "#product-questionnaire-block"}
          Получить
          %br.show-for-medium-up
          дополнительную
          %br.show-for-medium-up
          информацию