%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-12.large-5.small-offset-7.large-offset-3.padding-top-50
      %h2
        Где бы вы ни оказались, у вас есть различные возможности для 
        %a{href: "/cash-withdrawal/"}
          снятия средств
        и пополнения вашего счета.
    .columns.small-5.large-4.text-right
      = image_tag "banners/cash-worldwide.png"