%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-3.large-4.text-left
      .padding-top-70.hide-for-small
      %h2
        Где бы вы ни оказались, у вас есть различные возможности для 
        %a{href: "/cash-withdrawal/"}
          снятия средств
        и пополнения вашего счета.
    .columns.small-12.large-5.text-center
      = image_tag "banners/cash-worldwide.png"