%header.product-banner-block.section-bg-blue
  .absolute-gradient-block
  .row.content-block
    .sub-gradient
    .logo-block
      = image_tag "logo.png"
    .columns.small-7.small-offset-5.large-offset-1.large-6.text-right
      = image_tag "banners/safeboxes.png"
    .columns.small-12.large-5
      %h1
        %span.bcond<>
          С
        е
        %span.b<>
          йф
        овые
        %br
          ячейки
      %h2
        Чтобы больше не беспокоиться о сохранности особо ценных вещей — храните их в сейфовой ячейке в 2ТБанке.