%section.product-information-block
  .row
    .columns.small-12

      .section-container.auto{data: {section: ""}}

        %section.active
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Основные условия
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-left
                %tr
                  %td.padding-25
                    Заемщик
                  %td.padding-25
                    %strong
                      Юридическое лицо / Индивидуальный предприниматель (резидент РФ)
                %tr
                  %td.padding-25
                    Лимит Овердрафта при открытии счета
                  %td.padding-25
                    %strong
                      до 300 000 рублей – сразу при открытии счета*
                %tr
                  %td.padding-25
                    Максимальный лимит Овердрафта
                  %td.padding-25
                    %strong
                      до 1 000 000 рублей – до 30% от оборотов по счету в банке
                %tr
                  %td.padding-25
                    Льготный период Транша
                  %td.padding-25
                    %strong
                      2 дня
                %tr
                  %td.padding-25
                    Срок транша
                  %td.padding-25
                    %strong
                      45 дней
                %tr
                  %td.padding-25
                    Обеспечение
                  %td.padding-25
                    %strong
                      ез залога. Поручительство физического лица
                %tr
                  %td.padding-25
                    Срок принятия решения
                  %td.padding-25
                    %strong
                      1 день
                %tr
                  %td.padding-25
                    Рассмотрение заявки
                  %td.padding-25
                    %strong
                      БЕСПЛАТНО
                %tr
                  %td.padding-25
                    Предоставление лимита и выдача кредита
                  %td.padding-25
                    %strong
                      БЕСПЛАТНО
                %tr
                  %td.padding-25{colspan:"2"}
                    %small
                      * Компаниям и индивидуальным предпринимателям, с даты государственной регистрации которых прошло менее 6 месяцев, может быть установлен лимит Овердрафта до 50 000 рублей.
                %tr
                  %td.padding-top-40{colspan:"2"}
                    %a{href:"/business/documents-and-rates/"}
                      %strong
                        Список требуемых документов

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Процентные ставки
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td.padding-25.muted{colspan:"3"}
                    Таблица процентных ставок* (в % годовых)
                %tr
                  %td.padding-25.muted
                    Льготная ставка (1-2 дня)
                  %td.padding-25.muted
                    Ставка по Овердрафту (1-45 дней)
                  %td.padding-25.muted
                    Повышенная ставка (46-90 дней)
                %tr
                  %td.padding-25
                    %strong
                      0%
                  %td.padding-25
                    %strong
                      24%
                  %td.padding-25
                    %strong
                      48%
                %tr
                  %td.padding-25{colspan:"3"}
                    %small
                      * По Траншам, которые были полностью или частично погашены в течение Льготного периода начисление процентов производится по Льготной ставке — 0% годовых. Ставка по Овердрафту применяется в течение Срока транша с 1-го по 45-й день к Траншам, которые были погашены в течение Срока Транша и не были погашены полностью или частично в течение Льготного периода. К задолженности (части задолженности) по Траншам, непогашенным в течение Срока транша (45 дней с даты выдачи), начиная с 46-го дня применяется Повышенная процентная ставка, без предоставления новых Траншей.
