%section.product-information-block
  .row
    .text-center.margin-bottom-35
      %h2
        Специальная акция для новых клиентов
      %p.padding-20
        С 1 сентября 2013 г. в Банке стартует Акция для новых клиентов, позволяющая получить дополнительный доход на средства, размещенные на расчетном счете. Акция продлится в течение 3 месяцев – до 1 декабря 2013 г., при этом клиенты, открывшие счет в Банке в период Акции, будут получать дополнительный доход до 1 февраля 2014 г.
      %p
        Участникам Акции Банк на остаток на расчетном счете начисляет проценты:
  .row
    .columns.small-12

      .section-container.auto{data: {section: ""}}

        %section.active
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                В рублях
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td.padding-25.text-left
                    Остаток по счету
                  %td.padding-25
                    Процентная ставка
                %tr
                  %td.padding-25.text-left
                    100 000 – 3 000 000 рублей РФ
                  %td.padding-25
                    %strong
                      5 %
                %tr
                  %td.padding-25.text-left
                    3 000 001 – 5 000 000 рублей РФ
                  %td.padding-25
                    %strong
                      6 %
                %tr
                  %td.padding-25.text-left
                    5 000 001 рублей РФ и выше
                  %td.padding-25
                    %strong
                      7 %

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                В долларах США
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td.padding-25.text-left
                    Остаток по счету
                  %td.padding-25
                    Процентная ставка
                %tr
                  %td.padding-25.text-left
                    1 000 – 100 000 долларов США
                  %td.padding-25
                    %strong
                      3 %
                %tr
                  %td.padding-25.text-left
                    100 001 долларов США и выше
                  %td.padding-25
                    %strong
                      4 %

        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                В евро
          .content{data:{section:{content:""}}}
            %table.no-base-strips{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td.padding-25.text-left
                    Остаток по счету
                  %td.padding-25
                    Процентная ставка
                %tr
                  %td.padding-25.text-left
                    1 000 – 100 000 евро
                  %td.padding-25
                    %strong
                      2 %
                %tr
                  %td.padding-25.text-left
                    100 001 евро и выше
                  %td.padding-25
                    %strong
                      3 %
      С более подробными условиями Акции можно ознакомиться 
      %a{href: "/files/file/nachislenie-procentov-na-ostatok-business-current/", target: "_blank"}
        %strong
          здесь
        \.

