%section.product-information-block
  .row
    .text-center
      %h1
        Условия размещения
  .row
    .columns.small-12

      .section-container.auto{data: {section: ""}}

        %section.active
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                До 9 месяцев
          .content{data:{section:{content:""}}}
            %table.no-base-strips.hide-for-small{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td.padding-25.text-left.muted.small-2{style:"vertical-align:top"}
                    Минимальная сумма
                  %td.padding-25.muted
                    1<br>месяц
                    %p.small
                      31 день
                  %td.padding-25.muted
                    2<br>месяца
                    %p.small
                      32-60 дней
                  %td.padding-25.muted
                    3<br>месяца
                    %p.small
                      61-91 дней
                  %td.padding-25.muted
                    4<br>месяца
                    %p.small
                      92-120 дней
                  %td.padding-25.muted
                    5<br>месяцев
                    %p.small
                      121-150 дней
                  %td.padding-25.muted
                    6<br>месяцев
                    %p.small
                      121-150 дней
                  %td.padding-25.muted
                    7<br>месяцев
                    %p.small
                      184-210 дней
                  %td.padding-25.muted
                    8<br>месяцев
                    %p.small
                      211-240 дней
                  %td.padding-25.muted
                    9<br>месяцев
                    %p.small
                      241-270 дней
                %tr
                  %td.padding-25.text-left
                    1100 000 руб. РФ
                  %td.padding-25
                    %strong
                      10 %
                  %td.padding-25
                    %strong
                      11 %
                  %td.padding-25
                    %strong
                      11.1 %
                  %td.padding-25
                    %strong
                      11.2 %
                  %td.padding-25
                    %strong
                      11.3 %
                  %td.padding-25
                    %strong
                      11.4 %
                  %td.padding-25
                    %strong
                      11.5 %
                  %td.padding-25
                    %strong
                      11.6 %
                  %td.padding-25
                    %strong
                      11.7 %
                %tr
                  %td.padding-25.text-left
                    10 000 USD
                  %td.padding-25
                    %strong
                      5 %
                  %td.padding-25
                    %strong
                      5.05 %
                  %td.padding-25
                    %strong
                      5.1 %
                  %td.padding-25
                    %strong
                      5.15 %
                  %td.padding-25
                    %strong
                      5.2 %
                  %td.padding-25
                    %strong
                      5.25 %
                  %td.padding-25
                    %strong
                      5.3 %
                  %td.padding-25
                    %strong
                      5.35 %
                  %td.padding-25
                    %strong
                      5.4 %
                %tr
                  %td.padding-25.text-left
                    10 000 EUR
                  %td.padding-25
                    %strong
                      4 %
                  %td.padding-25
                    %strong
                      4.05 %
                  %td.padding-25
                    %strong
                      4.1 %
                  %td.padding-25
                    %strong
                      4.15 %
                  %td.padding-25
                    %strong
                      4.2 %
                  %td.padding-25
                    %strong
                      4.25 %
                  %td.padding-25
                    %strong
                      4.3 %
                  %td.padding-25
                    %strong
                      4.35 %
                  %td.padding-25
                    %strong
                      4.4 %
            %table.no-base-strips.show-for-small{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    Сумма вклада
                  %td.small-3.padding-side-20.padding-10
                    от 10 000 руб. РФ
                  %td.small-3.padding-side-20.padding-10
                    от 500 USD
                  %td.small-3.padding-side-20.padding-10
                    от 500 EUR
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    1 месяца
                    %p.small
                      31 день
                  %td.small-3.padding-side-20.padding-10
                    10 %
                  %td.small-3.padding-side-20.padding-10
                    5 %
                  %td.small-3.padding-side-20.padding-10
                    4 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    2 месяца
                    %p.small
                      32-60 дней
                  %td.small-3.padding-side-20.padding-10
                    11 %
                  %td.small-3.padding-side-20.padding-10
                    5.05 %
                  %td.small-3.padding-side-20.padding-10
                    4.05 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    3 месяца
                    %p.small
                      61-91 дней
                  %td.small-3.padding-side-20.padding-10
                    11.1 %
                  %td.small-3.padding-side-20.padding-10
                    5.1 %
                  %td.small-3.padding-side-20.padding-10
                    4.1 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    4 месяца
                    %p.small
                      92-120 дней
                  %td.small-3.padding-side-20.padding-10
                    11.2 %
                  %td.small-3.padding-side-20.padding-10
                    5.15 %
                  %td.small-3.padding-side-20.padding-10
                    4.15 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    5 месяца
                    %p.small
                      121-150 дней
                  %td.small-3.padding-side-20.padding-10
                    11.3 %
                  %td.small-3.padding-side-20.padding-10
                    5.2 %
                  %td.small-3.padding-side-20.padding-10
                    4.2 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    6 месяца
                    %p.small
                      151-183 дней
                  %td.small-3.padding-side-20.padding-10
                    11.4 %
                  %td.small-3.padding-side-20.padding-10
                    5.25 %
                  %td.small-3.padding-side-20.padding-10
                    4.25 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    7 месяца
                    %p.small
                      184-210 дней
                  %td.small-3.padding-side-20.padding-10
                    11.5 %
                  %td.small-3.padding-side-20.padding-10
                    5.3 %
                  %td.small-3.padding-side-20.padding-10
                    4.3 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    8 месяца
                    %p.small
                      211-240 дней
                  %td.small-3.padding-side-20.padding-10
                    11.6 %
                  %td.small-3.padding-side-20.padding-10
                    5.35 %
                  %td.small-3.padding-side-20.padding-10
                    4.35 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    9 месяца
                    %p.small
                      241-270 дней
                  %td.small-3.padding-side-20.padding-10
                    11.7 %
                  %td.small-3.padding-side-20.padding-10
                    5.4 %
                  %td.small-3.padding-side-20.padding-10
                    4.4 %
        %section
          %p.title{data:{section:{title: ""}}}
            %a{href:"#panel1"}
              %span
                Свыше 9 месяцев
          .content{data:{section:{content:""}}}
            %table.no-base-strips.hide-for-small{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td.padding-25.text-left.muted.small-2{style:"vertical-align:top"}
                    Минимальная сумма
                  %td.padding-25.muted
                    10 месяцев
                    %p.small
                      271-300<br>дней
                  %td.padding-25.muted
                    11 месяцев
                    %p.small
                      301-330<br>дней
                  %td.padding-25.muted
                    12 месяцев
                    %p.small
                      331-366<br>дней
                  %td.padding-25.muted
                    13 месяцев
                    %p.small
                      367-390<br>дней
                  %td.padding-25.muted
                    14 месяцев
                    %p.small
                      391-420<br>дней
                  %td.padding-25.muted
                    15 месяцев
                    %p.small
                      421-450<br>дней
                  %td.padding-25.muted
                    16 месяцев
                    %p.small
                      451-480<br>дней
                  %td.padding-25.muted
                    17 месяцев
                    %p.small
                      481-510<br>дней
                  %td.padding-25.muted
                    18 месяцев
                    %p.small
                      511-540<br>дней
                %tr
                  %td.padding-25.text-left
                    1100 000 руб. РФ
                  %td.padding-25
                    %strong
                      11.8 %
                  %td.padding-25
                    %strong
                      11.9 %
                  %td.padding-25
                    %strong
                      12 %
                  %td.padding-25
                    %strong
                      12.1 %
                  %td.padding-25
                    %strong
                      12.2 %
                  %td.padding-25
                    %strong
                      12.3 %
                  %td.padding-25
                    %strong
                      12.4 %
                  %td.padding-25
                    %strong
                      12.5 %
                  %td.padding-25
                    %strong
                      12.6 %
                %tr
                  %td.padding-25.text-left
                    10 000 USD
                  %td.padding-25
                    %strong
                      5.45 %
                  %td.padding-25
                    %strong
                      5.5 %
                  %td.padding-25
                    %strong
                      5.55 %
                  %td.padding-25
                    %strong
                      5.6 %
                  %td.padding-25
                    %strong
                      5.65 %
                  %td.padding-25
                    %strong
                      5.7 %
                  %td.padding-25
                    %strong
                      5.75 %
                  %td.padding-25
                    %strong
                      5.8 %
                  %td.padding-25
                    %strong
                      5.85 %
                %tr
                  %td.padding-25.text-left
                    10 000 EUR
                  %td.padding-25
                    %strong
                      4.45 %
                  %td.padding-25
                    %strong
                      4.5 %
                  %td.padding-25
                    %strong
                      4.55 %
                  %td.padding-25
                    %strong
                      4.6 %
                  %td.padding-25
                    %strong
                      4.65 %
                  %td.padding-25
                    %strong
                      4.7 %
                  %td.padding-25
                    %strong
                      4.75 %
                  %td.padding-25
                    %strong
                      4.8 %
                  %td.padding-25
                    %strong
                      4.85 %
            %table.no-base-strips.show-for-small{style: "width: 100%", cellpadding: "0", cellspacing: "0"}
              %tbody.text-center
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    Сумма вклада
                  %td.small-3.padding-side-20.padding-10
                    от 10 000 руб. РФ
                  %td.small-3.padding-side-20.padding-10
                    от 500 USD
                  %td.small-3.padding-side-20.padding-10
                    от 500 EUR
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    10 месяцев
                    %p.small
                      271-300 дней
                  %td.small-3.padding-side-20.padding-10
                    11.8 %
                  %td.small-3.padding-side-20.padding-10
                    5.45 %
                  %td.small-3.padding-side-20.padding-10
                    4.45 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    11 месяцев
                    %p.small
                      301-330 дней
                  %td.small-3.padding-side-20.padding-10
                    11.9 %
                  %td.small-3.padding-side-20.padding-10
                    5.5 %
                  %td.small-3.padding-side-20.padding-10
                    4.5 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    12 месяцев
                    %p.small
                      331-366 дней
                  %td.small-3.padding-side-20.padding-10
                    12 %
                  %td.small-3.padding-side-20.padding-10
                    5.55 %
                  %td.small-3.padding-side-20.padding-10
                    4.55 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    13 месяцев
                    %p.small
                      367-390 дней
                  %td.small-3.padding-side-20.padding-10
                    12.1 %
                  %td.small-3.padding-side-20.padding-10
                    5.6 %
                  %td.small-3.padding-side-20.padding-10
                    4.6 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    14 месяцев
                    %p.small
                      391-420 дней
                  %td.small-3.padding-side-20.padding-10
                    12.2 %
                  %td.small-3.padding-side-20.padding-10
                    5.65 %
                  %td.small-3.padding-side-20.padding-10
                    4.65 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    15 месяцев
                    %p.small
                      421-450 дней
                  %td.small-3.padding-side-20.padding-10
                    12.3 %
                  %td.small-3.padding-side-20.padding-10
                    5.7 %
                  %td.small-3.padding-side-20.padding-10
                    4.7 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    16 месяцев
                    %p.small
                      451-480 дней
                  %td.small-3.padding-side-20.padding-10
                    12.4 %
                  %td.small-3.padding-side-20.padding-10
                    5.75 %
                  %td.small-3.padding-side-20.padding-10
                    4.75 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    17 месяцев
                    %p.small
                      481-510 дней
                  %td.small-3.padding-side-20.padding-10
                    12.5 %
                  %td.small-3.padding-side-20.padding-10
                    5.8 %
                  %td.small-3.padding-side-20.padding-10
                    4.8 %
                %tr
                  %td.small-3.padding-side-20.padding-10.muted
                    18 месяцев
                    %p.small
                      511-540 дней
                  %td.small-3.padding-side-20.padding-10
                    12.6 %
                  %td.small-3.padding-side-20.padding-10
                    5.85 %
                  %td.small-3.padding-side-20.padding-10
                    4.85 %
