%section.product-documents-block
  .row
    .columns.small-12
      %h1.text-center
        Тарифы и документы
      %ul.documents-block-list
        %li
          %a{href: "#"}
            %i.icon.icon-documents
            %p
              Единые условия КБО ФЛ
        %li
          %a{href: "#"}
            %i.icon.icon-documents
            %p
              Тарифный план «Для Жизни»
        %li
          %a{href: "#"}
            %i.icon.icon-documents
            %p
              Правила выпуска, обслуживания и пользования банковскими картами
        %li
          %a{href: "#"}
            %i.icon.icon-documents
            %p
              Условия предоставления кредита в форме овердрафта к расчетной карте

      %p
        %a{href:"#"}
          Полный список документов для физических лиц
