$black-border: 1px solid #000000

.block-3
  background-color: #f7f7f7
  padding-top: 0px

.phone-block-3
  padding:
    top: 70px
  span
    font-size: 32px
    line-height: 32px
    color: #009fe3

.padding-top-220
  padding: 
    top: 220px

.topline
  border-top: 1px solid #e5e5e5

.tr-header
  color: #808080
  vertical-align: top
  line-height: 24px

.width-25em
  width: 25em

.font-size-2
  font-size: 18pt


.black-border
  border:
    left: $black-border
    top: $black-border
    bottom: $black-border
  td
    border:
      bottom: $black-border
      right: $black-border

.border-none
  td
    border: 
      bottom: none

.vertical-align-top
  vertical-align: top

.padding-0
  padding: 0







