.button, button
  border:
    style: $button-border-style
    color: $button-border-color
    width: $button-border-width
  background:
    color: $blue-color

  &:focus, &:hover
    background:
      color: $yelow-color
    border:
      color: white
    color: $blue-color