input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea
  +border-radius(3px)
  margin:
    bottom: 14px
  padding:
    left: emCalc(10)
    right: emCalc(10)

  &:focus
    +box-shadow(inset 0 0 0 1px $blue-color)

  +transition(none)


form
  .input-field
    margin:
      bottom: emCalc(20)

    input, textarea
      margin:
        bottom: emCalc(4)

    label
      font:
        size: emCalc(11)
        family: "MyriadProSemiBold"
      text-transform: uppercase

    .error-msg
      font-size: emCalc(11)
      color: $alert-color
      display: none

    &.error
      .error-msg
        display: block

    .sub-inputs
      font-size: 1.2em
      padding:
        top: emCalc(10)

      .input-field
        margin: 
          bottom: emCalc(10)


  .inline-fields
    font-size: emCalc(18)
    padding:
      top: 5px
    margin:
      bottom: 20px

    .custom.radio
      margin:
        top: -1px

    label
      text-transform: none
      font:
        size: emCalc(18)
        family: "MyriadProRegular"
      margin: 0

  .row
    .input-accept
      &.column, &.columns
        padding:
          top: emCalc(9)
          bottom: emCalc(3)

  .input-accept
    label
      font:
        size: emCalc(16)
        family: "MyriadProRegular"
      text-transform: none

  textarea
    resize: none
    height: emCalc(125)

  small
    font-size: emCalc(14)

  &.custom 
    .custom
      &.radio
        +border-radius(0)
        border: 0
        +icons-sprite(radio)
        height: icons-sprite-height(radio)
        width: icons-sprite-width(radio)

        &.checked
          +icons-sprite(radio-checked)

          &:before
            display: none

      &.checkbox
        border: 0
        +icons-sprite(checkbox)
        height: icons-sprite-height(checkbox)
        width: icons-sprite-width(checkbox)
        margin:
          right: 5px

        &.checked
          +icons-sprite(checkbox-checked)

          &:before
            display: none

      &.dropdown
        font-size: emCalc(20)
        +border-radius(3px)
        background: #fff
        border:
          color: #a6a6a6

      &.disabled
        background:
          color: #f0f0f0
        border:
          color: #a6a6a6

        .current
          color: rgba(0, 0, 0, 0.3)

    .error
      .custom.dropdown
        margin:
          bottom: emCalc(4)

.inline-select
  overflow: visible
  +clearfix

  .title
    padding: 7px 0

form .input-field
  .input-checkbox-list
    text-transform: none
    padding:
      left: 34px
    +clearfix
    color: $body-font-color
    font-family: "MyriadProRegular"

    p
      font-size: 13px
      margin: 0

    .custom.checkbox
      margin: 
        left: -34px
      float: left

    div.left
      width: 100%

    h6
      font-size: 11px
      font-family: "MyriadProSemiBold"
      text-transform: uppercase

