@import "icons/*.png"
+all-icons-sprites

.icon
  +inline-block

.icon-switcher
  +icons-sprite(main-switch-live)
  height: icons-sprite-height(main-switch-live)
  width: icons-sprite-width(main-switch-live)
  
.icon-lock
  +icons-sprite(lock-blue)
  height: icons-sprite-height(lock-blue)
  width: icons-sprite-width(lock-blue)

.icon-documents
  +icons-sprite(documents-small)
  height: icons-sprite-height(documents-small)
  width: icons-sprite-width(documents-small)

.icon-what-arrow
  +icons-sprite(what-arrow)
  height: icons-sprite-height(what-arrow)
  width: icons-sprite-width(what-arrow)

.icon-what-watch
  +icons-sprite(what-watch)
  height: icons-sprite-height(what-watch)
  width: icons-sprite-width(what-watch)

.icon-what-watch-small
  +icons-sprite(what-watch-small)
  height: icons-sprite-height(what-watch-small)
  width: icons-sprite-width(what-watch-small)

.icon-what-phone
  +icons-sprite(what-phone)
  height: icons-sprite-height(what-phone)
  width: icons-sprite-width(what-phone)

.icon-what-phone-small
  +icons-sprite(what-phone-small)
  height: icons-sprite-height(what-phone-small)
  width: icons-sprite-width(what-phone-small)

.icon-what-document
  +icons-sprite(what-document)
  height: icons-sprite-height(what-document)
  width: icons-sprite-width(what-document)

.icon-what-document-small
  +icons-sprite(what-document-small)
  height: icons-sprite-height(what-document-small)
  width: icons-sprite-width(what-document-small)

.icon-cat-feedback
  +icons-sprite(cat-feedback)
  height: icons-sprite-height(cat-feedback)
  width: icons-sprite-width(cat-feedback)

.icon-arrow-top-black
  +icons-sprite(arrow-top-black)
  height: icons-sprite-height(arrow-top-black)
  width: icons-sprite-width(arrow-top-black)

.icon-switcher-bullet
  +icons-sprite(switcher-bullet)
  height: icons-sprite-height(switcher-bullet)
  width: icons-sprite-width(switcher-bullet)

.icon-img-internet-bank
  +icons-sprite(img-internet-bank)
  height: icons-sprite-height(img-internet-bank)
  width: icons-sprite-width(img-internet-bank)

.icon-img-mobile-bank
  +icons-sprite(img-mobile-bank)
  height: icons-sprite-height(img-mobile-bank)
  width: icons-sprite-width(img-mobile-bank)

.icon-insured
  +icons-sprite(insured)
  height: icons-sprite-height(insured)
  width: icons-sprite-width(insured)

.icon-ico-pdf
  +icons-sprite(ico-pdf)
  height: icons-sprite-height(ico-pdf)
  width: icons-sprite-width(ico-pdf)




@media #{$small}
  .icon-documents
    +icons-sprite(documents)
    height: icons-sprite-height(documents)
    width: icons-sprite-width(documents)
