.quest-nav-fixed
  padding: 20px 0 10px
  position: fixed
  width: 100%
  bottom: 0
  left: 0
  z-index: 100
  background:
    image: image-url("questionnaire_t_y.png")
    repeat: no-repeat
    position: center top

.quest-main-top-corner
  height: 40px
  background:
    image: image-url("questionnaire_t.png")
    repeat: no-repeat
    position: center top

.quest-main-center-bg
  background:
    image: image-url("questionnaire_bg.png")
    repeat: repeat-y
    position: center top

.quest-main-bottom-bg
  height: 30px
  background:
    image: image-url("questionnaire_b.png")
    repeat: no-repeat
    position: center center

.questionnaire
  margin:
    bottom: -250px

  h1
    font-size: emCalc(38px)
    line-height: 1.1

  .quest-main-block
    padding: 0 65px
