.quest-nav-fixed
  padding: 20px 0 10px
  position: fixed
  width: 100%
  bottom: 0
  left: 0
  z-index: 98
  background:
    image: image-url("questionnaire_t_y.png")
    repeat: no-repeat
    position: center top
  font-size: emCalc(16)

.business
  .quest-nav-fixed
    background:
      image: image-url("questionnaire_t_t.png")

    a
      color: #fff

.quest-main-top-corner
  height: 40px
  background:
    image: image-url("questionnaire_t.png")
    repeat: no-repeat
    position: center top

.quest-main-center-bg
  background:
    image: image-url("questionnaire_bg.png")
    repeat: repeat-y
    position: center top
  position: relative
  z-index: 70

.quest-main-bottom-bg
  height: 30px
  background:
    image: image-url("questionnaire_b.png")
    repeat: no-repeat
    position: center center
  position: relative
  z-index: 60

.questionnaire
  margin:
    bottom: -250px
  position: relative
  color: $body-font-color

  h1
    font-size: emCalc(38)
    line-height: 1.2
    margin:
      bottom: 0.8em
    color: $body-font-color

  .quest-main-block
    padding: 0 emCalc(15)

    fieldset
      margin:
        bottom: 0

      .button
        margin: 
          bottom: 0


.questionnaire-full-form
  position: absolute
  width: 100%
  min-width: 100%
  z-index: 50
  margin:
    top: emCalc(-10)


.questionnaire-full-form-block
  padding:
    top: emCalc(20)
  background: #fff
  +box-shadow(0 0 10px 0 rgba(0,0,0,.5))

  h2
    margin:
      bottom: 0.8em


// STEPS
form
  .questionnaire-step-block
    fieldset
      margin:
        top: 0
    .row
      margin: 0 emCalc(-15)

      .columns
        padding:
          left: emCalc(15)
          right: emCalc(15)

        &.inline-fields
          padding:
            top: emCalc(7)
            bottom: emCalc(7)

      .row
        margin: 0 emCalc(-15)

        .columns
          padding:
            left: emCalc(15)
            right: emCalc(15)

          &.inline-fields
            padding:
              top: emCalc(7)
              bottom: emCalc(7)

#questionnaire-close-btn
  position: absolute
  top: emCalc(30)
  right: emCalc(30)
  z-index: 70


// Delivery Type Change
form
  .questionnaire-delivery-type-change-block
    &.row
      padding:
        top: emCalc(20)
        bottom: emCalc(20)
      margin:
        top: emCalc(10)
        bottom: emCalc(20)

    h2
      margin:
        bottom: emCalc(20)

.questionnaire-delivery-type-change
  ul
    list-style: none
    margin:
      bottom: 30px

    li
      margin: 0 emCalc(20)
      +inline-block(top)

      a
        font-size: emCalc(16)

        &.active
          color: $body-font-color
          border: 0
          cursor: default



  .questionnaire-delivery-type-block
    .item
      display: none

      &.active
        display: block

    .custom.radio
      margin:
        right: emCalc(10)


.product-questionnaire-infografic-new
  padding:
    top: emCalc(10)

  .icons-row
    margin:
      bottom: emCalc(18)

  .icon-arrow-dashed
    margin:
      top: emCalc(11)

form .row .row .columns.reg-fieldset
  padding: 
    top: 58px


@media #{$small}
  .questionnaire
    .quest-main-block
      padding: 0 65px

  .questionnaire-full-form-wrap
    padding: 0 emCalc(25)
