.section-bg-blue
  background:
    color: $blue-color
  color: white
  +box-shadow(0 0 3px 0 rgba(0,0,0,.5))

  a
    color: #fff

.section-bg-gray
  background:
    color: $gray-color

  &.product-features-block
    padding: 0 0 emCalc(60px)

.section-bg-dark-gray
  background:
    color: $dark-gray-color
  padding: emCalc(10px) 0

.section-bg-yelow
  background:
    color: $yelow-color

.section-bg-gray,
.section-bg-dark-gray,
.section-bg-yelow,
.section-bg-blue
  &.shadow-inset
    +box-shadow(inset 0 0 3px 0 rgba(0,0,0,.5))

  &.padding-40
    padding: emCalc(40px) 0

  &.padding-50
    padding: emCalc(50px) 0

  &.padding-70
    padding: emCalc(20px) 0

  &.padding-top-20
    padding: emCalc(20px) 0 0

  &.padding-top-200
    padding: emCalc(200px) 0 0


.section-bg-white-20
  padding: emCalc(16px) 0 emCalc(8px)

.section-bg-white-40
  padding: emCalc(40px) 0

.section-bg-white-60
  padding: emCalc(60px) 0


@media #{$small}
  .section-bg-gray,
  .section-bg-dark-gray,
  .section-bg-yelow
    &.padding-70
      padding: emCalc(70px) 0