.section-bg-blue
  background:
    color: $blue-color
  color: white
  +box-shadow(0 0 3px 0 rgba(0,0,0,.5))

  a
    color: #fff

.section-bg-blue-business
  background:
    color: $business-blue
  color: white

  h1
    color: #fff

.section-bg-gray
  background:
    color: $gray-color

  &.product-features-block
    padding: 0 0 emCalc(60)

.section-bg-dark-gray
  background:
    color: $dark-gray-color
  padding: emCalc(10) 0

.section-bg-yelow
  background:
    color: $yelow-color

.buhsoft-cat-title
  margin:
    top: emCalc(10)
    bottom: emCalc(-10)
  line-height: 1.2

.buhsoft-cat
  margin:
    bottom: emCalc(-15)

.buhsoft-text
  h1,
  p
    color: #000

.shadow-inset
  +box-shadow(inset 0 0 3px 0 rgba(0,0,0,.5))

.shadow-inset-top
  +box-shadow(inset 0 2px 2px 0 rgba(0,0,0,.2))

.shadow-inset-top-outset-bottom
  +box-shadow(inset 0 2px 3px 0 rgba(0,0,0,.2), 0 2px 3px 0 rgba(0,0,0,.2))

.padding-side-20
  padding: 
    left: emCalc(20)
    right: emCalc(20)

.padding-10
  padding: 
    top: emCalc(10)
    bottom: emCalc(10)

.padding-20
  padding: 
    top: emCalc(20)
    bottom: emCalc(20)

.padding-25
  padding: 
    top: emCalc(25)
    bottom: emCalc(25)

.padding-30
  padding: 
    top: emCalc(30)
    bottom: emCalc(30)

.padding-40
  padding: 
    top: emCalc(40)
    bottom: emCalc(40)

.padding-50
  padding: 
    top: emCalc(50)
    bottom: emCalc(50)

.padding-70
  padding: 
    top: emCalc(70)
    bottom: emCalc(70)

.padding-90
  padding: 
    top: emCalc(90)
    bottom: emCalc(90)

.padding-top-20
  padding: 
    top: emCalc(20)

.padding-top-30
  padding: 
    top: emCalc(30)

.padding-top-40
  padding: 
    top: emCalc(40)

.padding-top-50
  padding: 
    top: emCalc(50)

.padding-top-70
  padding:
    top: emCalc(70)

.padding-top-100
  padding:
    top: emCalc(100)

.padding-top-120
  padding:
    top: emCalc(120)

.padding-top-180
  padding:
    top: emCalc(180)

.padding-top-200
  padding: 
    top: emCalc(200)


.margin-bottom-20
  margin:
    bottom: emCalc(20)

.margin-bottom-30
  margin:
    bottom: emCalc(30)

.margin-bottom-35
  margin:
    bottom: emCalc(35)

.margin-bottom-40
  margin:
    bottom: emCalc(40)

.margin-bottom-50
  margin:
    bottom: emCalc(50)

.margin-bottom-200
  margin:
    bottom: emCalc(200)

.margin-top-230
  margin:
    top: emCalc(230)

h1.margin-bottom-40
  margin:
    bottom: 1.05em


.section-bg-white-20
  padding: emCalc(16) 0 emCalc(8)

.section-bg-white-40
  padding: emCalc(40) 0

.section-bg-white-60
  padding: emCalc(60) 0


@media #{$small}
  .section-bg-gray,
  .section-bg-dark-gray,
  .section-bg-yelow
    &.padding-70
      padding: emCalc(70) 0

  .large-padding-90
    padding: 
      top: emCalc(90)
      bottom: emCalc(90)


.clients-page-content-block
  color: #808080

  ul
    margin:
      left: emCalc(20)

    a
      font-size: emCalc(16)