.section-bg-blue
  background:
    color: $blue-color
  color: white
  +box-shadow(0 0 3px 0 rgba(0,0,0,.5))

.section-bg-gray
  background:
    color: $gray-color
  padding: emCalc(70px) 0

.section-bg-dark-gray
  background:
    color: $dark-gray-color
  padding: emCalc(10px) 0
  +box-shadow(inset 0 0 3px 0 rgba(0,0,0,.5))

.section-bg-yelow
  background:
    color: $yelow-color
  +box-shadow(inset 0 0 3px 0 rgba(0,0,0,.5))