.product-information-block
  [data-section=""], [data-section="auto"], .section-container.auto
    > section, > .section, > [data-section-region]
      > .title
        width: auto
        border:
          color: $yelow-color
        background: 
          color: transparent
        text-align: center

        a
          color: #26A6E5
          font-weight: bold
          text-decoration: none

          span
            border-bottom:
              style: dashed
              color: #26A6E5
              width: 1px

          &:hover
            span
              border: 0

      &.active
        > .title
          border:
            color: $yelow-color
          background:
            color: #fff

          a
            span
              border: 0

      > .content
        border-left-width: 5px
        border-right-width: 5px
        border-top-color: $yelow-color
        margin:
          top: -5px
        padding:
          left: emCalc(15px)
          right: emCalc(15px)

.accordion-nav
  .title
    position: relative

.accordion-nav section
  margin: 0.83333em

.accordion-nav .side-nav .hash-nav
  margin: 0
  padding: 0

.accordion-nav .side-nav
  padding:
    bottom: 0

.accordion-nav .content
  position: relative
  left: 20px

.accordion-nav .side-nav .hash-nav a
  font-size: 1em

.accordion-nav.auto
  .title
    a
      color: $blue-link-color
      text-decoration: none
      border:
        bottom: 1px dotted $blue-color
      display: inline
      font-size: 1em

    &:before
      position: absolute
      content: ""
      border:
        width: 5px 0 5px 5px
        color: transparent transparent transparent $body-font-color
        style: solid
      top: 7px
      left: -18px

@media #{$medium}
  .product-information-block
    [data-section=""], [data-section="auto"], .section-container.auto
      > section, > .section, > [data-section-region]
        > .title
          width: 33.6666%

@media #{$small}
  .product-information-block
    [data-section=""], [data-section="auto"], .section-container.auto
      > section, > .section, > [data-section-region]
        > .title
          border:
            color: transparent

        > .content
          border-left-width: 0
          border-right-width: 0
          margin:
            top: 0
          padding:
            left: 0
            right: 0
