.static-page-width
  min-width: $row-width

a
  text-decoration: underline
  color: $blue-link-color

  &.dashed
    text-decoration: none
    border:
      bottom: 1px dashed $blue-color

    &:hover
      border:
        color: #008DCA

  &.dotted
    text-decoration: none
    border:
      bottom: 1px dotted $blue-color

    &:hover
      border:
        color: transparent

  &.no-underline
    text-decoration: none

strong
  font-weight: normal
  font-family: "MyriadProSemiBold"

  &.tiny
    font-size: 11px
    font-family: "MyriadProBold"

h1
  .bcond
    font-family: "MyriadProBoldCond"

  .b
    font-family: "MyriadProBold"

  .smb
    font-family: "MyriadProSemiBold"

h2
  font-size: emCalc(20)

h3
  font-size: emCalc(16)

h6
  font-size: emCalc(11)

.muted
  color: #808080

.clr
  clear: both

.alert
  color: $alert-color

.blue
  color: $blue-color

p, span
  &.small
    font-size: emCalc(14)
span
  &.small
    display: block

ul
  &.yelow-check-list
    li
      position: relative
      padding:
        left: emCalc(26)
      margin:
        bottom: 5px

      &:before
        position: absolute
        content: ""
        left: 0
        top: 2px
        +icons-sprite(check-yelow)
        height: icons-sprite-height(check-yelow)
        width: icons-sprite-width(check-yelow)

h1, h2, h3, h4, h5, h6
  &.subheader
    font-family: "MyriadProRegular"


@media #{$small}
  h2
    font-size: emCalc(24)

  h3
    font-size: emCalc(18)