// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contacts-banner-block
  .logo-block
    padding:
      left: emCalc(35px)
      top: emCalc(10px)

  h1
    margin:
      top: 0
      bottom: 0.45em
    line-height: 1.25

  h2
    margin:
      top: 0
      bottom: 0

  .contacts-block
    padding:
      top: emCalc(40px)
      bottom: emCalc(10px)

    h2
      margin:
        bottom: emCalc(10px)

.contacts-adress-block
  padding:
    top: emCalc(40px)
    bottom: emCalc(30px)

  table
    border: 0

    thead tr th
      background:
        color: #fff

    tbody tr td
      border: 0
      vertical-align: top
