// Place all the styles related to the o_banke controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bank-about-sidebar
  .logo-block
    padding:
      top: emCalc(10px)
      left: emCalc(30px)
    margin:
      bottom: emCalc(20px)

.bank-about-information
  padding:
    top: emCalc(30px)

  h2
    font-size: emCalc(32px)

  h3
    font-size: emCalc(28px)

  h4
    font-size: emCalc(21px)

  p
    font-size: emCalc(16px)

    &.large
      font-size: emCalc(21px)

      .icon
        vertical-align: top

    &.medium
      font-size: emCalc(16px)

  .icon-card-ico
    vertical-align: top

  .master-card
    border: 
      width: 1px 0 1px 0
      style: solid
      color: #E5E5E5
    padding: 40px 0

  .blue-block
    color: #35AEE5
    font-size: emCalc(21px)
    font-family: "MyriadProBold"
    word-spacing: 8px

  ul.no-bullet
    li
      font-size: emCalc(16px)
      padding:
        left: 23px

      .icon
        float: left
        margin:
          left: -23px

  .product-insured-block
    h2
      font-size: emCalc(24px)

    p
      font-size: emCalc(16px)

    .sub-line
      margin:
        bottom: emCalc(35px)

.douments-block
  list-style: none
  margin:
    bottom: emCalc(80px)

  li
    +clearfix
    padding:
      left: 34px
    font-size: emCalc(14px)
    margin:
      bottom: 2.2em

    a
      font-size: 14px

    span
      color: #808080

  .icon
    margin:
      left: -34px

.mission-yelow
  margin:
    bottom: emCalc(50px)

  .icon
    margin:
      top: 2px

  p
    margin: 0

  .top
    background:
      position: top left

  .bottom
    background:
      position: bottom left

  .top, .bottom
    background: 
      image: image-url("mission-bg.png")
    height: 20px
    background:
      repeat: repeat-x


.bank-about-requisites
  h1
    margin:
      bottom: 1.5em

  .page-block
    h2
      margin:
        bottom: 2em

.bank-about-page
  h2
    margin:
      bottom: emCalc(25px)

  p
    font-size: emCalc(16px)
    margin:
      bottom: 1.3em

    &.medium
      font-size: emCalc(14px)
      line-height: 1.7em

  .orange-bg
    background:
      color: #FFFEEB

    p
      margin: 0

  .page-section
    padding: 
      top: emCalc(50px)

  .as-table
    +clearfix

    li
      margin:
        left: -20px
        // right: -20px
      padding:
        top: 2px
        bottom: 3px

      .columns
        font-size: emCalc(16px)
        line-height: 1.5

      .columns:first-child, .columns.sub-first
        border-right: 3px solid white
        padding: 
          left: 20px

      .columns:last-child
        border-left: 3px solid white
        margin:
          left: -3px
        float: left
        padding: 
          left: 20px

      &.header-yelow-line
        border-bottom: 3px solid $yelow-color
        padding:
          bottom: 15px
        margin: 
          bottom: 15px

        .columns
          font-size: emCalc(14px)

      &.gray-line
        border:
          bottom: 1px solid #EFEFEF
        margin:
          bottom: 8px
        padding:
          bottom: 10px


  .list-orange
    li
      background: #FFFEEB
      .columns
        font-size: emCalc(14px)
        line-height: 1.7

      &:first-child
        .columns
          border-top: 3px solid $yelow-color


.side-nav
  .hash-nav
    list-style-type: none
    margin:
      top: emCalc(30px)

    li
      position: relative

      &:before
        content: ""
        display: block
        +border-radius(1000px)
        position: absolute
        background:
          color: $blue-link-color
        width: 5px
        height: 5px
        left: -14px
        top: 9px

      a
        display: inline
        font-size: 1.14em

.info-about-documents-section
  .header
    margin:
      bottom: emCalc(30px)

    li
      a
        text-transform: uppercase
        font-size: emCalc(11px)
        text-decoration: none
        color: $body-font-color
        font-family: "MyriadProSemiBold"

        &.active
          color: #B2B2B2
          cursor: default

.documents-inline-block-list
  li
    +grid-column(12)
    float: none
    font-size: emCalc(15px)
    margin:
      bottom: emCalc(20px)

    padding:
      left: 50px

    .icon
      float: left
      margin:
        left: -35px


    p
      margin:
        bottom: 0.8em

.statements-documents-list
  list-style: none

  li
    background:
      image: image-url("file_line.png")
      position: 0 123px
      repeat: no-repeat

    &.row
      margin:
        left: -30px
        bottom: emCalc(60px)
      padding:
        left: 15px

    .columns:last-child
      background:
        image: image-url("file_line_r.png")
        position: right 123px
        repeat: no-repeat

    .columns
      p
        margin: 0
        font-size: emCalc(14px)

    .icon
      margin:
        bottom: 30px

.statement-section
  border:
    bottom: 1px solid #EFEFEF




@media #{$small}
  .douments-block
    li
      padding:
        left: 64px

    .icon
      margin:
        left: -64px

  .documents-inline-block-list
    li
      +grid-column(4)
      float: none
      +inline-block(top)
      width: 32%

      .icon
        margin:
          bottom: 5px
          left: 0
        float: none