%section.product-insured-block.padding-top-100
  .row
    .columns.small-3.small-offset-1.hide-for-small
      %i.icon.icon-insured
    .columns.small-12.large-8.left
      %h2 Банк входит в Систему страхования вкладов и регулярно осуществляет отчисления в Фонд страхования вкладов с привлекаемых средств.
      %p
        %strong Банк – Т (ОАО)
        является участником государственной Системы страхования вкладов, которая гарантирует каждому вкладчику полный возврат средств до 700 000 рублей (или эквивалента в долларах США / евро).

        %ul.inline-list
          %li
            %i.icon.icon-ico-pdf
          %li
            %a{href: "/media/download/straxovanie_vkladov_Bank-T.pdf", target: "_blamk", title: "Свидетельство о страховании вкладов"} Свидетельство о страховании вкладов